@page "/OP/CruiseSchedule"

<Loading isLoading="@isLoading"></Loading>
<LoadingScreen isLoadingScreen="@isLoadingScreen"></LoadingScreen>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModalUpdate_CruiseSchedule">
    <div class="modal-dialog">
        <div class="modal-content">
            <EditForm Model="@cruiseScheduleVM" OnValidSubmit="@UpdateCruiseSchedule">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>@cruiseScheduleVM.CruiseName - @cruiseScheduleVM.dDate.ToString("dd/MM/yyyy")</span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa-regular fa-circle-xmark text-danger"></i>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>Trạng thái tàu:</label>
                                <select class="selectpicker form-control form-control-sm" data-style="btn-selectpicker" data-container="body" data-live-search="true" @bind="cruiseScheduleVM.CruiseStatusCode">
                                    @if (cruiseStatusVMs != null)
                                    {
                                        @foreach (var _cruiseStatusVM in cruiseStatusVMs)
                                        {
                                            <option data-subtext="@_cruiseStatusVM.CruiseStatusCode" value="@_cruiseStatusVM.CruiseStatusCode">@_cruiseStatusVM.CruiseStatusName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Số khách:</label>
                                <input type="text" class="form-control form-control-sm text-center" @bind="cruiseScheduleVM.GuestNumber" onClick="this.select();" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Ghi chú:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control form-control-sm" @bind="cruiseScheduleVM.CruiseScheduleNote" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-save"></i> Cập nhật</button>
                </div>
            </EditForm>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<section class="content-header">

    <EditForm Model="@filterVM">
        <div class="row">

            <div class="col-md-2">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Tháng:</label>
                    <div class="col-sm-9">
                        <InputSelectNumber class="selectpicker form-control form-control-sm" data-style="btn-selectpicker" data-container="body" data-live-search="true"
                                           ValueExpression="@(()=>filterVM.Month)"
                                           Value="@filterVM.Month"
                                           ValueChanged="@((int value) => onchange_filter_month(value))">
                            @if (month_filter_list != null)
                            {
                                @foreach (var month in month_filter_list)
                                {
                                    <option value="@month.Month">@month.Month</option>
                                }
                            }
                        </InputSelectNumber>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Năm:</label>
                    <div class="col-sm-9">
                        <InputSelectNumber class="selectpicker form-control form-control-sm" data-style="btn-selectpicker" data-container="body" data-live-search="true"
                                           ValueExpression="@(()=>filterVM.Year)"
                                           Value="@filterVM.Year"
                                           ValueChanged="@((int value) => onchange_filter_year(value))">
                            @if (year_filter_list != null)
                            {
                                @foreach (var year in year_filter_list)
                                {
                                    <option value="@year.Year">@year.Year</option>
                                }
                            }
                        </InputSelectNumber>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    <InputSelect class="selectpicker form-control form-control-sm" data-style="btn-selectpicker" data-container="body" data-live-search="true"
                                 ValueExpression="@(()=>filterVM.DivisionID)"
                                 Value="@filterVM.DivisionID"
                                 ValueChanged="@((string value) => onchange_filter_division(value))">
                        @if (division_filter_list != null)
                        {
                            @foreach (var division_filter in division_filter_list)
                            {
                                <option data-subtext="@division_filter.DivisionID" value="@division_filter.DivisionID">@division_filter.DivisionName</option>
                            }
                        }
                    </InputSelect>
                </div>
            </div>

        </div>
    </EditForm>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary card-outline">

            @if (cruiseScheduleVMs != null)
            {
                <div class="card-header text-center">
                    @foreach (var _cruisstatus in cruiseScheduleVMs.Select(x => new { x.CruiseStatusName, x.ColorHEX }).Distinct())
                    {
                        <span class="badge" style="font-size: 100%; border: 1px solid #dee2e6; background-color:@_cruisstatus.ColorHEX">@_cruisstatus.CruiseStatusName</span>

                        <span>&nbsp;</span>
                    }
                </div>
                <!-- /.card-header -->

                <div class="card-body table-responsive p-0" style="height: calc(100vh - 149px);">

                    <table class="table table-sm table-bordered table-head-fixed table-hover-cursor text-nowrap tblFontSizeMin tblDayOff">
                        <thead>
                            <tr>
                                <th></th>
                                @foreach (var _day in cruiseScheduleVMs.Select(x => new { x.dDate }).Distinct())
                                {
                                    <th class="text-center">
                                        @_day.dDate.Day
                                    </th>
                                }
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var _cruise in cruiseScheduleVMs.Select(x => new { x.CruiseCode, x.CruiseName }).Distinct())
                            {
                                <tr>
                                    <th><i class="fa-solid fa-ship"></i> @_cruise.CruiseName</th>
                                    @foreach (var _cruisestatus in cruiseScheduleVMs.Select(x => new { x.dDate, x.CruiseCode, x.ColorHEX, x.GuestNumber, x.isCI }).Where(x => x.CruiseCode == _cruise.CruiseCode).Distinct())
                                    {
                                        @if (_cruisestatus.isCI)
                                        {
                                            <td class="text-center dutyroster-td" style="background-color: @_cruisestatus.ColorHEX;" @onclick="(() => InitializeModalUpdate_CruiseSchedule(cruiseScheduleVMs.Where(x=>x.dDate == _cruisestatus.dDate && x.CruiseCode == _cruisestatus.CruiseCode).FirstOrDefault()))">
                                                <span>@_cruisestatus.GuestNumber</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-center dutyroster-td" style="background-color: @_cruisestatus.ColorHEX;">
                                            </td>
                                        }
                                    }
                                </tr>

                                @foreach (var _stock in cruiseScheduleVMs.Select(x=> new {x.CruiseCode, x.StockCode, x.StockName}).Where(x => x.CruiseCode == _cruise.CruiseCode).Distinct())
                                {
                                    <tr>
                                        <th> <i class="fa-solid fa-arrow-right"></i> <i class="fa-solid fa-sack-dollar"></i> @_stock.StockName</th>
                                        @foreach (var _cost in cruiseScheduleVMs.Where(x => x.CruiseCode == _cruise.CruiseCode && x.StockCode == _stock.StockCode))
                                        {
                                            <td class="text-center">
                                                @if (_cost.sumAmount != 0)
                                                {
                                                    <span>@String.Format("{0:#,##0}",_cost.sumAmount) đ</span>

@*                                                     <br />
                                                    <span class="@(_cost.FoodCostPercentage>100?"text-danger":"text-success")">@Math.Round(_cost.FoodCostPercentage, 2, MidpointRounding.AwayFromZero)%</span> *@
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                            }

                            <tr>
                                <th></th>
                                @foreach (var _day in cruiseScheduleVMs.Select(x => new { x.dDate }).Distinct())
                                {
                                    <td class="text-center bg-danger dutyroster-td">
                                        @cruiseScheduleVMs.Where(x=>x.dDate == _day.dDate).Select(x=> x.NumDay != 0? 1: 0).Sum()
                                    </td>
                                }
                            </tr>

                        </tbody>
                    </table>

                </div>
                <!-- /.card-body -->
            }

        </div>
    </div><!-- /.container-fluid -->
</section>
