@page "/SYS/Rpt"

<Loading isLoading="@isLoading"></Loading>
<LoadingScreen isLoadingScreen="@isLoadingScreen"></LoadingScreen>

<section class="content-header">
    <EditForm Model="@filterVM">
        <div class="row">

            <div class="col-sm-2 col-md-2">
                <div class="form-group">
                    <InputSelect class="selectpicker form-control" data-style="btn-selectpicker" data-container="body" data-live-search="true"
                                 ValueExpression="@(()=>filterVM.ModuleID)"
                                 Value="@filterVM.ModuleID"
                                 ValueChanged="@((string value) => onchange_filter_module(value))">
                        @if (rpts != null)
                        {
                            @foreach (var module in rpts.Select(x => new { x.ModuleID, x.ModuleName }).Distinct())
                            {
                                <option value="@module.ModuleID">@module.ModuleName</option>
                            }
                        }
                    </InputSelect>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">

                <div class="form-group">
                    <div class="input-group">
                        <InputSelectNumber class="selectpicker form-control" data-style="btn-selectpicker" data-container="body" data-live-search="true"
                                           ValueExpression="@(()=>filterVM.RptGrpID)"
                                           Value="@filterVM.RptGrpID"
                                           ValueChanged="@((int value) => onchange_filter_rptgrp(value))">
                            <option value="0">-----Chọn nhóm báo cáo-----</option>
                            @if (rpts != null)
                            {
                                @foreach (var rptgrp in rpts.Select(x => new { x.RptGrpID, x.RptGrpName }).Distinct())
                                {
                                    <option value="@rptgrp.RptGrpID">@rptgrp.RptGrpName</option>
                                }
                            }
                        </InputSelectNumber>
                    </div>
                </div>

            </div>

            <div class="col-sm-7 col-md-7">

                <div class="form-group">
                    <div class="input-group">
                        <InputSelectNumber class="selectpicker form-control" data-style="btn-selectpicker" data-container="body" data-live-search="true"
                                           ValueExpression="@(()=>filterVM.RptID)"
                                           Value="@filterVM.RptID"
                                           ValueChanged="@((int value) => onchange_filter_rpt(value))">
                            <option value="0">-----Chọn báo cáo-----</option>
                            @if (rpts != null)
                            {
                                @foreach (var sysrpt in rpts)
                                {
                                    <option value="@sysrpt.RptID">@sysrpt.RptName</option>
                                }
                            }
                        </InputSelectNumber>
                    </div>
                </div>

            </div>

        </div>
    </EditForm>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary card-outline">

            <!-- /.card-header -->
            <div class="card-body">

                @if (filterVM.RptID != 0)
                {
                    <DxWasmDocumentViewer ReportName="@ReportName" Height="calc(100vh - 239px)" Width="100%">
                        <DxDocumentViewerExportSettings ShowPrintNotificationDialog="false" />
                        <DxDocumentViewerTabPanelSettings Width="340" />
                        <DxWasmDocumentViewerRequestOptions InvokeAction="DXXRDV"></DxWasmDocumentViewerRequestOptions>
                        <DxDocumentViewerCallbacks BeforeRender="ReportingViewerCustomization.onBeforeRender"
                                                   CustomizeParameterEditors="ReportingViewerCustomization.onCustomizeParameterEditors" />
                    </DxWasmDocumentViewer>
                }

            </div>
            <!-- /.card-body -->
        </div>
    </div><!-- /.container-fluid -->

</section>
