@page "/SYS/Rpt"

<Loading isLoading="@isLoading"></Loading>
<LoadingScreen isLoadingScreen="@isLoadingScreen"></LoadingScreen>

<Modal_RptViewer ReportName=@ReportName></Modal_RptViewer>

<section class="content-header">
    <EditForm Model="@filterVM">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <InputSelectNumber class="selectpicker form-control form-control-sm" data-style="btn-selectpicker" data-container="body" data-live-search="true"
                                       ValueExpression="@(()=>filterVM.RptID)"
                                       Value="@filterVM.RptID"
                                       ValueChanged="@((int value) => ViewRPT(value))">
                        <option value=0>-----Tìm kiếm theo sổ sách, báo cáo-----</option>
                        @if (rpts != null)
                        {
                            @foreach (var _rpt in rpts)
                            {
                                <option value="@_rpt.RptID">@_rpt.RptName</option>
                            }
                        }
                    </InputSelectNumber>
                </div>
            </div>
        </div>
    </EditForm>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary card-outline">

            <!-- /.card-header -->
            <div class="card-body">
                @if (rpts != null)
                {
                    <div class="row">
                        @foreach (var _rptGrp in rpts.Select(x => new { x.FuncGrpID, x.FuncGrpName, x.FuncGrpIcon }).Distinct())
                        {
                            <div class="col-md-6 mb-3">

                                <div class="card">

                                    <div class="info-box m-0">
                                        <span class="info-box-icon bg-primary"><i class="@_rptGrp.FuncGrpIcon"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text text-bold">@_rptGrp.FuncGrpName</span>
                                        </div>

                                    </div>

                                    <div class="card-footer p-0">
                                        <ul class="nav flex-column">
                                            @foreach (var _rpt in rpts.Where(x => x.FuncGrpID == _rptGrp.FuncGrpID))
                                            {
                                                <li class="nav-item">
                                                    <a href="javascript:void(0)" @onclick="(() => ViewRPT(_rpt.RptID))" class="nav-link">
                                                        <i class="fa-regular fa-star"></i> @_rpt.RptName
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        }

                    </div>
                }

            </div>
            <!-- /.card-body -->
        </div>
    </div><!-- /.container-fluid -->

</section>
