@using D69soft.Client.Services;
@using D69soft.Shared.Models.ViewModels.SYSTEM;
@inject IJSRuntime js

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModal_ChangePass">
    <div class="modal-dialog">
        <div class="modal-content">

            <EditForm Model="@changePassVM" OnValidSubmit="@ChangePass">

                <FluentValidationValidator />

                <div class="modal-header">
                    <h5 class="modal-title">Thiết lập mật khẩu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa-regular fa-circle-xmark text-danger"></i>
                    </button>
                </div>
                <div class="modal-body">

                    <p class="font-size-16 mt-2 mb-2 text-bold text-danger">
                        <span>Mật khẩu có tối thiểu 6 ký tự. Mật khẩu và xác nhận mật khẩu phải trùng nhau.</span>
                    </p>

                    <div class="form-row">
                        <div class="input-group mb-3">
                            <InputText type="@(changePassVM.isShowNewPass?"text":"password")" class="form-control" placeholder="Đặt mật khẩu" @bind-Value="changePassVM.NewPass" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    @if (!changePassVM.isShowNewPass)
                                    {
                                        <span class="fa-solid fa-eye-slash" style="cursor:pointer" @onclick="(() => changePassVM.isShowNewPass = true)"></span>
                                    }
                                    else
                                    {
                                        <span class="fa-solid fa-eye" style="cursor:pointer" @onclick="(() => changePassVM.isShowNewPass = false)"></span>
                                    }
                                </div>
                            </div>
                            <ValidationMessage For="@(() => changePassVM.NewPass)" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="input-group mb-3">
                            <InputText type="@(changePassVM.isShowComfirmNewPass?"text":"password")" class="form-control" placeholder="Xác nhận mật khẩu" @bind-Value="changePassVM.ComfirmNewPass" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    @if (!changePassVM.isShowComfirmNewPass)
                                    {
                                        <span class="fa-solid fa-eye-slash" style="cursor:pointer" @onclick="(() => changePassVM.isShowComfirmNewPass = true)"></span>
                                    }
                                    else
                                    {
                                        <span class="fa-solid fa-eye" style="cursor:pointer" @onclick="(() => changePassVM.isShowComfirmNewPass = false)"></span>
                                    }
                                </div>
                            </div>
                            <ValidationMessage For="@(() => changePassVM.ComfirmNewPass)" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-check"></i>
                        Xác thực
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Inject] AuthService authService { get; set; }

    //Change Pass
    ChangePassVM changePassVM = new();

    [Parameter]
    public string UserID { get; set; }

    private async Task ChangePass()
    {
        changePassVM.Eserial = UserID;

        if (await authService.ChangePass(changePassVM))
        {
            await js.Swal_Message("Thông báo!", "Thiết lập mật khẩu thành công.", SweetAlertMessageType.success);

            await js.InvokeAsync<object>("CloseModal", "#InitializeModal_ChangePass");
        }
    }

}
