@page "/FIN/BankAccount"
@using D69soft.Client.Pages.SYS
@using D69soft.Shared.Models.ViewModels.FIN;

<LoadingScreen isLoadingScreen="@isLoadingScreen"></LoadingScreen>
<Loading isLoading="@isLoading"></Loading>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModalUpdate_BankAccount">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <EditForm Model="bankAccountVM" Context="_formBankAccountVM">

                <FluentValidationValidator />

                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>TÀI KHOẢN NGÂN HÀNG</span>
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="GetBankAccounts">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Số tài khoản</label>
                            <InputText class="form-control form-control-sm" @bind-Value="bankAccountVM.BankAccount" />
                            <ValidationMessage For="@(() => bankAccountVM.BankAccount)" />
                        </div>
                        <div class="form-group col-md-9">
                            <label>Tên ngân hàng</label>
                            <InputSelect class="selectpicker form-control form-control-sm"
                                         data-style="btn-selectpicker" data-container="body"
                                         data-live-search="true" data-show-subtext="true"
                            @bind-Value="bankAccountVM.SwiftCode">
                                <option value=@String.Empty>-----Chọn-----</option>
                                @if (bankVMs != null)
                                {
                                    @foreach (var _bankVM in bankVMs)
                                    {
                                        <option data-subtext="@_bankVM.BankShortName" value="@_bankVM.SwiftCode">@_bankVM.BankFullName</option>
                                    }
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => bankAccountVM.SwiftCode)" />
                        </div>

                    </div>

                    <div class="form-group">
                        <label>Chủ tài khoản</label>
                        <InputText class="form-control form-control-sm" @bind-Value="@bankAccountVM.AccountHolder" />
                        <ValidationMessage For="@(() => bankAccountVM.AccountHolder)" />
                    </div>


                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-sm btn-success" @onclick=@(() => UpdateBankAccount(_formBankAccountVM, bankAccountVM.IsTypeUpdate))><i class="fas fa-check"></i> Lưu</button>
                    @if (bankAccountVM.IsTypeUpdate == 1)
                    {
                        <button type="submit" class="btn btn-sm btn-danger" @onclick=@(() => UpdateBankAccount(_formBankAccountVM,2))><i class="fas fa-trash-alt"></i> Xóa</button>
                    }
                </div>

            </EditForm>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card card-warning card-outline">

            <div class="card-header text-right">

                @if (bankAccountVM.BankAccountID != 0)
                {
                    <button type="button" class="btn btn-sm btn-info" @onclick=@(() => InitializeModalUpdate_BankAccount(1))><i class="fa-solid fa-file-invoice"></i> Chi tiết</button>
                }

                <button type="button" class="btn btn-sm btn-success" @onclick="(() => InitializeModalUpdate_BankAccount(0))"><i class="fa-solid fa-xl fa-plus"></i> Thêm mới</button>

            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: calc(100vh - 233px);">

                @if (bankAccountVMs != null)
                {
                    <table class="table table-sm table-bordered table-head-fixed table-hover table-hover-cursor tblFontSizeMin">
                        <thead class="thead-light">
                            <tr>
                                <th>Số tài khoản</th>
                                <th>Tên ngân hàng</th>
                                <th>Chủ tài khoản</th>
                            </tr>
                        </thead>
                        <tbody>
                            <Virtualize Items="@bankAccountVMs" Context="_bankAccountVM" OverscanCount="50">
                                <tr class="@(SetSelected(_bankAccountVM))" @onclick="() => onclick_Selected(_bankAccountVM)">
                                    <td>@_bankAccountVM.BankAccount</td>
                                    <td>@_bankAccountVM.BankFullName</td>
                                    <td>@_bankAccountVM.AccountHolder</td>
                                </tr>
                            </Virtualize>
                        </tbody>
                    </table>
                    if (bankAccountVMs.Count() <= 0)
                    {
                        <img class="img-no-result" src="images/_default/no-results.png" />
                    }
                }

            </div>
            <!-- /.card-body -->
            @if (bankVMs != null)
            {
                <div class="card-footer text-muted">
                    Tổng số: <b>@bankVMs.Count()</b> bản ghi
                </div>
            }
            <!-- /.card-footer -->
        </div>
    </div><!-- /.container-fluid -->
</section>

