@page "/FIN/Cashier"
@using D69soft.Client.Pages.SYS
@using D69soft.Shared.Models.ViewModels.FIN

<LoadingScreen isLoadingScreen="@isLoadingScreen"></LoadingScreen>
<Loading isLoading="@isLoading"></Loading>

<Modal_RptViewer ReportName=@filterVM.ReportName></Modal_RptViewer>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModal_Customer">
    <div class="modal-dialog">
        <div class="modal-content">
            <EditForm Model="@customerVM" OnValidSubmit="@UpdateCustomer">

                <FluentValidationValidator />

                <div class="modal-header">
                    <h5 class="modal-title">
                        @if (customerVM.IsTypeUpdate == 0)
                        {
                            <span>THÊM MỚI KHÁCH HÀNG</span>
                        }
                        else
                        {
                            <span>CẬP NHẬT KHÁCH HÀNG</span>
                        }
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Mã khách hàng</label>
                        <div class="col-sm-9">
                            @if (customerVM.IsTypeUpdate == 0)
                            {
                                <InputText class="form-control form-control-border border-width-2" placeholder="Mã mặc định" @bind-Value:get="customerVM.CustomerCode" @bind-Value:set="(value) => {customerVM.CustomerCode = value.ToUpper();}" />
                                <ValidationMessage For="@(() => customerVM.CustomerCode)" />
                            }
                            else
                            {
                                <InputText class="form-control form-control-border border-width-2" @bind-Value="@customerVM.CustomerCode" disabled />
                            }
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tên khách hàng</label>
                        <div class="col-sm-9">
                            <InputText class="form-control form-control-border border-width-2" @bind-Value="@customerVM.CustomerName" />
                            <ValidationMessage For="@(() => customerVM.CustomerName)" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Điện thoại</label>
                        <div class="col-sm-9">
                            <InputText class="form-control form-control-border border-width-2" placeholder="Ví dụ: 0912345678" @bind-Value="@customerVM.CustomerTel" />
                            <ValidationMessage For="@(() => customerVM.CustomerTel)" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Địa chỉ</label>
                        <div class="col-sm-9">
                            <InputText class="form-control form-control-border border-width-2" @bind-Value="@customerVM.CustomerAddress" />
                        </div>
                    </div>

                </div>

                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal"><i class="fas fa-times"></i> Thoát</button>

                    <button type="submit" class="btn btn-success btn-lg">
                        <i class="fas fa-save"></i>
                        Cập nhật
                    </button>

                </div>
            </EditForm>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModal_UpdateInvoiceDetail">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <EditForm Model="@voucherDetailVM" OnValidSubmit="@UpdateInvoiceDetail">

                <FluentValidationValidator />

                <div class="modal-header" style="display: inherit;">
                    <div class="row">
                        <div class="col-12 col-sm-9">
                            <h5 class="modal-title">

                                <div class="input-group ">
                                    @*<span>@invoiceDetail.IName - @string.Format("{0:#,##0.##}", @invoiceDetail.Price)</span>*@

                                    <span>@voucherDetailVM.IName</span>&ensp;

                                    <input type="text" name="currency-mask" class="form-control form-control-border border-width-2" @bind="voucherDetailVM.VDPrice" onClick="this.select();" style="font-size: larger; font-weight: bold; text-align: right;" />
                                </div>

                            </h5>
                        </div>

                        <div class="col-12 col-sm-3">
                            <div class="input-group ">
                                <div class="input-group-append">
                                    <button type="button" class="btn bg-primary" style="border-radius: 50%;" @onclick=@(()=>click_UpdateQty("-"))><i class="fa-solid fa-minus"></i></button>
                                </div>
                                <input type="text" class="form-control form-control-border border-width-2" @bind="onchange_Qty" @bind:event="oninput" onClick="this.select();" style="font-size: larger; font-weight: bold; text-align: center;" />
                                <div class="input-group-append">
                                    <button type="button" class="btn bg-primary" style="border-radius: 50%;" @onclick=@(()=>click_UpdateQty("+"))><i class="fa-solid fa-plus"></i></button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="modal-body">
                    @if (voucherDetailVM != null)
                    {
                        <div class="form-group">
                            <label>Ghi chú:</label>
                            <textarea class="form-control" placeholder="Nhập ghi chú..." @bind="voucherDetailVM.VDNote" />
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-7">
                                <div class="input-group ">
                                    <label>Giảm giá:</label>
                                    <input type="text" name="currency-mask" class="form-control form-control-border border-width-2" @bind="onchange_ItemsDiscountPrice" @bind:event="oninput" onClick="this.select();" style="font-size: larger; font-weight: bold; text-align: right;" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-warning btn-lg">VNĐ</button>
                                    </div>
                                    <input type="text" name="percent-mask" class="form-control form-control-border border-width-2" @bind="onchange_ItemsDiscountPercent" @bind:event="oninput" onClick="this.select();" style="font-size: larger; font-weight: bold; text-align: right;" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn bg-gray btn-lg">%</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-5">
                                <button type="button" class="btn btn-outline-secondary btn-lg" style="margin-bottom: 5px;" @onclick=@(()=>click_ItemsDiscountPercentSuggest(0))>0%</button>
                                <button type="button" class="btn btn-outline-secondary btn-lg" style="margin-bottom: 5px;" @onclick=@(()=>click_ItemsDiscountPercentSuggest(5))>5%</button>
                                <button type="button" class="btn btn-outline-secondary btn-lg" style="margin-bottom: 5px;" @onclick=@(()=>click_ItemsDiscountPercentSuggest(10))>10%</button>
                                <button type="button" class="btn btn-outline-secondary btn-lg" style="margin-bottom: 5px;" @onclick=@(()=>click_ItemsDiscountPercentSuggest(15))>15%</button>
                                <button type="button" class="btn btn-outline-secondary btn-lg" style="margin-bottom: 5px;" @onclick=@(()=>click_ItemsDiscountPercentSuggest(20))>20%</button>
                                <button type="button" class="btn btn-outline-secondary btn-lg" style="margin-bottom: 5px;" @onclick=@(()=>click_ItemsDiscountPercentSuggest(25))>25%</button>
                                <button type="button" class="btn btn-outline-secondary btn-lg" style="margin-bottom: 5px;" @onclick=@(()=>click_ItemsDiscountPercentSuggest(30))>30%</button>
                                <button type="button" class="btn btn-outline-secondary btn-lg" style="margin-bottom: 5px;" @onclick=@(()=>click_ItemsDiscountPercentSuggest(50))>50%</button>
                            </div>

                        </div>
                    }
                </div>

                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal" @onclick=@(()=>CloseModal_UpdateInvoiceDetail())><i class="fas fa-times"></i> Thoát</button>

                    <button type="submit" class="btn btn-success btn-lg">
                        <i class="fas fa-save"></i>
                        Cập nhật
                    </button>

                </div>
            </EditForm>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@* <div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModal_InvoiceDiscount">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <EditForm Model="@voucherDetailVM" OnValidSubmit="@UpdateInvoiceDiscount">

                <FluentValidationValidator />

                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>Số hóa đơn: <span>@voucherDetailVM.VNumber</span></span>
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick=@(()=>CloseModal_InvoiceDiscount())>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    @if (voucherDetailVM != null)
                    {
                        <div class="row">
                            <div class="col-12 col-sm-7">
                                <div class="input-group ">
                                    <label>Giảm giá:</label>
                                    <input type="text" name="currency-mask" class="form-control form-control-border border-width-2" @bind="onchange_InvoiceDiscountPrice" @bind:event="oninput" onClick="this.select();" style="font-size: larger; font-weight: bold; text-align: right;" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-warning btn-lg">VNĐ</button>
                                    </div>
                                    <input type="text" name="percent-mask" class="form-control form-control-border border-width-2" @bind="onchange_InvoiceDiscountPercent" @bind:event="oninput" onClick="this.select();" style="font-size: larger; font-weight: bold; text-align: right;" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn bg-gray btn-lg">%</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-5">
                                <button type="button" class="btn btn-outline-secondary btn-lg" style="margin-bottom: 5px;" @onclick=@(()=>click_InvoiceDiscountPercentSuggest(0))>0%</button>
                                <button type="button" class="btn btn-outline-secondary btn-lg" style="margin-bottom: 5px;" @onclick=@(()=>click_InvoiceDiscountPercentSuggest(5))>5%</button>
                                <button type="button" class="btn btn-outline-secondary btn-lg" style="margin-bottom: 5px;" @onclick=@(()=>click_InvoiceDiscountPercentSuggest(10))>10%</button>
                                <button type="button" class="btn btn-outline-secondary btn-lg" style="margin-bottom: 5px;" @onclick=@(()=>click_InvoiceDiscountPercentSuggest(15))>15%</button>
                                <button type="button" class="btn btn-outline-secondary btn-lg" style="margin-bottom: 5px;" @onclick=@(()=>click_InvoiceDiscountPercentSuggest(20))>20%</button>
                                <button type="button" class="btn btn-outline-secondary btn-lg" style="margin-bottom: 5px;" @onclick=@(()=>click_InvoiceDiscountPercentSuggest(25))>25%</button>
                                <button type="button" class="btn btn-outline-secondary btn-lg" style="margin-bottom: 5px;" @onclick=@(()=>click_InvoiceDiscountPercentSuggest(30))>30%</button>
                                <button type="button" class="btn btn-outline-secondary btn-lg" style="margin-bottom: 5px;" @onclick=@(()=>click_InvoiceDiscountPercentSuggest(50))>50%</button>
                            </div>

                        </div>
                    }
                </div>

                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal" @onclick=@(()=>CloseModal_InvoiceDiscount())><i class="fas fa-times"></i> Thoát</button>

                    <button type="submit" class="btn btn-success btn-lg">
                        <i class="fas fa-save"></i>
                        Cập nhật
                    </button>

                </div>
            </EditForm>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div> *@

@* <div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModal_Payment">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <EditForm Model="@voucherVM" OnValidSubmit="@SavePayment">

                <FluentValidationValidator />

                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>THÔNG TIN THANH TOÁN</span>
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body" style="background: #f8f8fa;">
                    @if (voucherVM != null)
                    {
                        <div class="row">

                            <div class="col-12 col-sm-3">
                                @{
                                    string active_CASH;
                                    active_CASH = voucherVM.PaymentTypeCode == "CASH" ? "active_btnPMode" : "";

                                    string active_BANKING;
                                    active_BANKING = voucherVM.PaymentTypeCode == "BANK" ? "active_btnPMode" : "";

                                    <button type="button" class="btn btn-block bg-white btn-lg border @active_CASH" style="text-align: left;" @onclick=@(()=>click_PaymentMode("CASH"))><span style="color:#DBC277"><i class="far fa-2xl fa-money-bill-alt"></i> Tiền mặt</span></button>
                                    <button type="button" class="btn btn-block bg-white btn-lg border @active_BANKING" style="text-align: left;" @onclick=@(()=>click_PaymentMode("BANK"))><span style="color:#DBC277"><i class="fa-solid fa-2xl fa-credit-card"></i> Chuyển khoản</span></button>
                                }
                            </div>

                            <div class="col-12 col-sm-9">

                                <div class="form-group">

                                    <table class="table" style="background: white;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Khách đưa
                                                </th>
                                                <th style="text-align: right;">
                                                    Tổng thanh toán
                                                </th>
                                                <th style="text-align: right;">
                                                    Tiền thừa
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input type="text" name="currency-mask" class="form-control form-control-border border-width-2" @bind="onchange_CustomerAmount" @bind:event="oninput" onClick="this.select();" style="font-size: larger;" />
                                                </td>
                                                <td style="text-align: right; font-weight: bold; font-size: larger;">

                                                    @string.Format("{0:#,##0.##}", voucherVM.sumAmountPay)

                                                </td>
                                                <td style="text-align: right; font-size: medium;">
                                                    @string.Format("{0:#,##0.##}", voucherVM.ReturnAmount * -1)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>

                                <div class="form-group">

                                    @if (customerAmountSuggestList != null)
                                    {
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    @foreach (var customerAmountSuggest in customerAmountSuggestList)
                                                    {
                                                        <td style="padding: 0;">
                                                            <button type="button" class="btn btn-block bg-white btn-lg" @onclick=@(()=>click_CustomerAmountSuggest(customerAmountSuggest.CustomerAmountSuggest))><span style="color:#DBC277">@string.Format("{0:#,##0.##}", customerAmountSuggest.CustomerAmountSuggest)</span></button>
                                                        </td>
                                                    }
                                                </tr>
                                            </tbody>
                                        </table>
                                    }
                                </div>

                                <div class="form-group">

                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <button type="button" class="btn btn-lg btn-block bg-white" @onclick=@(()=>click_CalculatorUpdateInvoiceDtl("1"))><span style="color:#DBC277">1</span></button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-lg btn-block bg-white" @onclick=@(()=>click_CalculatorUpdateInvoiceDtl("2"))><span style="color:#DBC277">2</span></button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-lg btn-block bg-white" @onclick=@(()=>click_CalculatorUpdateInvoiceDtl("3"))><span style="color:#DBC277">3</span></button>
                                                </td>
                                                <td rowspan="2">
                                                    <button type="button" class="btn btn-lg btn-block bg-white" @onclick=@(()=>click_CalculatorUpdateInvoiceDtl("x"))><span style="color:#DBC277"><i class="fa-solid fa-lg fa-delete-left"></i></span></button>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <button type="button" class="btn btn-lg btn-block bg-white" @onclick=@(()=>click_CalculatorUpdateInvoiceDtl("4"))><span style="color:#DBC277">4</span></button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-lg btn-block bg-white" @onclick=@(()=>click_CalculatorUpdateInvoiceDtl("5"))><span style="color:#DBC277">5</span></button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-lg btn-block bg-white" @onclick=@(()=>click_CalculatorUpdateInvoiceDtl("6"))><span style="color:#DBC277">6</span></button>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <button type="button" class="btn btn-lg btn-block bg-white" @onclick=@(()=>click_CalculatorUpdateInvoiceDtl("7"))><span style="color:#DBC277">7</span></button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-lg btn-block bg-white" @onclick=@(()=>click_CalculatorUpdateInvoiceDtl("8"))><span style="color:#DBC277">8</span></button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-lg btn-block bg-white" @onclick=@(()=>click_CalculatorUpdateInvoiceDtl("9"))><span style="color:#DBC277">9</span></button>
                                                </td>
                                                <td rowspan="2">
                                                    <button type="button" class="btn btn-lg btn-block bg-white" @onclick=@(()=>click_CalculatorUpdateInvoiceDtl("c"))><span style="color:#DBC277">C</span></button>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <button type="button" class="btn btn-lg btn-block bg-white" @onclick=@(()=>click_CalculatorUpdateInvoiceDtl("0"))><span style="color:#DBC277">0</span></button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-lg btn-block bg-white" @onclick=@(()=>click_CalculatorUpdateInvoiceDtl("00"))><span style="color:#DBC277">00</span></button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-lg btn-block bg-white" @onclick=@(()=>click_CalculatorUpdateInvoiceDtl("000"))><span style="color:#DBC277">000</span></button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>

                                <button type="submit" class="btn btn-block bg-primary btn-lg">
                                    <i class="fa fa-lg fa-file-invoice-dollar"></i> <span style="font-weight: bold;">Thanh toán</span>
                                </button>

                            </div>
                        </div>
                    }
                </div>
            </EditForm>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div> *@

<section id="POS" class="content" style="padding-top: 5px">

    <div class="container-fluid">

        <div class="row">

            <div class="col-12 col-sm-5">

                <div class="card card-primary card-outline">

                    @if (!String.IsNullOrEmpty(voucherVM.VNumber))
                    {
                        <div class="v_invoice" style="height: 100%;">

                            <table class="table no-border" style="margin-bottom: 6px;">
                                <thead style="background-color: #DBC277;color: #FFF">
                                    <tr>
                                        @if (voucherVM.RoomTableCode != "TakeOut")
                                        {
                                            <th style="width: 50%;">@voucherVM.RoomTableName</th>
                                        }
                                        else
                                        {
                                            <th style="width: 50%;">@voucherVM.RoomTableName</th>
                                        }
                                        <th class="text-right" style="width: 50%;">Số hóa đơn: @voucherVM.VNumber</th>
                                    </tr>
                                </thead>
                            </table>

                            <div style="margin-bottom: 5px; display: flex;">

                                <div class="col-12 col-sm-11">

                                    <BlazoredTypeahead SearchMethod="SearchCustomer"
                                                       Value="customerVM"
                                                       ValueChanged="@( (CustomerVM i) => SelectedCustomer(i) )"
                                                       ValueExpression="@( () => customerVM)"
                                                       Debounce="500"
                                                       MinimumLength="2"
                                                       MaximumSuggestions="6"
                                                       placeholder="Tìm kiếm theo tên hoặc số điện thoại...">
                                        <SelectedTemplate Context="_cus">
                                            @if (!String.IsNullOrEmpty(customerVM.CustomerCode))
                                            {
                                                <i class="fa-solid fa-user-tie"></i> @_cus.CustomerName <i class="fa-solid fa-phone-flip"></i> @_cus.CustomerTel
                                            }
                                            else
                                            {
                                                <i class="fa-solid fa-magnifying-glass"></i> <span>Tìm kiếm khách hàng...</span>
                                            }
                                        </SelectedTemplate>
                                        <ResultTemplate Context="_cus">
                                            <i class="fa-solid fa-user-tie"></i> @_cus.CustomerName <i class="fa-solid fa-phone-flip"></i> @_cus.CustomerTel
                                        </ResultTemplate>
                                        <NotFoundTemplate Context="_cus">
                                            <i class="fa-solid fa-file-circle-xmark text-danger"></i> Không có dữ liệu
                                        </NotFoundTemplate>
                                    </BlazoredTypeahead>

                                </div>

                                @if (voucherVM.CustomerCode == "")
                                {
                                    <button type="button" class="btn" data-target="#InitializeModal_Customer" data-toggle="modal" @onclick=@(()=>InitializeModal_Customer(0))><i class="fa-solid fa-xl fa-user-plus text-success"></i></button>
                                }
                                else
                                {
                                    <button type="button" class="btn" data-target="#InitializeModal_Customer" data-toggle="modal" @onclick=@(()=>InitializeModal_Customer(1))><i class="fa-solid fa-xl fa-user-pen text-gray"></i></button>
                                }

                            </div>

                            <div class="list-items table-responsive" style="height: calc(100vh - 358px);">

                                @if (voucherDetailVMs != null)
                                {
                                    <table class="table table-head-fixed table-hover table-hover-cursor">
                                        <thead>
                                            <tr style="background-color: #dff0d8">
                                                <th class="text-center">#</th>
                                                <th>Sản phẩm</th>
                                                <th style="width: 15%; text-align: right;">Giá</th>
                                                <th style="width: 10%; text-align: center;">SL</th>
                                                <th style="width: 20%; text-align: right;">Tổng</th>
                                                <th class="text-center"><a href="javascript:void(0);" @onclick=@(()=>DelInvoiceItems(0))><i class="fa-solid fa-trash-can" style="color:#c82333;"></i></a></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @{
                                                int rowNum = 1;
                                            }

                                            @foreach (var _voucherDetailVM in voucherDetailVMs)
                                            {
                                                string focusItems;
                                                focusItems = filterVM.ICode == _voucherDetailVM.ICode ? "border: 2px solid #DBC277;" : "";

                                                <tr style="@focusItems">

                                                    <td class="text-center">@rowNum</td>

                                                    <td data-target="#InitializeModal_UpdateInvoiceDetail" data-toggle="modal" @onclick=@(()=>InitializeModal_UpdateInvoiceDetail(_voucherDetailVM))>
                                                        <span>@_voucherDetailVM.IName</span>
                                                        @if (!String.IsNullOrEmpty(_voucherDetailVM.VDNote))
                                                        {
                                                            <br />

                                                            <span style="font-size: .8rem !important; color: gray;"><i class="fa-solid fa-note-sticky"></i> @_voucherDetailVM.VDNote</span>
                                                        }
                                                    </td>
                                                    <td class="text-right" data-target="#InitializeModal_UpdateInvoiceDetail" data-toggle="modal" @onclick=@(()=>InitializeModal_UpdateInvoiceDetail(_voucherDetailVM))>
                                                        <span class="text-right">@string.Format("{0:#,##0.##}", @_voucherDetailVM.VDPrice)</span>
                                                        @if (_voucherDetailVM.VDDiscountAmount != 0)
                                                        {
                                                            <br />

                                                            <span style="font-size: .8rem !important; color: #c82333;">@string.Format("{0:#,##0.##}", @_voucherDetailVM.VDDiscountAmount * -1)</span>
                                                        }
                                                    </td>
                                                    <td class="text-center" data-target="#InitializeModal_UpdateInvoiceDetail" data-toggle="modal" @onclick=@(()=>InitializeModal_UpdateInvoiceDetail(_voucherDetailVM))>@_voucherDetailVM.VDQty</td>
                                                    <td class="text-right" data-target="#InitializeModal_UpdateInvoiceDetail" data-toggle="modal" @onclick=@(()=>InitializeModal_UpdateInvoiceDetail(_voucherDetailVM))><span class="text-right">@string.Format("{0:#,##0.##}", @_voucherDetailVM.VDAmount)</span></td>
                                                    <td class="text-center"><a href="javascript:void(0);" style="color:#c82333;" @onclick=@(()=>onclick_removeItems(_voucherDetailVM))><i class="fa-regular fa-trash-can" title="Xóa"></i></a></td>
                                                </tr>

                                                ++rowNum;
                                            }

                                        </tbody>
                                    </table>

                                    if (voucherDetailVMs.Count() <= 0)
                                    {
                                        <img class="img-no-result" src="images/_default/no-results.png" />
                                    }

                                }

                            </div>

                            <table class="table" style="margin-bottom: 10px;">
                                <thead>
                                    <tr style="background-color: #d9edf7">
                                        <th width="25%">Tổng tiền</th>
                                        <th class="text-right" colspan="2"><span>@string.Format("{0:#,##0.##}", voucherVM.TotalAmount)</span></th>
                                    </tr>
                                    <tr style="background-color: #d9edf7">
                                        <th width="25%"><a@* href="javascript:void(0);" data-target="#InitializeModal_InvoiceDiscount" data-toggle="modal" @onclick=@(()=>InitializeModal_InvoiceDiscount(voucherVM)) id="add_discount" *@>Giảm giá</a></th>
                                        <th class="text-right" colspan="2"><span>@String.Format("{0:#,##0}", voucherVM.PaymentAmount)</span></th>
                                    </tr>
                                    <tr style="background-color: #dff0d8">
                                        <th width="25%">Tổng tiền thanh toán <a role="button" data-toggle="modal" data-target="#noteModal"></a></th>
                                        <th class="text-right" colspan="2"><span>@String.Format("{0:#,##0.##}", voucherVM.TotalAmount)</span></th>
                                    </tr>
                                </thead>
                            </table>

                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="btn-group-vertical btn-block">
                                        <button type="button" class="btn bg-gradient-gray btn-block" @onclick=@(() => ChangeRoomTableAsync())><i class="fa-solid fa-xl fa-right-left"></i>&nbsp;<strong>CHUYỂN</strong></button>
                                        <button type="button" class="btn btn-danger btn-block" @onclick=@(() => DelInvoice())><i class="fa fa-xl fa-ban"></i>&nbsp;<strong>HỦY</strong></button>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="btn-group-vertical btn-block">
                                        <button type="button" class="btn bg-primary btn-block"><i class="fa fa-xl fa-bell"></i>&nbsp;<strong>THÔNG BÁO</strong></button>
                                        <button type="button" class="btn bg-navy btn-block" @onclick=@(() => PrintInvoice())><i class="fa fa-xl fa-print"></i>&nbsp;<strong>IN HÓA ĐƠN</strong></button>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">

                                    @{
                                        bool disabled_btnPay;
                                        disabled_btnPay = voucherDetailVMs.Count() == 0 ? true : false;
                                    }

                                    <button type="button" disabled="@disabled_btnPay" class="btn bg-success btn-block" style="height: 67px;" data-target="#InitializeModal_Payment" data-toggle="modal" @onclick="()=>InitializeModal_Payment()"><i class="fa-solid fa-xl fa-dollar-sign"></i>&nbsp;<strong>THANH TOÁN</strong></button>
                                </div>
                            </div>

                        </div>
                    }
                    else
                    {
                        <div class="overlay-wrapper" style="height: calc(100vh - 63px); color:#DBC277;">
                            @if (!String.IsNullOrEmpty(filterVM.StockCode))
                            {
                                <div class="overlay">
                                    <a @onclick=@(() => filterVM.StockCode = String.Empty)>
                                        <i class="fa-solid fa-xl fa-store fa-spin" style="color:#DBC277;"></i>
                                    </a>
                                    <div class="text-bold pt-2">@stockVMs.Where(x => x.StockCode == filterVM.StockCode).Select(x => x.StockName).First()</div>
                                </div>
                            }
                            else
                            {
                                <div class="overlay"><i class="fa-solid fa-xl fa-hand-point-right fa-spin"></i><div class="text-bold pt-2">Vui lòng chọn điểm bán hàng...</div></div>
                            }
                        </div>
                    }

                </div>

            </div>

            <div class="col-12 col-sm-7">

                @if (String.IsNullOrEmpty(filterVM.StockCode))
                {
                    <div class="card card-primary card-outline">
                        <div class="card-body" style="overflow: auto; height: calc(100vh - 63px);">
                            @if (stockVMs != null)
                            {
                                <div class="row">
                                    @foreach (var _stockVM in stockVMs)
                                    {
                                        <div class="col-lg-3 col-6">

                                            <div class="small-box bg-primary">
                                                <div class="inner">
                                                    <h3>#@_stockVM.StockCode</h3>
                                                    <p>@_stockVM.StockName</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="fa-solid fa-store"></i>
                                                </div>
                                                <a @onclick=@(() => ChoosePointOfSale(_stockVM.StockCode)) class="small-box-footer">Mở điểm bán hàng <i class="fas fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div>

                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="card card-primary card-outline card-outline-tabs">
                        <div class="card-header p-0 border-bottom-0">
                            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                                <li class="nav-item">
                                    @{
                                        string active_tabRoomTable;

                                        if (String.IsNullOrEmpty(voucherVM.VNumber))
                                        {
                                            active_tabRoomTable = "active";
                                        }
                                        else
                                        {
                                            active_tabRoomTable = @voucherVM.IsClickChangeRoomTable ? "active" : "";
                                        }

                                    }
                                    <a class="nav-link @active_tabRoomTable" @onclick=@(() => ClickTabRoomTable()) id="custom-tabs-four-room-tab" data-toggle="pill" href="#custom-tabs-four-room" role="tab" aria-controls="custom-tabs-four-room" aria-selected="true"><i class="fa-solid fa-table"></i> PHÒNG/BÀN</a>
                                </li>
                                @if (!String.IsNullOrEmpty(voucherVM.VNumber))
                                {
                                    <li class="nav-item">
                                        @{
                                            string active_tabMenu;

                                            active_tabMenu = @voucherVM.IsClickChangeRoomTable ? "" : "active";

                                        }
                                        <a class="nav-link @active_tabMenu" @onclick=@(() => ClickTabMenu()) id="custom-tabs-four-menu-tab" data-toggle="pill" href="#custom-tabs-four-menu" role="tab" aria-controls="custom-tabs-four-menu" aria-selected="false"><i class="fa-solid fa-book-open"></i> MENU</a>

                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="card-body" style="padding: 10px;">
                            <div class="tab-content" id="custom-tabs-four-tabContent">
                                @{
                                    string active_tabContentRoomTable;

                                    if (String.IsNullOrEmpty(voucherVM.VNumber))
                                    {
                                        active_tabContentRoomTable = "show active";
                                    }
                                    else
                                    {
                                        active_tabContentRoomTable = @voucherVM.IsClickChangeRoomTable ? "show active" : "";
                                    }
                                }
                                <div class="tab-pane fade @active_tabContentRoomTable" id="custom-tabs-four-room" role="tabpanel" aria-labelledby="custom-tabs-four-room-tab">

                                    <div class="card">
                                        <div class="card-body" style="overflow: auto; height: calc(100vh - 121px);">
                                            @if (!voucherVM.IsClickChangeRoomTable)
                                            {
                                                <a class="btn btn-app" @onclick=@(() => OpenTakeOut())><i class="fa fa-shopping-bag" aria-hidden="true"></i>Mang về</a>
                                            }
                                            @if (roomTableVMs != null)
                                            {
                                                @foreach (var _roomTableVM in roomTableVMs)
                                                {
                                                    <a class="btn btn-app" @onclick=@(() => OpenRoomTable(_roomTableVM))>
                                                        @if (_roomTableVM.IsOpen)
                                                        {
                                                            <span class="badge bg-green">@_roomTableVM.EserialPerform - @_roomTableVM.OpenByName (@(_roomTableVM.TimeCreated.HasValue ? _roomTableVM.TimeCreated.Value.ToString("HH:mm dd/MM/yyyy") : String.Empty))</span>
                                                        }
                                                        <i class="fas fa-shopping-cart" aria-hidden="true"></i>@_roomTableVM.RoomTableName
                                                    </a>
                                                }
                                            }

                                        </div>

                                    </div>

                                </div>
                                @{
                                    string active_tabContentMenu;

                                    if (!String.IsNullOrEmpty(voucherVM.VNumber))
                                    {
                                        active_tabContentMenu = voucherVM.IsClickChangeRoomTable ? "" : "show active";
                                    }
                                    else
                                    {
                                        active_tabContentMenu = "";
                                    }

                                }
                                <div class="tab-pane fade @active_tabContentMenu" id="custom-tabs-four-menu" role="tabpanel" aria-labelledby="custom-tabs-four-menu-tab">

                                    <input type="search" @bind="onchange_SearchValues" @bind:event="oninput" class="form-control form-control-lg" placeholder="Tìm kiếm sản phẩm...">

                                    @if (itemsVMs != null)
                                    {
                                        <button class="button button2 @(String.IsNullOrEmpty(filterVM.IGrpCode) ? "active" : "")" @onclick=@(() => FilterItems(String.Empty))>Tất cả</button>
                                        @foreach (var _iGrp in itemsVMs.Where(x => !String.IsNullOrEmpty(x.IGrpCode)).Select(x => new { x.IGrpCode, x.IGrpName }).Distinct())
                                        {
                                            <button class="button button2 @(filterVM.IGrpCode == _iGrp.IGrpCode ? "active" : "")" @onclick=@(() => FilterItems(_iGrp.IGrpCode))>@_iGrp.IGrpName</button>
                                        }
                                    }

                                    <div id="item-list">
                                        <div class="items" style="overflow: auto; height: calc(100vh - 226px);">
                                            @if (itemsVMs != null)
                                            {
                                                <Virtualize Items="@search_itemsVMs" Context="_itemsVM" OverscanCount="50">
                                                    <button type="button" data-name="@_itemsVM.IName" class="btn btn-both" @onclick=@(() => ChooseItems(_itemsVM.ICode))>
                                                        <span class="bg-img"><img src="@_itemsVM.IURLPicture1" alt="@_itemsVM.IName" style="width: 150px; height: 150px;"></span>
                                                        <span><span style="color: #DBC277;">@_itemsVM.IName</span></span>
                                                        <span style="height: 20px; font-weight: bold;">@string.Format("{0:#,##0.##}", @_itemsVM.IPrice)</span>
                                                    </button>
                                                </Virtualize>

                                                if (search_itemsVMs.Count() <= 0)
                                                {
                                                    <img class="img-no-result" src="images/_default/no-results.png" />
                                                }

                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                }

            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->

    </div>

</section>
