@page "/FIN/Customer"
@using D69soft.Client.Pages.SYS
@using D69soft.Shared.Models.ViewModels.FIN;

<LoadingScreen isLoadingScreen="@isLoadingScreen"></LoadingScreen>
<Loading isLoading="@isLoading"></Loading>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModalUpdate_Customer">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <EditForm Model="customerVM" Context="formCustomerVM">

                <FluentValidationValidator />

                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>KHÁCH HÀNG</span>
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="GetCustomers">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Mã khách hàng</label>
                            @if (customerVM.IsTypeUpdate == 0)
                            {
                                <InputText class="form-control form-control-sm" placeholder="Mã mặc định" @bind-Value="customerVM.CustomerCode" disabled />
                                <ValidationMessage For="@(() => customerVM.CustomerCode)" />
                            }
                            else
                            {
                                <input type="text" readonly class="form-control form-control-sm" value="@customerVM.CustomerCode" />
                            }
                        </div>
                        <div class="form-group col-md-5">
                            <label>Mã số thuế</label>
                            <InputText class="form-control form-control-sm" @bind-Value="@customerVM.CustomerTaxCode" />
                            <ValidationMessage For="@(() => customerVM.CustomerTaxCode)" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Điện thoại:</label>
                            <InputText class="form-control form-control-sm" @bind-Value="@customerVM.CustomerTel" />
                            <ValidationMessage For="@(() => customerVM.CustomerTel)" />
                        </div>

                    </div>

                    <div class="form-group">
                        <label>Tên khách hàng</label>
                        <InputText class="form-control form-control-sm" @bind-Value="@customerVM.CustomerName" />
                        <ValidationMessage For="@(() => customerVM.CustomerName)" />
                    </div>

                    <div class="form-group">
                        <label>Địa chỉ:</label>
                        <InputTextArea class="form-control form-control-sm" @bind-Value="@customerVM.CustomerAddress" />
                        <ValidationMessage For="@(() => customerVM.CustomerAddress)" />
                    </div>

                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-sm btn-success" @onclick=@(() => UpdateCustomer(formCustomerVM, customerVM.IsTypeUpdate))><i class="fas fa-check"></i> Lưu</button>
                    @if (customerVM.IsTypeUpdate == 1)
                    {
                        <button type="submit" class="btn btn-sm btn-danger" @onclick=@(() => UpdateCustomer(formCustomerVM,2))><i class="fas fa-trash-alt"></i> Xóa</button>
                    }
                </div>

            </EditForm>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card card-warning card-outline">

            <div class="card-header text-right">

                @if (!String.IsNullOrEmpty(customerVM.CustomerCode))
                {
                    <button type="button" class="btn btn-sm btn-info" @onclick=@(() => InitializeModalUpdate_Customer(1))><i class="fa-solid fa-file-invoice"></i> Chi tiết</button>
                }

                <button type="button" class="btn btn-sm btn-success" @onclick="(() => InitializeModalUpdate_Customer(0))"><i class="fa-solid fa-xl fa-plus"></i> Thêm mới</button>

            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: calc(100vh - 233px);">

                @if (customerVMs != null)
                {
                    <table class="table table-sm table-bordered table-head-fixed table-hover table-hover-cursor tblFontSizeMin">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center">Mã khách hàng</th>
                                <th>Tên khách hàng</th>
                                <th>Địa chỉ</th>
                                <th class="text-center">Công nợ</th>
                                <th class="text-center">Mã số thuế</th>
                                <th class="text-center">Điện thoại</th>
                            </tr>
                        </thead>
                        <tbody>
                            <Virtualize Items="@customerVMs" Context="_customerVM" OverscanCount="50">
                                <tr class="@(SetSelected(_customerVM))" @onclick="() => onclick_Selected(_customerVM)">
                                    <td class="text-center">@_customerVM.CustomerCode</td>
                                    <td>@_customerVM.CustomerName</td>
                                    <td>@_customerVM.CustomerAddress</td>
                                    <td></td>
                                    <td class="text-center">@_customerVM.CustomerTaxCode</td>
                                    <td class="text-center">@_customerVM.CustomerTel</td>
                                </tr>
                            </Virtualize>
                        </tbody>
                    </table>
                    if (customerVMs.Count() <= 0)
                    {
                        <img class="img-no-result" src="images/_default/no-results.png" />
                    }
                }

            </div>
            <!-- /.card-body -->
            @if (customerVMs != null)
            {
                <div class="card-footer text-muted">
                    Tổng số: <b>@customerVMs.Count()</b> bản ghi
                </div>
            }
            <!-- /.card-footer -->
        </div>
    </div><!-- /.container-fluid -->
</section>