@page "/FIN/InputOutput"
@using D69soft.Client.Pages.SYS
@using D69soft.Shared.Models.ViewModels.FIN;

<LoadingScreen isLoadingScreen="@isLoadingScreen"></LoadingScreen>
<Loading isLoading="@isLoading"></Loading>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModalUpdate_Voucher">
    <div class="modal-dialog modal-xxl">
        <div class="modal-content">

            <EditForm Model="stockVoucherVM" OnValidSubmit="@UpdateVoucher">

                <FluentValidationValidator />

                <div class="modal-header">
                    <h4 class="modal-title">
                        @if (filter_vTypeVMs != null && !String.IsNullOrEmpty(stockVoucherVM.VTypeID))
                        {
                            string _vTypeName = "CHỨNG TỪ " + filter_vTypeVMs.Where(x => x.VTypeID == stockVoucherVM.VTypeID).Select(x => x.VTypeDesc).First();
                            <span>@_vTypeName.ToUpper() @(String.IsNullOrEmpty(stockVoucherVM.VNumber) || stockVoucherVM.IsTypeUpdate == 5 ? String.Empty : stockVoucherVM.VNumber)</span>
                        }
                    </h4>
                    @if (vSubTypeVMs != null)
                    {
                        <div class="col-sm-3 @(stockVoucherVM.IsTypeUpdate==3?"noClick":"")">
                            <select class="selectpicker form-control" data-style="btn-selectpicker form-control" data-container="body" @bind="stockVoucherVM.VSubTypeID">
                                @foreach (var _vSubTypeVM in vSubTypeVMs)
                                {
                                    <option value="@_vSubTypeVM.VSubTypeID">@_vSubTypeVM.VSubTypeDesc</option>
                                }
                            </select>
                        </div>
                    }

                    @if (!String.IsNullOrEmpty(stockVoucherVM.Reference_VNumber))
                    {
                        <button type="button" class="btn btn-outline-secondary"><i class="fa-solid fa-file-import"></i> Tham chiếu @stockVoucherVM.Reference_VSubTypeName số @stockVoucherVM.Reference_VNumber</button>
                    }

                    @if (stockVoucherVM.VSubTypeID == "STOCK_Input_Purchasing" || stockVoucherVM.VSubTypeID == "STOCK_Transfer_Purchasing")
                    {
                        <div class="form-group clearfix @(stockVoucherVM.IsTypeUpdate==3?"noClick":"")">
                            <div class="icheck-success d-inline">
                                <input type="checkbox" id="IsMultipleInvoice" @bind="stockVoucherVM.IsMultipleInvoice">
                                <label for="IsMultipleInvoice">
                                    Mua hàng nhiều nhà cung cấp
                                </label>
                            </div>
                        </div>

                        <label>&nbsp;</label>
                    }

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="()=> InitializeModalClose_Voucher()">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>

                <div id="updateScrollToBottom" class="table-responsive" style="height: calc(100vh - 325px); min-height: 300px;">

                    <div class="modal-body @(stockVoucherVM.IsTypeUpdate==3?"noClick":"")" style="background-color: #f4f6f9;">

                        <div class="row">
                            <div class="col-sm-9" style="padding-right: 10px; border-right: 1px solid #e9ecef;">

                                @if (stockVoucherVM.VSubTypeID == "STOCK_Input_Purchasing" || stockVoucherVM.VSubTypeID == "STOCK_Transfer_Purchasing")
                                {
                                    @if (!stockVoucherVM.IsMultipleInvoice)
                                    {
                                        <div class="form-group">
                                            <label>Nhà cung cấp</label>
                                            <select class="selectpicker form-control"
                                            data-style="btn-selectpicker form-control" data-container="body"
                                            data-live-search="true" data-show-subtext="true"
                                            @bind="onchange_VendorCode">
                                                <option value=@String.Empty>-----Chọn nhà cung cấp-----</option>
                                                @if (vendorVMs != null)
                                                {
                                                    @foreach (var _vendorVM in vendorVMs)
                                                    {
                                                        <option data-subtext="@_vendorVM.VendorCode" value="@_vendorVM.VendorCode">@_vendorVM.VendorName</option>
                                                    }
                                                }
                                            </select>
                                            <ValidationMessage For="@(() => stockVoucherVM.VendorCode)" />
                                        </div>
                                    }
                                }

                                <div class="form-group">
                                    <label>Diễn giải</label>
                                    <InputText class="form-control" @bind-Value="stockVoucherVM.VDesc" />
                                    <ValidationMessage For="@(() => stockVoucherVM.VDesc)" />
                                </div>
                            </div>
                            <div class="col-sm-3" style="padding-left: 10px;">

                                <div class="form-group">
                                    <label>Ngày chứng từ</label>
                                    <div class="input-group">
                                        <DateRangePicker SingleDatePicker="true" class="form-control" name="date-mask"
                                                         Culture="@(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))"
                                                         @bind-StartDate="stockVoucherVM.VDate"
                                                         onClick="this.select();" />

                                        <div class="input-group-append">
                                            <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                        </div>
                                    </div>
                                    <ValidationMessage For="@(() => stockVoucherVM.VDate)" />
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-body p-0 @(stockVoucherVM.IsTypeUpdate==3?"noClick":"")">

                        <table class="table table-sm table-bordered table-head-fixed table-hover tblFontSizeMin" id="keyPressNextInput">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center">STT</th>
                                    <th>Tên hàng</th>

                                    <th class="text-center">Đơn vị</th>
                                    <th class="text-center" style="width: 80px;">Số lượng</th>
                                    @if (stockVoucherVM.VSubTypeID != "STOCK_Output_SalePOS")
                                    {
                                        <th class="text-center" style="width: 110px;">
                                            Đơn giá
                                            @*                                            @if (stockVoucherDetailVMs != null)
                                        {
                                        <a data-toggle="tooltip" data-placement="top" title="Cập nhật lại giá" @onclick=@(() => UpdateAllInventoryCheck_Qty())>
                                        <span class="badge bg-success"><i class="fa-solid fa-arrows-rotate"></i></span>
                                        </a>
                                        }*@
                                        </th>
                                        <th class="text-center" style="width: 110px;">Thành tiền</th>
                                    }
                                    <th>Ghi chú</th>
                                    @if (stockVoucherVM.VTypeID == "STOCK_Output" || stockVoucherVM.VTypeID == "STOCK_Transfer")
                                    {
                                        <th class="text-center" colspan=3>
                                            Xuất tại kho
                                            @if (stockVoucherDetailVMs != null)
                                            {
                                                <a data-toggle="tooltip" data-placement="top" title="Lấy lại tồn" @onclick=@(() => UpdateAllInventoryCheck_Qty())>
                                                    <span class="badge bg-success"><i class="fa-solid fa-arrows-rotate"></i></span>
                                                </a>
                                            }
                                        </th>
                                    }
                                    @if (stockVoucherVM.VTypeID == "STOCK_Input" || stockVoucherVM.VTypeID == "STOCK_Transfer")
                                    {
                                        <th class="text-center" colspan=2>Nhập tại kho</th>
                                    }
                                    @if (stockVoucherVM.VSubTypeID == "STOCK_Input_Purchasing" || stockVoucherVM.VSubTypeID == "STOCK_Transfer_Purchasing")
                                    {
                                        @if (stockVoucherVM.IsMultipleInvoice)
                                        {
                                            <th class="text-center" colspan=2>Nhà cung cấp</th>
                                        }
                                    }
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            @if (stockVoucherDetailVMs != null)
                            {
                                <tbody>
                                    @{
                                        int rowNum = 1;
                                        foreach (var _stockVoucherDetailVM in stockVoucherDetailVMs)
                                        {
                                            <tr>
                                                <td class="text-center">@rowNum</td>

                                                @if (_stockVoucherDetailVM.IsUpdateItem == 0)
                                                {
                                                    <td><a @onclick=@(() => _stockVoucherDetailVM.IsUpdateItem = 1)>@_stockVoucherDetailVM.ICode - @_stockVoucherDetailVM.IName</a></td>
                                                }
                                                else
                                                {
                                                    stockVoucherDetailVM = new();
                                                    <td>
                                                        <BlazoredTypeahead SearchMethod="SearchItems"
                                                           Value="stockVoucherDetailVM"
                                                           ValueChanged="@( (StockVoucherDetailVM i) => UpdateItem(i, _stockVoucherDetailVM) )"
                                                           ValueExpression="@( () => stockVoucherDetailVM)"
                                                           Debounce="500"
                                                           MinimumLength="2"
                                                           MaximumSuggestions="6"
                                                           placeholder="Tìm kiếm theo mã hàng hoặc tên hàng...">
                                                            <SelectedTemplate Context="_item">
                                                                <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm theo mã hàng hoặc tên hàng...
                                                            </SelectedTemplate>
                                                            <ResultTemplate Context="_item">
                                                                <i class="fa-solid fa-barcode"></i> @_item.ICode <i class="fa-solid fa-box"></i> @_item.IName
                                                            </ResultTemplate>
                                                            <NotFoundTemplate Context="_item">
                                                                <i class="fa-solid fa-file-circle-xmark text-danger"></i> Không có dữ liệu
                                                            </NotFoundTemplate>
                                                        </BlazoredTypeahead>
                                                    </td>
                                                }

                                                <td class="text-center">@_stockVoucherDetailVM.IUnitName</td>

                                                <td class="text-center">
                                                    <input class="form-control text-center" @bind="@_stockVoucherDetailVM.Qty" onClick="this.select();" />
                                                </td>

                                                @if (stockVoucherVM.VSubTypeID != "STOCK_Output_SalePOS")
                                                {
                                                    <td class="text-center">
                                                        <input class="form-control" name="currency-mask" @bind="@_stockVoucherDetailVM.Price" onClick="this.select();" />
                                                    </td>
                                                    <td class="text-right">@String.Format("{0:#,##0.##}", (_stockVoucherDetailVM.Price*(decimal)_stockVoucherDetailVM.Qty))</td>
                                                }


                                                <td>
                                                    <input class="form-control" @bind="@_stockVoucherDetailVM.VDNote" />
                                                </td>

                                                @if (stockVoucherVM.VTypeID == "STOCK_Output" || stockVoucherVM.VTypeID == "STOCK_Transfer")
                                                {
                                                    @if (_stockVoucherDetailVM.IsUpdateFromStock == 0)
                                                    {
                                                        <td>
                                                            @if (String.IsNullOrEmpty(_stockVoucherDetailVM.FromStockCode))
                                                            {
                                                                <a class="text-center" @onclick=@(() => _stockVoucherDetailVM.IsUpdateFromStock = 1)>-----Chọn kho-----</a>
                                                            }
                                                            else
                                                            {
                                                                <a @onclick=@(() => _stockVoucherDetailVM.IsUpdateFromStock = 1)>@_stockVoucherDetailVM.FromStockCode - @_stockVoucherDetailVM.FromStockName</a>
                                                            }
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <InputSelect class="selectpicker form-control"
                                                     data-style="btn-selectpicker form-control"
                                                     data-container="body" data-live-search="true"
                                                     data-show-subtext="true"
                                                     ValueExpression="@(()=>_stockVoucherDetailVM.FromStockCode)"
                                                     Value="@_stockVoucherDetailVM.FromStockCode"
                                                     ValueChanged="@((string value) =>onchange_FromStockCode(value, _stockVoucherDetailVM))">

                                                                <option value=@String.Empty>-----Chọn kho-----</option>
                                                                @if (stockVMs != null)
                                                                {
                                                                    @foreach (var _stockVM in stockVMs)
                                                                    {
                                                                        <option data-subtext="@_stockVM.StockCode" value="@_stockVM.StockCode">@_stockVM.StockName</option>
                                                                    }
                                                                }
                                                            </InputSelect>
                                                        </td>
                                                    }

                                                    <td class="@(_stockVoucherDetailVM.InventoryCheck_Qty<=0?"text-danger":"")">Tồn: @_stockVoucherDetailVM.InventoryCheck_Qty</td>

                                                    <td class="text-center">
                                                        <a data-toggle="tooltip" data-placement="top" title="Sao chép cho các dòng dưới" @onclick="(() => onclick_copyFromStockCode(_stockVoucherDetailVM))">
                                                            <span class="badge bg-success"><i class="fa-solid fa-copy"></i></span>
                                                        </a>
                                                    </td>
                                                }

                                                @if (stockVoucherVM.VTypeID == "STOCK_Input" || stockVoucherVM.VTypeID == "STOCK_Transfer")
                                                {
                                                    @if (_stockVoucherDetailVM.IsUpdateToStock == 0)
                                                    {
                                                        <td>
                                                            @if (String.IsNullOrEmpty(_stockVoucherDetailVM.ToStockCode))
                                                            {
                                                                <a class="text-center" @onclick=@(() => _stockVoucherDetailVM.IsUpdateToStock = 1)>-----Chọn kho-----</a>
                                                            }
                                                            else
                                                            {
                                                                <a @onclick=@(() => _stockVoucherDetailVM.IsUpdateToStock = 1)>@_stockVoucherDetailVM.ToStockCode - @_stockVoucherDetailVM.ToStockName</a>
                                                            }
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <select class="selectpicker form-control"
                                                data-style="btn-selectpicker form-control" data-container="body"
                                                data-live-search="true" data-show-subtext="true"
                                                    @bind="_stockVoucherDetailVM.ToStockCode">
                                                                <option value=@String.Empty>-----Chọn kho-----</option>
                                                                @if (stockVMs != null)
                                                                {
                                                                    @foreach (var _stockVM in stockVMs)
                                                                    {
                                                                        <option data-subtext="@_stockVM.StockCode" value="@_stockVM.StockCode">@_stockVM.StockName</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </td>
                                                    }

                                                    <td class="text-center">
                                                        <a data-toggle="tooltip" data-placement="top" title="Sao chép cho các dòng dưới" @onclick=@(() => stockVoucherDetailVMs.Where(x=>x.SeqVD > _stockVoucherDetailVM.SeqVD).ToList().ForEach(e => {e.ToStockCode = _stockVoucherDetailVM.ToStockCode; e.ToStockName = stockVMs.Where(x=>x.StockCode==_stockVoucherDetailVM.ToStockCode).Select(x=>x.StockName).FirstOrDefault();}))>
                                                            <span class="badge bg-success"><i class="fa-solid fa-copy"></i></span>
                                                        </a>
                                                    </td>
                                                }

                                                @if (stockVoucherVM.VSubTypeID == "STOCK_Input_Purchasing" || stockVoucherVM.VSubTypeID == "STOCK_Transfer_Purchasing")
                                                {
                                                    @if (stockVoucherVM.IsMultipleInvoice)
                                                    {
                                                        @if (_stockVoucherDetailVM.IsUpdateVendor == 0)
                                                        {
                                                            <td>
                                                                @if (String.IsNullOrEmpty(_stockVoucherDetailVM.VendorCode))
                                                                {
                                                                    <a class="text-center" @onclick=@(() => _stockVoucherDetailVM.IsUpdateVendor = 1)>-----Chọn nhà cung cấp-----</a>
                                                                }
                                                                else
                                                                {
                                                                    <a @onclick=@(() => _stockVoucherDetailVM.IsUpdateVendor = 1)>@_stockVoucherDetailVM.VendorCode - @_stockVoucherDetailVM.VendorName</a>
                                                                }
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <select class="selectpicker form-control"
                                                data-style="btn-selectpicker form-control" data-container="body"
                                                data-live-search="true" data-show-subtext="true"
                                                    @bind="_stockVoucherDetailVM.VendorCode">
                                                                    <option value=@String.Empty>-----Chọn nhà cung cấp-----</option>
                                                                    @if (vendorVMs != null)
                                                                    {
                                                                        @foreach (var _vendorVM in vendorVMs)
                                                                        {
                                                                            <option data-subtext="@_vendorVM.VendorCode" value="@_vendorVM.VendorCode">@_vendorVM.VendorName</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </td>
                                                        }

                                                        <td class="text-center">
                                                            <a data-toggle="tooltip" data-placement="top" title="Sao chép cho các dòng dưới" @onclick=@(() => stockVoucherDetailVMs.Where(x=>x.SeqVD > _stockVoucherDetailVM.SeqVD).ToList().ForEach(e => {e.VendorCode = _stockVoucherDetailVM.VendorCode; e.VendorName = vendorVMs.Where(x=>x.VendorCode==_stockVoucherDetailVM.VendorCode).Select(x=>x.VendorName).FirstOrDefault();}))>
                                                                <span class="badge bg-success"><i class="fa-solid fa-copy"></i></span>
                                                            </a>
                                                        </td>
                                                    }
                                                }

                                                <td class="text-center">
                                                    @if (!_stockVoucherDetailVM.IsReference)
                                                    {
                                                        <a @onclick=@(() => stockVoucherDetailVMs.Remove(_stockVoucherDetailVM))>
                                                            <span class="badge bg-danger"><i class="fas fa-trash"></i></span>
                                                        </a>
                                                    }
                                                </td>
                                            </tr>
                                            ++rowNum;
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th class="text-center">@stockVoucherDetailVMs.Count()</th>
                                        <th></th>

                                        <th class="text-center"></th>

                                        <th class="text-center">@stockVoucherDetailVMs.Select(x=>x.Qty).Sum()</th>
                                        @if (stockVoucherVM.VSubTypeID != "STOCK_Output_SalePOS")
                                        {
                                            <th class="text-center"></th>

                                            <th class="text-right">@String.Format("{0:#,##0.##}",@stockVoucherDetailVMs.Select(x=>x.Price*(decimal)x.Qty).Sum())</th>
                                        }
                                        <th></th>
                                        @if (stockVoucherVM.VTypeID == "STOCK_Output" || stockVoucherVM.VTypeID == "STOCK_Transfer")
                                        {
                                            <th class="text-center" colspan=3></th>
                                        }
                                        @if (stockVoucherVM.VTypeID == "STOCK_Input" || stockVoucherVM.VTypeID == "STOCK_Transfer")
                                        {
                                            <th class="text-center" colspan=2></th>
                                        }
                                        @if (stockVoucherVM.VSubTypeID == "STOCK_Input_Purchasing" || stockVoucherVM.VSubTypeID == "STOCK_Transfer_Purchasing")
                                        {
                                            @if (stockVoucherVM.IsMultipleInvoice)
                                            {
                                                <th class="text-center" colspan=2></th>
                                            }
                                        }
                                        <th class="text-center"></th>
                                    </tr>
                                </tfoot>
                            }
                        </table>

                    </div>

                </div>

                <div class="modal-footer justify-content-center @(stockVoucherVM.IsTypeUpdate==3?"noClick":"")">

                    @{
                        stockVoucherDetailVM = null;
                    }

                    <div class="col-sm-11">
                        <BlazoredTypeahead SearchMethod="SearchItems"
                                           Value="stockVoucherDetailVM"
                                           ValueChanged="@( (StockVoucherDetailVM i) => SelectedItem(i) )"
                                           ValueExpression="@( () => stockVoucherDetailVM)"
                                           Debounce="500"
                                           MinimumLength="2"
                                           MaximumSuggestions="6"
                                           placeholder="Tìm kiếm theo mã hàng hoặc tên hàng..."
                                           @ref="txtSearchItems">
                            <SelectedTemplate Context="_item">
                                <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm theo mã hàng hoặc tên hàng...
                            </SelectedTemplate>
                            <ResultTemplate Context="_item">
                                <i class="fa-solid fa-barcode"></i> @_item.ICode <i class="fa-solid fa-box"></i> @_item.IName
                            </ResultTemplate>
                            <NotFoundTemplate Context="_item">
                                <i class="fa-solid fa-file-circle-xmark text-danger"></i> Không có dữ liệu
                            </NotFoundTemplate>
                        </BlazoredTypeahead>
                    </div>

                    <a class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Thêm dữ liệu từ Excel" @onclick="(() => InitializeModalUpdate_PostExcel())"><i class="fa-solid fa-file-excel"></i></a>

                </div>

                <div class="modal-footer justify-content-center">

                    @if (stockVoucherVM.VActive)
                    {
                        @if (sysService.CheckAccessSubFunc(UserID, "STOCK_InOut_CancelActive").Result)
                        {
                            <button type="button" class="btn btn-danger" @onclick="(() => ActiveVoucher(4,false))"><i class="fa-solid fa-file-circle-xmark"></i> Bỏ ghi sổ</button>
                        }
                    }
                    else
                    {
                        @if (stockVoucherVM.IsTypeUpdate == 3)
                        {
                            @if (sysService.CheckAccessSubFunc(UserID, "STOCK_InOut_Update").Result)
                            {
                                <button type="button" class="btn btn-secondary" @onclick="(() => stockVoucherVM.IsTypeUpdate=1)"><i class="fa-solid fa-pencil"></i> Sửa</button>
                                @if (!String.IsNullOrEmpty(stockVoucherVM.VNumber))
                                {
                                    <button type="button" class="btn btn-success" @onclick="(() => ActiveVoucher(4,true))"><i class="fa-solid fa-file-pen"></i> Ghi sổ</button>
                                }
                            }
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Lưu</button>

                            @if (String.IsNullOrEmpty(stockVoucherVM.Reference_VNumber))
                            {
                                @if (stockVoucherVM.IsTypeUpdate == 1)
                                {
                                    <button type="submit" class="btn btn-danger" @onclick=@(() => stockVoucherVM.IsTypeUpdate = 2)><i class="fas fa-trash-alt"></i> Xóa</button>
                                }
                            }
                        }
                    }

                </div>

            </EditForm>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModalUpdate_PostExcel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span>THÊM DỮ LIỆU TỪ EXCEL</span>
                </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <table class="table table-sm table-bordered table-head-fixed table-hover tblFontSizeMin">
                    <thead>
                        <tr>
                            <th class="text-center">Mã mặt hàng</th>
                            <th class="text-center">Số lượng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <input class="form-control" placeholder="Copy dữ liệu từ excel và dán vào đây..." @bind="stockVoucherVM.DataFromExcel" />
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-success" @onclick="(() => GetDataFromExcel())"><i class="fa-solid fa-floppy-disk"></i> Cập nhật</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<Modal_RptViewer ReportName=@ReportName></Modal_RptViewer>

<EditForm Model="@filterFinVM">
    <section class="content-header">
        <div class="row">

            <div class="col-md-2">
                <div class="form-group">
                    <select class="selectpicker form-control" data-style="btn-selectpicker" data-live-search="true" data-container="body" @bind="filterFinVM.DivisionID">
                        @if (filter_divisionVMs != null)
                        {
                            @foreach (var _filter_divisionVM in filter_divisionVMs)
                            {
                                <option data-subtext="@_filter_divisionVM.DivisionID" value="@_filter_divisionVM.DivisionID">@_filter_divisionVM.DivisionName</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <select class="selectpicker form-control" data-style="btn-selectpicker form-control" data-container="body" @bind="filterFinVM.VSubTypeID">
                        <option value=@String.Empty>-----Loại chứng từ-----</option>
                        @if (filter_vSubTypeVMs != null)
                        {
                            @foreach (var _filter_vSubTypeVM in filter_vSubTypeVMs)
                            {
                                <option value="@_filter_vSubTypeVM.VSubTypeID">@_filter_vSubTypeVM.VSubTypeDesc</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <select class="selectpicker form-control" data-style="btn-selectpicker form-control" @bind="filterFinVM.searchActive">
                        <option value=2>-----Trạng thái ghi sổ-----</option>
                        <option value=1>Đã ghi sổ</option>
                        <option value=0>Chưa ghi sổ</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <DateRangePicker Ranges="DateRanges" Culture="@(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))" ApplyLabel="Thực hiện" CancelLabel="Hủy" CustomRangeLabel="Chọn ngày" OnRangeSelect="OnRangeSelect">
                        <PickerTemplate Context="c">
                            <div id="@c.Id" @onclick="c.Toggle" class="form-control" style="cursor: pointer;">
                                <i class="fa-solid fa-calendar-days"></i>&nbsp;
                                <span>
                                    @if (c.TStartDate == null && c.TEndDate == null)
                                    {
                                        <span>Ngày hôm nay</span>
                                    }
                                    else if (c.TStartDate != null && c.TEndDate == null)
                                    {
                                        if (c.HoverDate > c.TStartDate)
                                        {
                                            @($"{c.TStartDate.Value.ToString(c.DateFormat)} - {c.HoverDate.Value.ToString(c.DateFormat)}")
                                        }
                                        else
                                        {
                                            <span>@c.TStartDate.Value.ToString("dd/MM/yyyy")</span>
                                        }
                                    }
                                    else
                                    {
                                        <span>
                                            @c.FormattedRange
                                        </span>
                                    }
                                </span>

                                <span class="float-right">
                                    <i class="fa-solid fa-angle-down"></i>
                                </span>
                            </div>
                        </PickerTemplate>
                    </DateRangePicker>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <input type="search" class="form-control" placeholder="Số chứng từ" @bind="filterFinVM.VNumber" />
                </div>
            </div>

            <div class="col-md-1">
                <button type="button" class="btn btn-block bg-purple" @onclick="(() => GetVouchers())">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </section>
</EditForm>

<section class="content">
    <div class="container-fluid">
        <div class="card card-purple card-outline">

            <div class="card-header text-right">

                @if (!String.IsNullOrEmpty(stockVoucherVM.VNumber))
                {
                    <button type="button" class="btn bg-purple" @onclick="(() => PrintVoucher())"><i class="fas fa-print"></i> In</button>

                    <button type="button" class="btn btn-secondary" @onclick="(() => InitializeModalUpdate_Voucher(stockVoucherVM.VTypeID,5))"><i class="fa-solid fa-copy"></i> Sao chép</button>

                    <button type="button" class="btn btn-info" @onclick=@(() => InitializeModalUpdate_Voucher(stockVoucherVM.VTypeID,3))><i class="fa-solid fa-file-invoice"></i> Mở chứng từ</button>
                }
                @if (filter_vTypeVMs != null)
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-xl fa-plus"></i> Thêm
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            @foreach (var _filter_vTypeVM in filter_vTypeVMs)
                            {
                                <a class="dropdown-item" @onclick=@(() => InitializeModalUpdate_Voucher(_filter_vTypeVM.VTypeID,0))>@_filter_vTypeVM.VTypeDesc</a>
                            }
                        </div>
                    </div>
                }

            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: calc(100vh - 297px);">

                @if (stockVoucherVMs != null)
                {
                    <table class="table table-sm table-bordered table-head-fixed table-hover table-hover-cursor tblFontSizeMin">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center">Ngày chứng từ</th>
                                <th class="text-center">Số chứng từ</th>
                                <th>Diễn giải</th>
                                <th>Loại chứng từ</th>
                                <th>Tham chiếu</th>
                                <th>Người tạo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <Virtualize Items="@stockVoucherVMs" Context="stockVoucherVM" OverscanCount="50">
                                @{
                                    var colorVoucher = !stockVoucherVM.VActive ? "text-danger" : "";
                                }
                                <tr class="@colorVoucher @(SetSelected(stockVoucherVM))" @onclick="() => onclick_Selected(stockVoucherVM)">
                                    <td class="text-center">
                                        @(stockVoucherVM.VDate.HasValue ? stockVoucherVM.VDate.Value.ToString("dd/MM/yyyy") : "")
                                    </td>
                                    <td class="text-center">@stockVoucherVM.VNumber</td>
                                    <td>@stockVoucherVM.VDesc</td>
                                    <td>@stockVoucherVM.VSubTypeDesc</td>
                                    @if (!String.IsNullOrEmpty(stockVoucherVM.Reference_VNumber))
                                    {
                                        <td>@stockVoucherVM.Reference_VSubTypeName số @stockVoucherVM.Reference_VNumber</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (!String.IsNullOrEmpty(@stockVoucherVM.FullNameEC))
                                    {
                                        <td class="text-secondary">
                                            <i class="fa-solid fa-user"> </i>
                                            @stockVoucherVM.FullNameEC <i class="fa-solid fa-clock"> </i>
                                            @(stockVoucherVM.TimeCreated.HasValue ? stockVoucherVM.TimeCreated.Value.ToString("dd/MM/yyyy HH:mm") : "")
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                </tr>
                            </Virtualize>
                        </tbody>
                    </table>
                }
            </div>
            <!-- /.card-body -->
            @if (stockVoucherVMs != null)
            {
                <div class="card-footer text-muted">
                    Tổng số: <b>@stockVoucherVMs.Count()</b> bản ghi
                </div>
            }
            <!-- /.card-footer -->
        </div>
    </div><!-- /.container-fluid -->
</section>

@code {
    Dictionary<string, DateRange> DateRanges => new Dictionary<string, DateRange> {
            {"Ngày hôm nay", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day),
                        End = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day)
                    }
                },
            {"Ngày hôm qua", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day).AddDays(-1),
                        End = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day).AddDays(-1)
                    }
                },
            {"Tháng này", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1),
                        End = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddMonths(1).AddTicks(-1)
                    }
                },
            {"Tháng trước", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddMonths(-1),
                        End = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddTicks(-1)
                    }
                },
            };
}

