@page "/FIN/Invoice"
@using D69soft.Client.Pages.SYS
@using D69soft.Shared.Models.ViewModels.FIN;

<LoadingScreen isLoadingScreen="@isLoadingScreen"></LoadingScreen>
<Loading isLoading="@isLoading"></Loading>

<EditForm Model="@filterFinVM">
    <section class="content-header">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <InputSelect class="selectpicker form-control form-control-sm"
                                 data-style="btn-selectpicker"
                                 data-live-search="true"
                                 data-container="body"
                                 ValueExpression="@(()=>filterFinVM.DivisionID)"
                                 Value="@filterFinVM.DivisionID"
                                 ValueChanged="@((string value) =>onchange_DivisionID(value))">

                        @if (filter_divisionVMs != null)
                        {
                            @foreach (var _filter_divisionVM in filter_divisionVMs)
                            {
                                <option data-subtext="@_filter_divisionVM.DivisionID" value="@_filter_divisionVM.DivisionID">@_filter_divisionVM.DivisionName</option>
                            }
                        }
                    </InputSelect>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <DateRangePicker Ranges="DateRanges" ApplyLabel="Thực hiện" CancelLabel="Hủy" CustomRangeLabel="Chọn ngày" OnRangeSelect="OnRangeSelect">
                        <PickerTemplate Context="c">
                            <div id="@c.Id" @onclick="c.Toggle" class="form-control form-control-sm" style="cursor: pointer;">
                                <i class="fa-solid fa-calendar-days"></i>&nbsp;
                                <span>
                                    @if (c.TStartDate == null && c.TEndDate == null)
                                    {
                                        <span>Tháng này</span>
                                    }
                                    else if (c.TStartDate != null && c.TEndDate == null)
                                    {
                                        if (c.HoverDate > c.TStartDate)
                                        {
                                            @($"{c.TStartDate.Value.ToString(c.DateFormat)} - {c.HoverDate.Value.ToString(c.DateFormat)}")
                                        }
                                        else
                                        {
                                            <span>@c.TStartDate.Value.ToString("dd/MM/yyyy")</span>
                                        }
                                    }
                                    else
                                    {
                                        <span>
                                            @c.FormattedRange
                                        </span>
                                    }
                                </span>

                                <span class="float-right">
                                    <i class="fa-solid fa-angle-down"></i>
                                </span>
                            </div>
                        </PickerTemplate>
                    </DateRangePicker>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="form-group">
                    <input type="search" class="form-control form-control-sm" placeholder="Số hóa đơn" @bind="filterFinVM.InvoiceDate" />
                </div>
            </div>

            <div class="col-md-1">
                <button type="button" class="btn btn-sm btn-block bg-warning" @onclick="(() => GetInvoices())">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </section>
</EditForm>

<section class="content">
    <div class="container-fluid">
        <div class="card card-warning card-outline">

            <div class="card-header text-right">

            </div>

            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: calc(100vh - 233px);">
                @if (filterFinVM.TypeView == 0)
                {
                    @if (invoiceVMs != null)
                    {
                        <table class="table table-sm table-bordered table-head-fixed table-hover table-hover-cursor tblFontSizeMin">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center">Ngày hóa đơn</th>
                                    <th class="text-center">Số hóa đơn</th>
                                    <th>Đối tượng</th>
                                    <th class="text-center">Mã số thuế</th>
                                    <th class="text-right">Giá trị hàng chưa thuế</th>
                                    <th class="text-right">Thuế GTGT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <Virtualize Items="@invoiceVMs" Context="invoiceVM" OverscanCount="50">
                                    <tr>
                                        <td class="text-center">
                                            @(invoiceVM.InvoiceDate.HasValue ? invoiceVM.InvoiceDate.Value.ToString("dd/MM/yyyy") : "")
                                        </td>
                                        <td class="text-center">@invoiceVM.InvoiceNumber</td>
                                        <td>@invoiceVM.ObjectName</td>
                                        <td class="text-center">@invoiceVM.TaxCode</td>
                                        <td class="text-right">@String.Format("{0:#,##0}",@invoiceVM.sumTotalAmount)</td>
                                        <td class="text-right">@String.Format("{0:#,##0}",@invoiceVM.sumVATAmount)</td>      
                                    </tr>
                                </Virtualize>
                            </tbody>
                        </table>
                        if (invoiceVMs.Count() <= 0)
                        {
                            <img class="img-no-result" src="images/_default/no-results.png" />
                        }
                    }
                }

            </div>
            <!-- /.card-body -->
            @if (invoiceVMs != null)
            {
                <div class="card-footer text-muted">
                    Tổng số: <b>@invoiceVMs.Count()</b> bản ghi
                </div>
            }
            <!-- /.card-footer -->
        </div>
    </div><!-- /.container-fluid -->
</section>

@code {
    Dictionary<string, DateRange> DateRanges => new Dictionary<string, DateRange> {
            {"Ngày hôm nay", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day),
                        End = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day)
                    }
                },
            {"Ngày hôm qua", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day).AddDays(-1),
                        End = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day).AddDays(-1)
                    }
                },
            {"Tháng này", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1),
                        End = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddMonths(1).AddTicks(-1)
                    }
                },
            {"Tháng trước", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddMonths(-1),
                        End = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddTicks(-1)
                    }
                },
            };
}

