@page "/FIN/Invoice"
@using D69soft.Client.Pages.SYS
@using D69soft.Shared.Models.ViewModels.FIN;

<LoadingScreen isLoadingScreen="@isLoadingScreen"></LoadingScreen>
<Loading isLoading="@isLoading"></Loading>

<EditForm Model="@filterVM">
    <section class="content-header">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <InputSelect class="selectpicker form-control form-control-sm"
                                 data-style="btn-selectpicker"
                                 data-live-search="true"
                                 data-container="body"
                                 ValueExpression="@(()=>filterVM.DivisionID)"
                                 Value="@filterVM.DivisionID"
                                 ValueChanged="@((string value) =>onchange_DivisionID(value))">

                        @if (filter_divisionVMs != null)
                        {
                            @foreach (var _filter_divisionVM in filter_divisionVMs)
                            {
                                <option data-subtext="@_filter_divisionVM.DivisionID" value="@_filter_divisionVM.DivisionID">@_filter_divisionVM.DivisionName</option>
                            }
                        }
                    </InputSelect>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <select class="selectpicker form-control form-control-sm"
                            data-style="btn-selectpicker"
                            data-container="body" @bind="filterVM.VTypeID">
                        <option value="FIN_Purchasing">Hóa đơn mua vào</option>
                        <option value="FIN_Sale">Hóa đơn bán ra</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <DateRangePicker Ranges="DateRanges" ApplyLabel="Thực hiện" CancelLabel="Hủy" CustomRangeLabel="Chọn ngày" OnRangeSelect="OnRangeSelect">
                        <PickerTemplate Context="c">
                            <div id="@c.Id" @onclick="c.Toggle" class="form-control form-control-sm" style="cursor: pointer;">
                                <i class="fa-solid fa-calendar-days"></i>&nbsp;
                                <span>
                                    @if (c.TStartDate == null && c.TEndDate == null)
                                    {
                                        <span>Tháng này</span>
                                    }
                                    else if (c.TStartDate != null && c.TEndDate == null)
                                    {
                                        if (c.HoverDate > c.TStartDate)
                                        {
                                            @($"{c.TStartDate.Value.ToString(c.DateFormat)} - {c.HoverDate.Value.ToString(c.DateFormat)}")
                                        }
                                        else
                                        {
                                            <span>@c.TStartDate.Value.ToString("dd/MM/yyyy")</span>
                                        }
                                    }
                                    else
                                    {
                                        <span>
                                            @c.FormattedRange
                                        </span>
                                    }
                                </span>

                                <span class="float-right">
                                    <i class="fa-solid fa-angle-down"></i>
                                </span>
                            </div>
                        </PickerTemplate>
                    </DateRangePicker>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <input type="search" class="form-control form-control-sm" placeholder="Tìm kiếm theo số hóa đơn" @bind="filterVM.InvoiceNumber" />
                </div>
            </div>

            <div class="col-sm-2 col-md-2">
                <!-- radio -->
                <div class="form-group clearfix">
                    <div class="icheck-success d-inline">
                        <input type="radio" id="TypeView1" name="TypeView" checked="@(filterVM.TypeView == 0)" @onchange="(() => onchangeTypeView(0))">
                        <label for="TypeView1">
                            Tổng hợp
                        </label>
                    </div>
                    <label>
                        &nbsp;&nbsp;
                    </label>
                    <div class="icheck-success d-inline">
                        <input type="radio" id="TypeView2" name="TypeView" checked="@(filterVM.TypeView == 1)" @onchange="(() => onchangeTypeView(1))">
                        <label for="TypeView2">
                            Chi tiết
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <button type="button" class="btn btn-sm btn-block btn-primary" @onclick="(() => GetInvoices())">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </section>
</EditForm>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary card-outline">

            <div class="card-header text-right">

                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-chart-line"></i> Báo cáo
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" @onclick=@(() => ViewRPT("FIN_So_chi_tiet_hoa_don"))>Sổ chi tiết hóa đơn</a>
                    </div>
                </div>

                <button type="button" class="btn btn-sm bg-success" @onclick="(() => GetInvoices())">
                    <i class="fa-solid fa-file-excel"></i>
                </button>

            </div>

            @if (filterVM.TypeView == 2)
            {
                <div class="card-header text-center">
                    <h5><b>SỔ CHI TIẾT</b></h5>
                    <i>
                        @if (filterVM.StartDate.ToString("dd/MM/yyyy") == filterVM.EndDate.ToString("dd/MM/yyyy"))
                        {
                            <b>Ngày @filterVM.StartDate.ToString("dd/MM/yyyy")</b>

                        }
                        else
                        {
                            <b>Từ ngày @filterVM.StartDate.ToString("dd/MM/yyyy") đến ngày @filterVM.EndDate.ToString("dd/MM/yyyy")</b>
                        }
                    </i>

                </div>
            }

            <!-- /.card-header -->
            <div id="tblInvoice" class="card-body table-responsive p-0" style="height: calc(100vh - 190px);">

                @if (filterVM.TypeView == 0)
                {
                    @if (invoiceVMs != null)
                    {
                        <table class="table table-sm table-bordered table-head-fixed table-hover tblFontSizeMin">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center">Ngày hóa đơn</th>
                                    <th class="text-center">Số hóa đơn</th>
                                    <th>Đối tượng</th>
                                    <th class="text-center">Mã số thuế</th>
                                    <th class="text-right">Tổng giá trị HHDV chưa thuế</th>
                                    <th class="text-right">Tổng tiền chiết khấu</th>
                                    <th class="text-right">Thuế GTGT</th>
                                    <th class="text-right">Tổng tiền thanh toán</th>
                                </tr>
                            </thead>
                            <tbody>
                                <Virtualize Items="@invoiceVMs" Context="invoiceVM" OverscanCount="50">
                                    <tr>
                                        <td class="text-center">
                                            @(invoiceVM.InvoiceDate.HasValue ? invoiceVM.InvoiceDate.Value.ToString("dd/MM/yyyy") : "")
                                        </td>
                                        <td class="text-center">@invoiceVM.InvoiceNumber</td>
                                        <td>@invoiceVM.ObjectName</td>
                                        <td class="text-center">@invoiceVM.TaxCode</td>
                                        <td class="text-right">@String.Format("{0:#,##0}",@invoiceVM.sumVDAmount)</td>
                                        <td class="text-right">@String.Format("{0:#,##0}",@invoiceVM.sumVDDiscountAmount)</td>
                                        <td class="text-right">@String.Format("{0:#,##0}",@invoiceVM.sumVATAmount)</td>
                                        <td class="text-right">@String.Format("{0:#,##0}",@invoiceVM.sumTotalAmount)</td>
                                    </tr>
                                </Virtualize>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-center"></th>
                                    <th></th>
                                    <th class="text-center"></th>
                                    <th class="text-right">@String.Format("{0:#,##0}",@invoiceVMs.Select(x=>x.sumVDAmount).Sum())</th>
                                    <th class="text-right">@String.Format("{0:#,##0}",@invoiceVMs.Select(x=>x.sumVDDiscountAmount).Sum())</th>
                                    <th class="text-right">@String.Format("{0:#,##0}",@invoiceVMs.Select(x=>x.sumVATAmount).Sum())</th>
                                    <th class="text-right">@String.Format("{0:#,##0}",@invoiceVMs.Select(x=>x.sumTotalAmount).Sum())</th>
                                </tr>
                            </tfoot>
                        </table>

                        @if (invoiceVMs.Count() <= 0)
                        {
                            <img class="img-no-result" src="images/_default/no-results.png" />
                        }
                    }
                }

                @if (filterVM.TypeView == 1)
                {
                    @if (invoiceVMs != null)
                    {
                        <table class="table table-sm table-bordered table-head-fixed table-hover tblFontSizeMin">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center">Ngày hóa đơn</th>
                                    <th class="text-center">Số hóa đơn</th>
                                    <th>Đối tượng</th>
                                    <th class="text-center">Mã số thuế</th>
                                    <th>Mặt hàng</th>
                                    <th class="text-right">Giá trị HHDV chưa thuế</th>
                                    <th class="text-right">Tiền chiết khấu</th>
                                    <th class="text-center">Thuế suất</th>
                                    <th class="text-right">Thuế GTGT</th>
                                    <th class="text-right">Cộng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <Virtualize Items="@invoiceVMs" Context="invoiceVM" OverscanCount="50">
                                    <tr>
                                        <td class="text-center">
                                            @(invoiceVM.InvoiceDate.HasValue ? invoiceVM.InvoiceDate.Value.ToString("dd/MM/yyyy") : "")
                                        </td>
                                        <td class="text-center">@invoiceVM.InvoiceNumber</td>
                                        <td>@invoiceVM.ObjectName</td>
                                        <td class="text-center">@invoiceVM.TaxCode</td>
                                        <td>@invoiceVM.IDescTax</td>
                                        <td class="text-right">@String.Format("{0:#,##0}",@invoiceVM.sumVDAmount)</td>
                                        <td class="text-right">@String.Format("{0:#,##0}", @invoiceVM.sumVDDiscountAmount)</td>
                                        <td class="text-center">@invoiceVM.VATName</td>
                                        <td class="text-right">@String.Format("{0:#,##0}", @invoiceVM.sumVATAmount)</td>
                                        <td class="text-right">@String.Format("{0:#,##0}", @invoiceVM.sumTotalAmount)</td>
                                    </tr>
                                </Virtualize>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-center"></th>
                                    <th></th>
                                    <th class="text-center"></th>
                                    <th></th>
                                    <th class="text-right">@String.Format("{0:#,##0}", @invoiceVMs.Select(x => x.sumVDAmount).Sum())</th>
                                    <th class="text-right">@String.Format("{0:#,##0}", @invoiceVMs.Select(x => x.sumVDDiscountAmount).Sum())</th>
                                    <th class="text-center"></th>
                                    <th class="text-right">@String.Format("{0:#,##0}", @invoiceVMs.Select(x => x.sumVATAmount).Sum())</th>
                                    <th class="text-right">@String.Format("{0:#,##0}", @invoiceVMs.Select(x => x.sumTotalAmount).Sum())</th>
                                </tr>
                            </tfoot>
                        </table>

                        @if (invoiceVMs.Count() <= 0)
                        {
                            <img class="img-no-result" src="images/_default/no-results.png" />
                        }
                    }
                }

                @if (filterVM.TypeView == 2)
                {
                    @if (invoiceBooks != null)
                    {
                        <table class="table table-sm table-bordered table-head-fixed table-hove table-hover tblFontSizeMin">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center">Hình ảnh</th>
                                    <th class="text-center">Mã hàng</th>
                                    <th>Tên hàng</th>
                                    <th class="text-center">ĐVT</th>
                                    <th class="text-center">SL đầu kỳ</th>
                                    <th class="text-center">SL nhập</th>
                                    <th class="text-center">SL xuất</th>
                                    <th class="text-center">SL tồn</th>
                                </tr>
                            </thead>
                            <tbody>
                                <Virtualize Items="@invoiceBooks" Context="_inventoryVM" OverscanCount="50">
                                    <tr>
                                        <td class="text-center">
                                            <img alt="Ảnh" class="table-profile-avatar" src="@_inventoryVM.IURLPicture1">
                                        </td>
                                        <td class="text-center">@_inventoryVM.ICode</td>
                                        <td>@_inventoryVM.IName</td>
                                        <td class="text-center">@_inventoryVM.IUnitName</td>
                                        <td class="text-center">@_inventoryVM.QtyOpen</td>
                                        <td class="text-center">@_inventoryVM.QtyInput</td>
                                        <td class="text-center">@_inventoryVM.QtyOutput</td>
                                        <td class="text-center">@_inventoryVM.QtyEnd</td>
                                    </tr>
                                </Virtualize>
                            </tbody>
                        </table>

                        if (invoiceBooks.Count() <= 0)
                        {
                            <img class="img-no-result" src="images/_default/no-results.png" />
                        }
                    }
                }

            </div>
            <!-- /.card-body -->
            @if (invoiceVMs != null)
            {
                <div class="card-footer text-muted">
                    Tổng số: <b>@invoiceVMs.Count()</b> bản ghi
                </div>
            }
            <!-- /.card-footer -->
        </div>
    </div><!-- /.container-fluid -->
</section>

@code {
    Dictionary<string, DateRange> DateRanges => new Dictionary<string, DateRange> {
            {"Ngày hôm nay", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day),
                        End = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day)
                    }
                },
            {"Tháng này", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1),
                        End = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddMonths(1).AddTicks(-1)
                    }
                },
            {"Tháng trước", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddMonths(-1),
                        End = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddTicks(-1)
                    }
                },
            {"Quý 1", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, 1, 1),
                        End = new DateTime(DateTime.Now.Year, 1, 1).AddMonths(3).AddTicks(-1)
                    }
                },
            {"Quý 2", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, 4, 1),
                        End = new DateTime(DateTime.Now.Year, 4, 1).AddMonths(3).AddTicks(-1)
                    }
                },
            {"Quý 3", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, 7, 1),
                        End = new DateTime(DateTime.Now.Year, 7, 1).AddMonths(3).AddTicks(-1)
                    }
                },
            {"Quý 4", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, 9, 1),
                        End = new DateTime(DateTime.Now.Year, 12, 31)
                    }
                },
        };
}

