@page "/FIN/Items"
@using D69soft.Client.Pages.FIN.Components
@using D69soft.Shared.Models.ViewModels.FIN;

<LoadingScreen isLoadingScreen="@isLoadingScreen"></LoadingScreen>
<Loading isLoading="@isLoading"></Loading>

<ModalUpdate_Items itemsVM="itemsVM"></ModalUpdate_Items>

<EditForm Model="@filterVM">

    <div id="content" style="padding-top:10px">
        <div class="container-fluid">

            <div class="row">

                <div class="col-12 col-sm-3">

                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Lớp hàng</h3>
                        </div>
                        <div class="card-body">
                                <InputSelect class="selectpicker form-control form-control-sm"
                                             data-style="btn-selectpicker" data-container="body"
                                             data-live-search="true" data-show-subtext="true"
                                             ValueExpression="@(()=>filterVM.IClsCode)"
                                             Value="@filterVM.IClsCode"
                                             ValueChanged="@((string value) => onchange_filter_IClsCode(value))">
                                    <option value=@String.Empty>-----Tất cả-----</option>
                                    @if (itemsClassVMs != null)
                                    {
                                        @foreach (var _itemsClassVM in itemsClassVMs)
                                        {
                                            <option data-subtext="@_itemsClassVM.IClsCode" value="@_itemsClassVM.IClsCode">@_itemsClassVM.IClsName</option>
                                        }
                                    }
                                </InputSelect>
                        </div>
                    </div>

                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Nhóm hàng</h3>
                        </div>
                        <div class="card-body">
                            <InputSelect class="selectpicker form-control form-control-sm"
                                            data-style="btn-selectpicker" data-container="body"
                                            data-live-search="true" data-show-subtext="true"
                                            ValueExpression="@(()=>filterVM.IGrpCode)"
                                            Value="@filterVM.IGrpCode"
                                            ValueChanged="@((string value) => onchange_filter_IGrpCode(value))">
                                <option value=@String.Empty>-----Tất cả-----</option>
                                @if (itemsGroupVMs != null)
                                {
                                    @foreach (var _itemsGroupVM in itemsGroupVMs.Where(x => x.IClsCode == filterVM.IClsCode || String.IsNullOrEmpty(filterVM.IClsCode)))
                                    {
                                        <option data-subtext="@_itemsGroupVM.IGrpCode" value="@_itemsGroupVM.IGrpCode">@_itemsGroupVM.IGrpName</option>
                                    }
                                }
                            </InputSelect>
                        </div>
                    </div>

                    <div class="card card-primary card-outline">
                        <div class="card-header">

                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Tìm kiếm</h3>
                            </div>

                        </div>
                        <div class="card-body">

                            <input type="search" class="form-control form-control-sm form-control-border border-width-2" placeholder="Theo mã hoặc tên hàng..." @onchange="FilterItems" />

                        </div>
                    </div>

                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Trạng thái</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group clearfix">
                                <div class="icheck-success d-inline">
                                    <input type="radio" id="ckboxItemsActive" name="rFilterActive" value="true" @onchange="onchange_filter_IActive" checked="@(filterVM.IActive == true)">
                                    <label for="ckboxItemsActive">Hàng đang hoạt động</label>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="icheck-danger d-inline">
                                    <input type="radio" id="ckboxItemsNoActive" name="rFilterActive" value="false" @onchange="onchange_filter_IActive" checked="@(filterVM.IActive == false)">
                                    <label for="ckboxItemsNoActive">Hàng ngừng hoạt động</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-sm-9">

                    <div class="card card-primary card-outline">
                        <div class="card-header text-right">

                            @if (!String.IsNullOrEmpty(itemsVM.ICode))
                            {
                                <button type="button" class="btn btn-sm btn-info" @onclick=@(() => InitializeModalUpdate_Items(1))><i class="fa-solid fa-file-invoice"></i> Chi tiết</button>
                            }

                            <button type="button" class="btn btn-sm btn-success" @onclick="(() => InitializeModalUpdate_Items(0))"><i class="fa-solid fa-xl fa-plus"></i> Thêm</button>

                        </div>

                        <div class="card-body table-responsive p-0" style="height: calc(100vh - 142px);">
                            @if (itemsVMs != null)
                            {
                                <table class="table table-sm table-bordered table-head-fixed table-hover table-hover-cursor tblFontSizeMin">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Hình ảnh</th>
                                            <th class="text-center">Mã hàng hóa</th>
                                            <th>Tên hàng</th>
                                            <th>Loại hàng</th>
                                            <th>Lớp hàng</th>
                                            <th>Nhóm hàng</th>
                                            <th>Đơn vị tính</th>
                                            <th>Giá mua</th>
                                            <th>Giá bán</th>
                                            <th class="text-center">Thuế GTGT</th>

                                            <th class="text-center">Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <Virtualize Items="@itemsVMs" Context="_itemVM" OverscanCount="50">
                                            <tr class="@(SetSelected(_itemVM))" @onclick="() => onclick_Selected(_itemVM)">
                                                <td class="text-center">
                                                    <img class="table-picture" src="@_itemVM.IURLPicture1">
                                                </td>
                                                <td align="center">@_itemVM.ICode</td>
                                                <td>@_itemVM.IName</td>
                                                <td>@_itemVM.ITypeName</td>
                                                <td>@_itemVM.IClsName</td>
                                                <td>@_itemVM.IGrpName</td>
                                                <td>@_itemVM.IUnitName</td>
                                                <td class="text-right">@String.Format("{0:#,##0.##}", _itemVM.ICost)</td>
                                                <td class="text-right">@String.Format("{0:#,##0.##}", _itemVM.IPrice)</td>
                                                <td class="text-center">@_itemVM.VATName</td>
                                                <td class="text-center">
                                                    @if (_itemVM.IActive)
                                                    {
                                                        <i class="fas fa-check text-success"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fas fa-times"></i>
                                                    }
                                                </td>
                                            </tr>
                                        </Virtualize>
                                    </tbody>

                                </table>

                                if (itemsVMs.Count() <= 0)
                                {
                                    <img class="img-no-result" src="images/_default/no-results.png" />
                                }

                            }

                        </div>
                        <!-- /.card-body -->
                        @if (itemsVMs != null)
                        {
                            <div class="card-footer text-muted">
                                Tổng số: <b>@itemsVMs.Count()</b> bản ghi
                            </div>
                        }
                        <!-- /.card-footer -->
                    </div>
                </div>

            </div>

        </div>
    </div>

</EditForm>



