@page "/FIN/Items"
@using Blazored.FluentValidation
@using Model.ViewModels.FIN

<LoadingPage isLoadingPage="@isLoadingPage"></LoadingPage>
<Loading isLoading="@isLoading"></Loading>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModalUpdate_ItemsGroup">
    <div class="modal-dialog">
        <div class="modal-content">

            <EditForm Model="@itemsGroupVM" OnValidSubmit="@UpdateItemsGroup">

                <FluentValidationValidator />

                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>CẬP NHẬT NHÓM HÀNG</span>
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Mã</label>
                        <div class="col-sm-5">
                            @if (itemsGroupVM.IsTypeUpdate == 0)
                            {
                                <InputText class="form-control" placeholder="Mã nhóm hàng" @bind-Value:get="itemsGroupVM.IGrpCode" @bind-Value:set="(value) => {itemsGroupVM.IGrpCode = value.ToUpper();}" />
                                <ValidationMessage For="@(() => itemsGroupVM.IGrpCode)" />
                            }
                            else
                            {
                                <input type="text" readonly class="form-control" placeholder="Mã nhóm hàng" value="@itemsGroupVM.IGrpCode" />
                            }
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tên</label>
                        <div class="col-sm-9">
                            <InputText class="form-control" placeholder="Tên nhóm hàng" @bind-Value="itemsGroupVM.IGrpName" autofocus />
                            <ValidationMessage For="@(() => itemsGroupVM.IGrpName)" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Lớp hàng</label>
                        <div class="col-sm-9">
                            <InputSelect class="selectpicker form-control"
                                         data-style="btn-selectpicker form-control" data-container="body"
                                         data-live-search="true" data-show-subtext="true"
                                         @bind-Value="itemsGroupVM.IClsCode">
                                <option value=@String.Empty>-----Tất cả-----</option>
                                @if (itemsClassVMs != null)
                                {
                                    @foreach (var _itemsClassVM in itemsClassVMs)
                                    {
                                        <option data-subtext="@_itemsClassVM.IClsDesc" value="@_itemsClassVM.IClsCode">@_itemsClassVM.IClsName</option>
                                    }
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => itemsGroupVM.IClsCode)" />
                        </div>
                    </div>

                </div>

                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Lưu</button>
                    @if (itemsGroupVM.IsTypeUpdate == 1)
                    {
                        <button type="submit" class="btn btn-danger" @onclick=@(() => itemsGroupVM.IsTypeUpdate = 2)><i class="fas fa-trash-alt"></i> Xóa</button>
                    }
                </div>

            </EditForm>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModalUpdate_Items">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <EditForm Model="@itemsVM" OnValidSubmit="@UpdateItems">

                <FluentValidationValidator />

                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>CẬP NHẬT HÀNG HÓA</span>
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="card card-purple card-outline card-outline-tabs" style="margin-bottom: 0;">
                        <div class="card-header p-0 border-bottom-0">
                            <ul class="nav nav-tabs" id="custom-tabs-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-info-tab" data-toggle="pill" href="#custom-tabs-info" role="tab" aria-controls="custom-tabs-info" aria-selected="true">Thông tin</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-default-tab" data-toggle="pill" href="#custom-tabs-default" role="tab" aria-controls="custom-tabs-default" aria-selected="false">Ngầm định</a>
                                </li>
                                @if (itemsVM.ITypeCode == "TP")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-ingredient-tab" data-toggle="pill" href="#custom-tabs-ingredient" role="tab" aria-controls="custom-tabs-ingredient" aria-selected="false">Thành phần, định lượng</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-tabContent">
                                <div class="tab-pane fade active show" id="custom-tabs-info" role="tabpanel" aria-labelledby="custom-tabs-info-tab">
                                    <div class="row">
                                        <div class="col-12 col-sm-7">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Mã hàng hóa</label>
                                                <div class="col-sm-9">
                                                    @if (itemsVM.IsTypeUpdate == 0)
                                                    {
                                                        <InputText class="form-control" placeholder="Mã mặc định" @bind-Value="itemsVM.ICode" />
                                                        <ValidationMessage For="@(() => itemsVM.ICode)" />
                                                    }
                                                    else
                                                    {
                                                        <input type="text" readonly class="form-control" value="@itemsVM.ICode" />
                                                    }
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Tên hàng</label>
                                                <div class="col-sm-9">
                                                    <InputText class="form-control" placeholder="Tên hàng" @bind-Value="itemsVM.IName" autofocus />
                                                    <ValidationMessage For="@(() => itemsVM.IName)" />
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Loại hàng</label>
                                                <div class="col-sm-9">
                                                    <InputSelect class="selectpicker form-control"
                                                                 data-style="btn-selectpicker form-control" data-container="body"
                                                                 data-live-search="true" data-show-subtext="true"
                                                                 @bind-Value="itemsVM.ITypeCode">
                                                        <option value=@String.Empty>-----Tất cả-----</option>
                                                        @if (itemsTypeVMs != null)
                                                        {
                                                            @foreach (var _itemsTypeVM in itemsTypeVMs)
                                                            {
                                                                <option value="@_itemsTypeVM.ITypeCode">@_itemsTypeVM.ITypeName</option>
                                                            }
                                                        }
                                                    </InputSelect>
                                                    <ValidationMessage For="@(() => itemsVM.ITypeCode)" />
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Lớp hàng</label>
                                                <div class="col-sm-9">
                                                    <InputSelect class="selectpicker form-control"
                                                                 data-style="btn-selectpicker form-control" data-container="body"
                                                                 data-live-search="true" data-show-subtext="true"
                                                                 @bind-Value="onchange_IClsCode">
                                                        <option value=@String.Empty>-----Tất cả-----</option>
                                                        @if (itemsClassVMs != null)
                                                        {
                                                            @foreach (var _itemsClassVM in itemsClassVMs.Where(x => x.IClsActive))
                                                            {
                                                                <option data-subtext="@_itemsClassVM.IClsCode" value="@_itemsClassVM.IClsCode">@_itemsClassVM.IClsName</option>
                                                            }
                                                        }
                                                    </InputSelect>
                                                    <ValidationMessage For="@(() => itemsVM.IClsCode)" />
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Nhóm hàng</label>
                                                <div class="col-sm-9">
                                                    <InputSelect class="selectpicker form-control"
                                                                 data-style="btn-selectpicker form-control" data-container="body"
                                                                 data-live-search="true" data-show-subtext="true"
                                                                 @bind-Value="itemsVM.IGrpCode">
                                                        <option value=@String.Empty>-----Tất cả-----</option>
                                                        @if (itemsGroupVMs != null)
                                                        {
                                                            @foreach (var _itemsGroupVM in itemsGroupVMs.Where(x => x.IGrpActive && (x.IClsCode == itemsVM.IClsCode || String.IsNullOrEmpty(itemsVM.IClsCode))))
                                                            {
                                                                <option data-subtext="@_itemsGroupVM.IGrpCode" value="@_itemsGroupVM.IGrpCode">@_itemsGroupVM.IGrpName</option>
                                                            }
                                                        }
                                                    </InputSelect>
                                                    <ValidationMessage For="@(() => itemsVM.IGrpCode)" />
                                                </div>
                                            </div>

                                            <div class="col-12 product-image-thumbs">

                                                <div class="product-image-thumb active">
                                                    <label>
                                                        <InputFile OnChange="OnInputFileChange" style="display:none;" accept="image/*" />
                                                        <img src="@itemsVM.IURLPicture1">
                                                    </label>
                                                </div>
                                                @if (itemsVM.IsTypeUpdate == 1 || itemsVM.IURLPicture1 != "/images/_default/no-image.png")
                                                {
                                                    <a href="@itemsVM.IURLPicture1" download><i class="fa-solid fa-download"></i></a>
                                                    <span>&nbsp;</span>
                                                    <a href="javascript:void(0)" @onclick="(() => FileDefault())"><i class="fa-solid fa-trash-can"></i></a>
                                                }
                                                @*<div class="product-image-thumb"><img src="/images/_default/no-image.png" alt="Product Image"></div>
                                                    <div class="product-image-thumb"><img src="/images/_default/no-image.png" alt="Product Image"></div>*@
                                            </div>

                                        </div>

                                        <div class="col-12 col-sm-5">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Đơn vị tính</label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <InputSelect class="selectpicker form-control"
                                                                     data-style="btn-selectpicker form-control" data-container="body"
                                                                     data-live-search="true" data-show-subtext="true"
                                                                     @bind-Value="itemsVM.IUnitCode">
                                                            <option value=@String.Empty>-----Tất cả-----</option>
                                                            @if (itemsUnitVMs != null)
                                                            {
                                                                @foreach (var _itemsUnitVM in itemsUnitVMs)
                                                                {
                                                                    <option data-subtext="@_itemsUnitVM.IUnitCode" value="@_itemsUnitVM.IUnitCode">@_itemsUnitVM.IUnitName</option>
                                                                }
                                                            }
                                                        </InputSelect>
                                                        @if (String.IsNullOrEmpty(itemsVM.IUnitCode))
                                                        {
                                                            <div class="input-group-append">
                                                                <a class="btn btn-success" @onclick="(() => InitializeModalUpdate_ItemsUnit(0))"><i class="fa-solid fa-plus"></i></a>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="input-group-append">
                                                                <a class="btn btn-secondary" @onclick="(() => InitializeModalUpdate_ItemsUnit(1))"><i class="fa-solid fa-pencil"></i></a>
                                                            </div>
                                                        }
                                                        <ValidationMessage For="@(() => itemsVM.IUnitCode)" />
                                                    </div>
                                                </div>
                                            </div>

                                            @*                                            <div class="form-group row clearfix" style="padding-top: 18px;">
                                                <div class="icheck-success d-inline">
                                                <input type="checkbox" id="checkboxPrimary1">
                                                <label for="checkboxPrimary1">
                                                Hiển thị màn hình bán hàng
                                                </label>
                                                </div>
                                                </div>*@

                                            <div class="form-group clearfix">
                                                <div class="icheck-success d-inline">
                                                    <input type="radio" id="isActive1" name="isActive" checked="@(itemsVM.IActive == true)" @onchange="(() => itemsVM.IActive = true)">
                                                    <label for="isActive1">
                                                        Hoạt động
                                                    </label>
                                                </div>
                                                <label>
                                                    &nbsp;&nbsp;
                                                </label>
                                                <div class="icheck-danger d-inline">
                                                    <input type="radio" id="isActive2" name="isActive" checked="@(itemsVM.IActive == false)" @onchange="(() => itemsVM.IActive = false)">
                                                    <label for="isActive2">
                                                        Không hoạt động
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-default" role="tabpanel" aria-labelledby="custom-tabs-default">
                                    <div class="row">
                                        <div class="col-12 col-sm-6">

                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Kho</label>
                                                <div class="col-sm-9">
                                                    <select class="selectpicker form-control"
                                                            data-style="btn-selectpicker form-control" data-container="body"
                                                            data-live-search="true" data-show-subtext="true"
                                                            @bind="itemsVM.StockDefault">
                                                        <option value=@String.Empty>-----Tất cả-----</option>
                                                        @if (stockVMs != null)
                                                        {
                                                            @foreach (var _stockVM_0 in stockVMs.Select(x => new { x.StockTypeCode, x.StockTypeName }).Distinct())
                                                            {
                                                                <optgroup label="@_stockVM_0.StockTypeName">
                                                                    @foreach (var _stockVM_1 in stockVMs.Where(x => x.StockTypeCode == _stockVM_0.StockTypeCode))
                                                                    {
                                                                        <option data-subtext="@_stockVM_1.StockCode" value="@_stockVM_1.StockCode">@_stockVM_1.StockName</option>
                                                                    }
                                                                </optgroup>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-12 col-sm-6">

                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Nhà cung cấp</label>
                                                <div class="col-sm-9">
                                                    <select class="selectpicker form-control"
                                                            data-style="btn-selectpicker form-control" data-container="body"
                                                            data-live-search="true" data-show-subtext="true"
                                                            @bind="itemsVM.VendorDefault">
                                                        <option value=@String.Empty>-----Tất cả-----</option>
                                                        @if (vendorVMs != null)
                                                        {
                                                            @foreach (var _vendorVM in vendorVMs)
                                                            {
                                                                <option data-subtext="@_vendorVM.VendorCode" value="@_vendorVM.VendorCode">@_vendorVM.VendorName</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                @if (itemsVM.ITypeCode == "TP")
                                {
                                    <div class="tab-pane fade" id="custom-tabs-ingredient" role="tabpanel" aria-labelledby="custom-tabs-ingredient">

                                        <table class="table table-sm table-bordered table-head-fixed table-hover tblFontSizeMin" id="keyPressNextInput">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th class="text-center">STT</th>
                                                    <th>Thành phần</th>
                                                    <th class="text-center">Đơn vị</th>
                                                    <th class="text-center">Tỷ lệ</th>
                                                    <th class="text-center"></th>
                                                </tr>
                                            </thead>
                                            @if (quantitativeItemsVMs != null)
                                            {
                                                <tbody>

                                                    @{
                                                        int rowNum = 1;
                                                        foreach (var _quantitativeItemsVM in quantitativeItemsVMs)
                                                        {
                                                            <tr>
                                                                <td class="text-center">@rowNum</td>
                                                                <td>@_quantitativeItemsVM.QI_ICode - @_quantitativeItemsVM.QI_IName</td>
                                                                <td class="text-center">@_quantitativeItemsVM.QI_IUnitName</td>
                                                                <td class="text-center">
                                                                    <input class="form-control text-center" @bind="@_quantitativeItemsVM.QI_UnitRatio" onClick="this.select();" />
                                                                </td>
                                                                <td class="text-center">
                                                                    <a @onclick=@(() => quantitativeItemsVMs.Remove(_quantitativeItemsVM))>
                                                                        <span class="badge bg-danger"><i class="fas fa-trash"></i></span>
                                                                    </a>
                                                                </td>
                                                            </tr>

                                                            ++rowNum;
                                                        }
                                                    }
                                                    @*</Virtualize>*@

                                                </tbody>
                                            }
                                        </table>

                                        <BlazoredTypeahead SearchMethod="SearchItems"
                                                       Value="qi_itemsVM"
                                                       ValueChanged="@( (ItemsVM i) => SelectedItem(i) )"
                                                       ValueExpression="@( () => qi_itemsVM)"
                                                       Debounce="500"
                                                       MinimumLength="2"
                                                       MaximumSuggestions="6"
                                                       placeholder="Tìm kiếm theo mã hoặc tên...">
                                            <SelectedTemplate Context="_item">
                                                <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm để thêm thành phần...
                                            </SelectedTemplate>
                                            <ResultTemplate Context="_item">
                                                <i class="fa-solid fa-barcode"></i> @_item.ICode <i class="fa-solid fa-box"></i> @_item.IName
                                            </ResultTemplate>
                                            <NotFoundTemplate Context="_item">
                                                <i class="fa-solid fa-file-circle-xmark text-danger"></i> Không có dữ liệu
                                            </NotFoundTemplate>
                                        </BlazoredTypeahead>
                                    </div>
                                }

                            </div>
                        </div>

                    </div>

                </div>

                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Lưu</button>
                    @if (itemsVM.IsTypeUpdate == 1)
                    {
                        <button type="submit" class="btn btn-danger" @onclick=@(() => itemsVM.IsTypeUpdate = 2)><i class="fas fa-trash-alt"></i> Xóa</button>
                    }
                </div>

            </EditForm>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModalUpdate_ItemsUnit">
    <div class="modal-dialog">
        <div class="modal-content">

            <EditForm Model="@itemsUnitVM" OnValidSubmit="@UpdateItemsUnit">

                <FluentValidationValidator />

                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>CẬP NHẬT ĐƠN VỊ TÍNH</span>
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Mã</label>
                        <div class="col-sm-5">
                            @if (itemsUnitVM.IsTypeUpdate == 0)
                            {
                                <InputText class="form-control" placeholder="Mã đơn vị tính" @bind-Value:get="itemsUnitVM.IUnitCode" @bind-Value:set="(value) => {itemsUnitVM.IUnitCode = value.ToUpper();}" />
                                <ValidationMessage For="@(() => itemsUnitVM.IUnitCode)" />
                            }
                            else
                            {
                                <input type="text" readonly class="form-control" placeholder="Mã đơn vị tính" value="@itemsUnitVM.IUnitCode" />
                            }
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tên</label>
                        <div class="col-sm-10">
                            <InputText class="form-control" placeholder="Tên đơn vị tính" @bind-Value="itemsUnitVM.IUnitName" autofocus />
                            <ValidationMessage For="@(() => itemsUnitVM.IUnitName)" />
                        </div>
                    </div>

                </div>

                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Lưu</button>
                    @if (itemsUnitVM.IsTypeUpdate == 1)
                    {
                        <button type="submit" class="btn btn-danger" @onclick=@(() => itemsUnitVM.IsTypeUpdate = 2)><i class="fas fa-trash-alt"></i> Xóa</button>
                    }
                </div>

            </EditForm>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<EditForm Model="@filterFinVM">

    <div id="content" style="padding-top:10px">
        <div class="container-fluid">

            <div class="row">

                <div class="col-12 col-sm-3">

                    <div class="card card-purple card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Lớp hàng</h3>
                        </div>
                        <div class="card-body">
                            <InputSelect class="selectpicker form-control"
                                         data-style="btn-selectpicker form-control" data-container="body"
                                         data-live-search="true" data-show-subtext="true"
                                         ValueExpression="@(()=>filterFinVM.IClsCode)"
                                         Value="@filterFinVM.IClsCode"
                                         ValueChanged="@((string value) => onchange_filter_IClsCode(value))">
                                <option value=@String.Empty>-----Tất cả-----</option>
                                @if (itemsClassVMs != null)
                                {
                                    @foreach (var _itemsClassVM in itemsClassVMs)
                                    {
                                        <option data-subtext="@_itemsClassVM.IClsCode" value="@_itemsClassVM.IClsCode">@_itemsClassVM.IClsName</option>
                                    }
                                }
                            </InputSelect>
                        </div>
                    </div>

                    <div class="card card-purple card-outline">
                        <div class="card-header">

                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Nhóm hàng</h3>
                                <a @onclick="(() => InitializeModalUpdate_ItemsGroup(0))"> <i class="fa-solid fa-xl fa-circle-plus text-success"></i></a>
                            </div>

                        </div>
                        <div class="card-body">

                            <div class="input-group">
                                <InputSelect class="selectpicker form-control"
                                             data-style="btn-selectpicker form-control" data-container="body"
                                             data-live-search="true" data-show-subtext="true"
                                             ValueExpression="@(()=>filterFinVM.IGrpCode)"
                                             Value="@filterFinVM.IGrpCode"
                                             ValueChanged="@((string value) => onchange_filter_IGrpCode(value))">
                                    <option value=@String.Empty>-----Tất cả-----</option>
                                    @if (itemsGroupVMs != null)
                                    {
                                        @foreach (var _itemsGroupVM in itemsGroupVMs.Where(x => x.IClsCode == filterFinVM.IClsCode || String.IsNullOrEmpty(filterFinVM.IClsCode)))
                                        {
                                            <option data-subtext="@_itemsGroupVM.IGrpCode" value="@_itemsGroupVM.IGrpCode">@_itemsGroupVM.IGrpName</option>
                                        }
                                    }
                                </InputSelect>
                                @if (!String.IsNullOrEmpty(filterFinVM.IGrpCode))
                                {
                                    <div class="input-group-append">
                                        <button class="btn" @onclick="(() => InitializeModalUpdate_ItemsGroup(1))"><i class="fa-solid fa-pencil text-secondary"></i></button>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>

                    <div class="card card-purple card-outline">
                        <div class="card-header">

                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Tìm kiếm</h3>
                            </div>

                        </div>
                        <div class="card-body">

                            <input type="search" @bind="onchange_SearchItems" @bind:event="oninput" class="form-control form-control-border border-width-2" placeholder="Theo mã hoặc tên hàng..." />

                        </div>
                    </div>

                    <div class="card card-purple card-outline">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Trạng thái</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group clearfix">
                                <div class="icheck-success d-inline">
                                    <input type="radio" id="ckboxItemsActive" name="rFilterActive" value="true" @onchange="onchange_filter_IActive" checked="@(filterFinVM.IActive == true)">
                                    <label for="ckboxItemsActive">Hàng đang hoạt động</label>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="icheck-danger d-inline">
                                    <input type="radio" id="ckboxItemsNoActive" name="rFilterActive" value="false" @onchange="onchange_filter_IActive" checked="@(filterFinVM.IActive == false)">
                                    <label for="ckboxItemsNoActive">Hàng ngừng hoạt động</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-sm-9">

                    <div class="card card-purple card-outline">
                        <div class="card-header text-right">
                            <button type="button" class="btn btn-secondary" @onclick="(() => SyncDataSmile())"><i class="fa-solid fa-arrows-rotate"></i> Đồng bộ dữ liệu SMILE</button>

                            @*                            <div class="input-group input-group-sm" style="width: auto;">
                                <input type="search" class="form-control form-control-border border-width-2" style="margin: 0 10px;" placeholder="Tìm kiếm theo mã hoặc tên hàng..." />
                                <div class="btn-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-pencil"></i> Cập nhật
                                </button>
                                <div class="dropdown-menu">
                                <a class="dropdown-item">Hoạt động</a>
                                <a class="dropdown-item">Ngừng hoạt động</a>
                                <a class="dropdown-item">Xóa hàng loạt</a>
                                </div>
                                </div>
                                <button type="button" class="btn btn-success" @onclick="(() => InitializeModalUpdate_Items(0, itemsVM))"><i class="fa-solid fa-xl fa-plus"></i> Thêm</button>
                                </div>*@

                        </div>

                        <div class="card-body table-responsive p-0" style="height: calc(100vh - 241px);">
                            <table class="table table-sm table-bordered table-head-fixed table-hover table-hover-cursor tblFontSizeMin">
                                <thead>
                                    <tr>
                                        @*                                        <th class="text-center">
                                            @if (itemsVMs != null)
                                            {
                                            <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input custom-control-input-purple" type="checkbox" id="ckAll" @onchange="EventArgs => { CheckAll(EventArgs.Value); }" checked="@filterFinVM.IsChecked">
                                            <label for="ckAll" class="custom-control-label"></label>
                                            </div>
                                            }
                                            </th>*@
                                        <th class="text-center">Hình ảnh</th>
                                        <th class="text-center">Mã hàng hóa</th>
                                        <th class="sort-th" @onclick=@(()=>SortTable("IName"))>
                                            Tên hàng
                                            <span class="fa-solid @(SetSortIcon("IName"))"></span>
                                        </th>
                                        <th>Loại hàng</th>
                                        <th>Lớp hàng</th>
                                        <th>Nhóm hàng</th>

                                        <th class="text-center">Giá</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (search_itemsVMs != null)
                                    {
                                        <Virtualize Items="@search_itemsVMs" Context="_itemVMs" OverscanCount="50">
                                            <tr @onclick="() => InitializeModalUpdate_Items(1,_itemVMs)">
                                                @*                                                <td class="text-center">
                                                    <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input custom-control-input-purple custom-control-input-outline" id="@_itemVMs.ICode" type="checkbox" @bind="_itemVMs.IsChecked">
                                                    <label for="@_itemVMs.ICode" class="custom-control-label"></label>
                                                    </div>
                                                    </td>*@
                                                <td class="text-center">
                                                    <img class="table-picture" src="@_itemVMs.IURLPicture1">
                                                </td>
                                                <td align="center">@_itemVMs.ICode</td>
                                                <td>@_itemVMs.IName</td>
                                                <td>@_itemVMs.ITypeName</td>
                                                <td>@_itemVMs.IClsName</td>
                                                <td>@_itemVMs.IGrpName</td>
                                                <td class="text-right">@String.Format("{0:#,##0.##}", _itemVMs.IPrice)</td>
                                            </tr>
                                        </Virtualize>
                                    }
                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                        @if (search_itemsVMs != null)
                        {
                            <div class="card-footer text-muted">
                                Tổng số: <b>@search_itemsVMs.Count()</b> bản ghi
                            </div>
                        }
                        <!-- /.card-footer -->
                    </div>
                </div>

            </div>

        </div>
    </div>

</EditForm>



