@page "/FIN/Items"
@using D69soft.Shared.Models.ViewModels.FIN;

<LoadingScreen isLoadingScreen="@isLoadingScreen"></LoadingScreen>
<Loading isLoading="@isLoading"></Loading>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModalUpdate_ItemsGroup">
    <div class="modal-dialog">
        <div class="modal-content">

            <EditForm Model="@itemsGroupVM" OnValidSubmit="@UpdateItemsGroup">

                <FluentValidationValidator />

                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>CẬP NHẬT NHÓM HÀNG</span>
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Mã</label>
                        <div class="col-sm-5">
                            @if (itemsGroupVM.IsTypeUpdate == 0)
                            {
                                <InputText class="form-control form-control-sm" placeholder="Mã nhóm hàng" @bind-Value:get="itemsGroupVM.IGrpCode" @bind-Value:set="(value) => {itemsGroupVM.IGrpCode = value.ToUpper();}" />
                                <ValidationMessage For="@(() => itemsGroupVM.IGrpCode)" />
                            }
                            else
                            {
                                <input type="text" readonly class="form-control form-control-sm" placeholder="Mã nhóm hàng" value="@itemsGroupVM.IGrpCode" />
                            }
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tên</label>
                        <div class="col-sm-9">
                            <InputText class="form-control form-control-sm" placeholder="Tên nhóm hàng" @bind-Value="itemsGroupVM.IGrpName" autofocus />
                            <ValidationMessage For="@(() => itemsGroupVM.IGrpName)" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Lớp hàng</label>
                        <div class="col-sm-9">
                            <InputSelect class="selectpicker form-control form-control-sm"
                                         data-style="btn-selectpicker" data-container="body"
                                         data-live-search="true" data-show-subtext="true"
                                         @bind-Value="itemsGroupVM.IClsCode">
                                <option value=@String.Empty>-----Tất cả-----</option>
                                @if (itemsClassVMs != null)
                                {
                                    @foreach (var _itemsClassVM in itemsClassVMs)
                                    {
                                        <option data-subtext="@_itemsClassVM.IClsCode" value="@_itemsClassVM.IClsCode">@_itemsClassVM.IClsName</option>
                                    }
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => itemsGroupVM.IClsCode)" />
                        </div>
                    </div>

                </div>

                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-check"></i> Lưu</button>
                    @if (itemsGroupVM.IsTypeUpdate == 1)
                    {
                        <button type="submit" class="btn btn-sm btn-danger" @onclick=@(() => itemsGroupVM.IsTypeUpdate = 2)><i class="fas fa-trash-alt"></i> Xóa</button>
                    }
                </div>

            </EditForm>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModalUpdate_Items">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <EditForm Model="@itemsVM" Context="formItemsVM">

                <FluentValidationValidator />

                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>CẬP NHẬT HÀNG HÓA</span>
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="()=> GetItems()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="card card-primary card-outline card-outline-tabs" style="margin-bottom: 0;">
                        <div class="card-header p-0 border-bottom-0">
                            <ul class="nav nav-tabs" id="custom-tabs-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-info-tab" data-toggle="pill" href="#custom-tabs-info" role="tab" aria-controls="custom-tabs-info" aria-selected="true">Thông tin</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-default-tab" data-toggle="pill" href="#custom-tabs-default" role="tab" aria-controls="custom-tabs-default" aria-selected="false">Ngầm định</a>
                                </li>
                                @if (itemsVM.ITypeCode == "TP")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-ingredient-tab" data-toggle="pill" href="#custom-tabs-ingredient" role="tab" aria-controls="custom-tabs-ingredient" aria-selected="false">Định mức nguyên vật liệu</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-tabContent">
                                <div class="tab-pane fade active show" id="custom-tabs-info" role="tabpanel" aria-labelledby="custom-tabs-info-tab">

                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label>Mã hàng hóa</label>
                                            @if (itemsVM.IsTypeUpdate == 0)
                                            {
                                                <InputText class="form-control form-control-sm" placeholder="Mã mặc định" @bind-Value="itemsVM.ICode" disabled />
                                                <ValidationMessage For="@(() => itemsVM.ICode)" />
                                            }
                                            else
                                            {
                                                <input type="text" readonly class="form-control form-control-sm" value="@itemsVM.ICode" />
                                            }
                                        </div>
                                        <div class="form-group col-md-8">
                                            <label>Tên hàng</label>
                                            <InputText class="form-control form-control-sm" placeholder="Tên hàng" @bind-Value="itemsVM.IName" autofocus />
                                            <ValidationMessage For="@(() => itemsVM.IName)" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Đơn vị tính</label>
                                            <div class="input-group">
                                                <InputSelect class="selectpicker form-control form-control-sm"
                                                             data-style="btn-selectpicker" data-container="body"
                                                             data-live-search="true" data-show-subtext="true"
                                                             @bind-Value="itemsVM.IUnitCode">
                                                    <option value=@String.Empty>--Tất cả--</option>
                                                    @if (itemsUnitVMs != null)
                                                    {
                                                        @foreach (var _itemsUnitVM in itemsUnitVMs)
                                                        {
                                                            <option value="@_itemsUnitVM.IUnitCode">@_itemsUnitVM.IUnitName</option>
                                                        }
                                                    }
                                                </InputSelect>
                                                @if (String.IsNullOrEmpty(itemsVM.IUnitCode))
                                                {
                                                    <div class="input-group-append">
                                                        <a class="btn btn-sm btn-success" @onclick="(() => InitializeModalUpdate_ItemsUnit(0))"><i class="fa-solid fa-plus"></i></a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="input-group-append">
                                                        <a class="btn btn-sm btn-secondary" @onclick="(() => InitializeModalUpdate_ItemsUnit(1))"><i class="fa-solid fa-pencil"></i></a>
                                                    </div>
                                                }
                                                <ValidationMessage For="@(() => itemsVM.IUnitCode)" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>Loại hàng</label>
                                            <InputSelect class="selectpicker form-control form-control-sm"
                                                         data-style="btn-selectpicker" data-container="body"
                                                         data-live-search="true" data-show-subtext="true"
                                                         @bind-Value="itemsVM.ITypeCode">
                                                <option value=@String.Empty>-----Tất cả-----</option>
                                                @if (itemsTypeVMs != null)
                                                {
                                                    @foreach (var _itemsTypeVM in itemsTypeVMs)
                                                    {
                                                        <option value="@_itemsTypeVM.ITypeCode">@_itemsTypeVM.ITypeName</option>
                                                    }
                                                }
                                            </InputSelect>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Lớp hàng</label>
                                            <InputSelect class="selectpicker form-control form-control-sm"
                                                         data-style="btn-selectpicker" data-container="body"
                                                         data-live-search="true" data-show-subtext="true"
                                                         @bind-Value="onchange_IClsCode">
                                                <option value=@String.Empty>-----Tất cả-----</option>
                                                @if (itemsClassVMs != null)
                                                {
                                                    @foreach (var _itemsClassVM in itemsClassVMs.Where(x => x.IClsActive))
                                                    {
                                                        <option data-subtext="@_itemsClassVM.IClsCode" value="@_itemsClassVM.IClsCode">@_itemsClassVM.IClsName</option>
                                                    }
                                                }
                                            </InputSelect>
                                            <ValidationMessage For="@(() => itemsVM.IClsCode)" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Nhóm hàng</label>
                                            <InputSelect class="selectpicker form-control form-control-sm"
                                                         data-style="btn-selectpicker" data-container="body"
                                                         data-live-search="true" data-show-subtext="true"
                                                         @bind-Value="itemsVM.IGrpCode">
                                                <option value=@String.Empty>-----Tất cả-----</option>
                                                @if (itemsGroupVMs != null)
                                                {
                                                    @foreach (var _itemsGroupVM in itemsGroupVMs.Where(x => x.IGrpActive && (x.IClsCode == itemsVM.IClsCode || String.IsNullOrEmpty(itemsVM.IClsCode))))
                                                    {
                                                        <option data-subtext="@_itemsGroupVM.IGrpCode" value="@_itemsGroupVM.IGrpCode">@_itemsGroupVM.IGrpName</option>
                                                    }
                                                }
                                            </InputSelect>
                                            <ValidationMessage For="@(() => itemsVM.IGrpCode)" />
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label>Giá mua</label>
                                            <div class="input-group input-group-sm">
                                                <input class="form-control form-control-sm" name="currency-mask" @bind="itemsVM.ICost" onClick="this.select();" />
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa-solid fa-dong-sign"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Giá bán</label>
                                            <div class="input-group input-group-sm">
                                                <input class="form-control form-control-sm" name="currency-mask" @bind="itemsVM.IPrice" onClick="this.select();" />
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa-solid fa-dong-sign"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Giá bán cũ</label>
                                            <div class="input-group input-group-sm">
                                                <input class="form-control form-control-sm" name="currency-mask" @bind="itemsVM.IOldPrice" onClick="this.select();" />
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa-solid fa-dong-sign"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label></label>
                                            <div class="form-group clearfix">
                                                <div class="icheck-success d-inline">
                                                    <input type="checkbox" id="ckIsSale" @bind="itemsVM.IsSale">
                                                    <label for="ckIsSale">
                                                        Hiển thị bán hàng
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="product-image-thumb active">
                                            <label>
                                                <InputFile OnChange="OnInputFileChange" style="display:none;" accept="image/*" />
                                                <img src="@itemsVM.IURLPicture1">
                                            </label>
                                        </div>
                                        @if (itemsVM.IsTypeUpdate == 1 || itemsVM.IURLPicture1 != "/images/_default/no-image.png")
                                        {
                                            <a href="@itemsVM.IURLPicture1" download><i class="fa-solid fa-download"></i></a>
                                            <span>&nbsp;</span>
                                            <a href="javascript:void(0)" @onclick="(() => FileDefault())"><i class="fa-solid fa-trash-can"></i></a>
                                        }
                                    </div>

                                    <div class="form-group">
                                        <BlazoredTextEditor @ref="QuillHtml" Placeholder="Mô tả chi tiết hàng hóa, dịch vụ...">
                                            <ToolbarContent>
                                                <select class="ql-header">
                                                    <option selected=""></option>
                                                    <option value="1"></option>
                                                    <option value="2"></option>
                                                    <option value="3"></option>
                                                    <option value="4"></option>
                                                    <option value="5"></option>
                                                </select>
                                                <span class="ql-formats">
                                                    <button class="ql-bold"></button>
                                                    <button class="ql-italic"></button>
                                                    <button class="ql-underline"></button>
                                                    <button class="ql-strike"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <select class="ql-color"></select>
                                                    <select class="ql-background"></select>
                                                </span>
                                                <span class="ql-formats">
                                                    <button class="ql-list" value="ordered"></button>
                                                    <button class="ql-list" value="bullet"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <button class="ql-link"></button>
                                                </span>
                                            </ToolbarContent>
                                        </BlazoredTextEditor>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-group clearfix">
                                            <div class="icheck-success d-inline">
                                                <input type="radio" id="isActive1" name="isActive" checked="@(itemsVM.IActive == true)" @onchange="(() => itemsVM.IActive = true)">
                                                <label for="isActive1">
                                                    Hoạt động
                                                </label>
                                            </div>
                                            <label>
                                                &nbsp;&nbsp;
                                            </label>
                                            <div class="icheck-danger d-inline">
                                                <input type="radio" id="isActive2" name="isActive" checked="@(itemsVM.IActive == false)" @onchange="(() => itemsVM.IActive = false)">
                                                <label for="isActive2">
                                                    Không hoạt động
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="custom-tabs-default" role="tabpanel" aria-labelledby="custom-tabs-default">

                                    <div class="form-row">
                                        <div class="form-group col-md-5">
                                            <label>Kho:</label>
                                            <select class="selectpicker form-control form-control-sm"
                                                    data-style="btn-selectpicker" data-container="body"
                                                    data-live-search="true" data-show-subtext="true"
                                                    @bind="itemsVM.StockDefault">
                                                <option value=@String.Empty>-----Tất cả-----</option>
                                                @if (stockVMs != null)
                                                {
                                                    @foreach (var _stockVM in stockVMs)
                                                    {
                                                        <option data-subtext="@_stockVM.StockCode" value="@_stockVM.StockCode">@_stockVM.StockName</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-md-7">
                                            <label>Nhà cung cấp:</label>
                                            <select class="selectpicker form-control form-control-sm"
                                                    data-style="btn-selectpicker" data-container="body"
                                                    data-live-search="true" data-show-subtext="true"
                                                    @bind="itemsVM.VendorDefault">
                                                <option value=@String.Empty>-----Tất cả-----</option>
                                                @if (vendorVMs != null)
                                                {
                                                    @foreach (var _vendorVM in vendorVMs)
                                                    {
                                                        <option data-subtext="@_vendorVM.VendorCode" value="@_vendorVM.VendorCode">@_vendorVM.VendorName</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-5">
                                            <label>Thuế suất GTGT:</label>
                                            <InputSelect class="selectpicker form-control form-control-sm"
                                                         data-style="btn-selectpicker"
                                                         data-container="body"
                                                         @bind-Value="itemsVM.VATDefault">

                                                <option value=@String.Empty>-----Chọn-----</option>
                                                @if (vatDefVMs != null)
                                                {
                                                    @foreach (var _vatDefVM in vatDefVMs)
                                                    {
                                                        <option value="@_vatDefVM.VATCode">@_vatDefVM.VATName</option>
                                                    }
                                                }
                                            </InputSelect>
                                        </div>
                                        <div class="form-group col-md-7">
                                        </div>
                                    </div>

                                </div>

                                @if (itemsVM.ITypeCode == "TP")
                                {
                                    <div class="tab-pane fade" id="custom-tabs-ingredient" role="tabpanel" aria-labelledby="custom-tabs-ingredient">

                                        <table class="table table-sm table-bordered table-head-fixed table-hover tblFontSizeMin" id="keyPressNextInput">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th class="text-center">STT</th>
                                                    <th>Thành phần</th>
                                                    <th class="text-center">Đơn vị</th>
                                                    <th class="text-center">Tỷ lệ</th>
                                                    <th class="text-center"></th>
                                                </tr>
                                            </thead>
                                            @if (quantitativeItemsVMs != null)
                                            {
                                                <tbody>

                                                    @{
                                                        int rowNum = 1;
                                                        foreach (var _quantitativeItemsVM in quantitativeItemsVMs)
                                                        {
                                                            <tr>
                                                                <td class="text-center">@rowNum</td>
                                                                <td>@_quantitativeItemsVM.QI_ICode - @_quantitativeItemsVM.QI_IName</td>
                                                                <td class="text-center">@_quantitativeItemsVM.QI_IUnitName</td>
                                                                <td class="text-center">
                                                                    <input class="form-control form-control-sm text-center" @bind="@_quantitativeItemsVM.QI_UnitRatio" onClick="this.select();" />
                                                                </td>
                                                                <td class="text-center">
                                                                    <a @onclick=@(() => quantitativeItemsVMs.Remove(_quantitativeItemsVM))>
                                                                        <span class="badge bg-danger"><i class="fas fa-trash"></i></span>
                                                                    </a>
                                                                </td>
                                                            </tr>

                                                            ++rowNum;
                                                        }
                                                    }
                                                    @*</Virtualize>*@

                                                </tbody>
                                            }
                                        </table>

                                        <BlazoredTypeahead SearchMethod="SearchItems"
                                                           Value="qi_itemsVM"
                                                           ValueChanged="@( (ItemsVM i) => SelectedItem(i) )"
                                                           ValueExpression="@( () => qi_itemsVM)"
                                                           Debounce="500"
                                                           MinimumLength="2"
                                                           MaximumSuggestions="6"
                                                           placeholder="Tìm kiếm theo mã hoặc tên...">
                                            <SelectedTemplate Context="_item">
                                                <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm để thêm thành phần...
                                            </SelectedTemplate>
                                            <ResultTemplate Context="_item">
                                                <i class="fa-solid fa-barcode"></i> @_item.ICode <i class="fa-solid fa-box"></i> @_item.IName
                                            </ResultTemplate>
                                            <NotFoundTemplate Context="_item">
                                                <i class="fa-solid fa-file-circle-xmark text-danger"></i> Không có dữ liệu
                                            </NotFoundTemplate>
                                        </BlazoredTypeahead>
                                    </div>
                                }

                            </div>
                        </div>

                    </div>

                </div>

                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-sm btn-success" @onclick=@(() => UpdateItems(formItemsVM, itemsVM.IsTypeUpdate))><i class="fas fa-check"></i> Lưu</button>
                    @if (itemsVM.IsTypeUpdate == 1)
                    {
                        <button type="submit" class="btn btn-sm btn-danger" @onclick=@(() => UpdateItems(formItemsVM,2))><i class="fas fa-trash-alt"></i> Xóa</button>
                    }
                </div>

            </EditForm>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModalUpdate_ItemsUnit">
    <div class="modal-dialog">
        <div class="modal-content">

            <EditForm Model="@itemsUnitVM" OnValidSubmit="@UpdateItemsUnit">

                <FluentValidationValidator />

                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>CẬP NHẬT ĐƠN VỊ TÍNH</span>
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Mã</label>
                        <div class="col-sm-5">
                            @if (itemsUnitVM.IsTypeUpdate == 0)
                            {
                                <InputText class="form-control form-control-sm" placeholder="Mã đơn vị tính" @bind-Value:get="itemsUnitVM.IUnitCode" @bind-Value:set="(value) => {itemsUnitVM.IUnitCode = value.ToUpper();}" />
                                <ValidationMessage For="@(() => itemsUnitVM.IUnitCode)" />
                            }
                            else
                            {
                                <input type="text" readonly class="form-control form-control-sm" placeholder="Mã đơn vị tính" value="@itemsUnitVM.IUnitCode" />
                            }
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tên</label>
                        <div class="col-sm-10">
                            <InputText class="form-control form-control-sm" placeholder="Tên đơn vị tính" @bind-Value="itemsUnitVM.IUnitName" autofocus />
                            <ValidationMessage For="@(() => itemsUnitVM.IUnitName)" />
                        </div>
                    </div>

                </div>

                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-check"></i> Lưu</button>
                    @if (itemsUnitVM.IsTypeUpdate == 1)
                    {
                        <button type="submit" class="btn btn-sm btn-danger" @onclick=@(() => itemsUnitVM.IsTypeUpdate = 2)><i class="fas fa-trash-alt"></i> Xóa</button>
                    }
                </div>

            </EditForm>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<EditForm Model="@filterVM">

    <div id="content" style="padding-top:10px">
        <div class="container-fluid">

            <div class="row">

                <div class="col-12 col-sm-3">

                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Lớp hàng</h3>
                        </div>
                        <div class="card-body">
                            <InputSelect class="selectpicker form-control form-control-sm"
                                         data-style="btn-selectpicker" data-container="body"
                                         data-live-search="true" data-show-subtext="true"
                                         ValueExpression="@(()=>filterVM.IClsCode)"
                                         Value="@filterVM.IClsCode"
                                         ValueChanged="@((string value) => onchange_filter_IClsCode(value))">
                                <option value=@String.Empty>-----Tất cả-----</option>
                                @if (itemsClassVMs != null)
                                {
                                    @foreach (var _itemsClassVM in itemsClassVMs)
                                    {
                                        <option data-subtext="@_itemsClassVM.IClsCode" value="@_itemsClassVM.IClsCode">@_itemsClassVM.IClsName</option>
                                    }
                                }
                            </InputSelect>
                        </div>
                    </div>

                    <div class="card card-primary card-outline">
                        <div class="card-header">

                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Nhóm hàng</h3>
                                <a @onclick="(() => InitializeModalUpdate_ItemsGroup(0))"> <i class="fa-solid fa-xl fa-circle-plus text-success"></i></a>
                            </div>

                        </div>
                        <div class="card-body">

                            <div class="input-group">
                                <InputSelect class="selectpicker form-control form-control-sm"
                                             data-style="btn-selectpicker" data-container="body"
                                             data-live-search="true" data-show-subtext="true"
                                             ValueExpression="@(()=>filterVM.IGrpCode)"
                                             Value="@filterVM.IGrpCode"
                                             ValueChanged="@((string value) => onchange_filter_IGrpCode(value))">
                                    <option value=@String.Empty>-----Tất cả-----</option>
                                    @if (itemsGroupVMs != null)
                                    {
                                        @foreach (var _itemsGroupVM in itemsGroupVMs.Where(x => x.IClsCode == filterVM.IClsCode || String.IsNullOrEmpty(filterVM.IClsCode)))
                                        {
                                            <option data-subtext="@_itemsGroupVM.IGrpCode" value="@_itemsGroupVM.IGrpCode">@_itemsGroupVM.IGrpName</option>
                                        }
                                    }
                                </InputSelect>
                                @if (!String.IsNullOrEmpty(filterVM.IGrpCode))
                                {
                                    <div class="input-group-append">
                                        <button class="btn" @onclick="(() => InitializeModalUpdate_ItemsGroup(1))"><i class="fa-solid fa-pencil text-secondary"></i></button>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>

                    <div class="card card-primary card-outline">
                        <div class="card-header">

                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Tìm kiếm</h3>
                            </div>

                        </div>
                        <div class="card-body">

                            <input type="search" class="form-control form-control-sm form-control-border border-width-2" placeholder="Theo mã hoặc tên hàng..." @onchange="FilterItems" />

                        </div>
                    </div>

                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">Trạng thái</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group clearfix">
                                <div class="icheck-success d-inline">
                                    <input type="radio" id="ckboxItemsActive" name="rFilterActive" value="true" @onchange="onchange_filter_IActive" checked="@(filterVM.IActive == true)">
                                    <label for="ckboxItemsActive">Hàng đang hoạt động</label>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="icheck-danger d-inline">
                                    <input type="radio" id="ckboxItemsNoActive" name="rFilterActive" value="false" @onchange="onchange_filter_IActive" checked="@(filterVM.IActive == false)">
                                    <label for="ckboxItemsNoActive">Hàng ngừng hoạt động</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-sm-9">

                    <div class="card card-primary card-outline">
                        <div class="card-header text-right">

                            @if (!String.IsNullOrEmpty(itemsVM.ICode))
                            {
                                <button type="button" class="btn btn-sm btn-info" @onclick=@(() => InitializeModalUpdate_Items(1))><i class="fa-solid fa-file-invoice"></i> Chi tiết</button>
                            }

                            <button type="button" class="btn btn-sm btn-success" @onclick="(() => InitializeModalUpdate_Items(0))"><i class="fa-solid fa-xl fa-plus"></i> Thêm</button>

                        </div>

                        <div class="card-body table-responsive p-0" style="height: calc(100vh - 142px);">
                            @if (itemsVMs != null)
                            {
                                <table class="table table-sm table-bordered table-head-fixed table-hover table-hover-cursor tblFontSizeMin">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Hình ảnh</th>
                                            <th class="text-center">Mã hàng hóa</th>
                                            <th>Tên hàng</th>
                                            <th>Loại hàng</th>
                                            <th>Lớp hàng</th>
                                            <th>Nhóm hàng</th>
                                            <th>Đơn vị tính</th>
                                            <th>Giá mua</th>
                                            <th>Giá bán</th>
                                            <th class="text-center">Thuế GTGT</th>

                                            <th class="text-center">Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <Virtualize Items="@itemsVMs" Context="_itemVM" OverscanCount="50">
                                            <tr class="@(SetSelected(_itemVM))" @onclick="() => onclick_Selected(_itemVM)">
                                                <td class="text-center">
                                                    <img class="table-picture" src="@_itemVM.IURLPicture1">
                                                </td>
                                                <td align="center">@_itemVM.ICode</td>
                                                <td>@_itemVM.IName</td>
                                                <td>@_itemVM.ITypeName</td>
                                                <td>@_itemVM.IClsName</td>
                                                <td>@_itemVM.IGrpName</td>
                                                <td>@_itemVM.IUnitName</td>
                                                <td class="text-right">@String.Format("{0:#,##0.##}", _itemVM.ICost)</td>
                                                <td class="text-right">@String.Format("{0:#,##0.##}", _itemVM.IPrice)</td>
                                                <td class="text-center">@_itemVM.VATName</td>
                                                <td class="text-center">
                                                    @if (_itemVM.IActive)
                                                    {
                                                        <i class="fas fa-check text-success"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fas fa-times"></i>
                                                    }
                                                </td>
                                            </tr>
                                        </Virtualize>
                                    </tbody>

                                </table>

                                if (itemsVMs.Count() <= 0)
                                {
                                    <img class="img-no-result" src="images/_default/no-results.png" />
                                }

                            }

                        </div>
                        <!-- /.card-body -->
                        @if (itemsVMs != null)
                        {
                            <div class="card-footer text-muted">
                                Tổng số: <b>@itemsVMs.Count()</b> bản ghi
                            </div>
                        }
                        <!-- /.card-footer -->
                    </div>
                </div>

            </div>

        </div>
    </div>

</EditForm>



