@page "/FIN/Voucher/{_FuncID}"
@using D69soft.Client.Pages.SYS
@using D69soft.Shared.Models.ViewModels.FIN;

<LoadingScreen isLoadingScreen="@isLoadingScreen"></LoadingScreen>
<Loading isLoading="@isLoading"></Loading>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModalUpdate_Voucher">
    <div class="modal-dialog modal-xxl">
        <div class="modal-content">

            <EditForm Model="voucherVM" Context="formVoucherVM">

                <FluentValidationValidator />

                <div class="modal-header">
                    <h4 class="modal-title">
                        @if (filter_vTypeVMs != null && !String.IsNullOrEmpty(voucherVM.VTypeID))
                        {
                            string _vTypeName = filter_vTypeVMs.Where(x => x.VTypeID == voucherVM.VTypeID).Select(x => x.VTypeDesc).First();
                            <span>@_vTypeName.ToUpper() @(String.IsNullOrEmpty(voucherVM.VNumber) || voucherVM.IsTypeUpdate == 5 ? String.Empty : voucherVM.VNumber)</span>
                        }
                    </h4>

                    @if (vSubTypeVMs != null && vSubTypeVMs.Count() > 0)
                    {
                        <div class="col-sm-2">
                            <select class="selectpicker form-control"
                                    data-style="btn-selectpicker" data-container="body"
                            @bind="onchange_VSubTypeID">
                                <option value=@String.Empty>-----Chọn-----</option>
                                @foreach (var _vSubTypeVM in vSubTypeVMs)
                                {
                                    <option value="@_vSubTypeVM.VSubTypeID">@_vSubTypeVM.VSubTypeDesc</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => voucherVM.VSubTypeID)" />
                        </div>
                    }

                    @if (filterVM.FuncID != "FIN_Cash" && filterVM.FuncID != "FIN_Deposit")
                    {
                        <div class="col-sm-2 @(voucherVM.IsTypeUpdate==3 || voucherVM.IsTypeUpdate==6?"noClick":"")">
                            <select class="selectpicker form-control" data-style="btn-selectpicker" data-container="body" @bind="onchange_ITypeCode">
                                <option value="HH">Hàng hóa</option>
                                <option value="DV">Dịch vụ</option>
                            </select>
                        </div>
                    }

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="()=> GetVouchers()">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>

                <div id="updateScrollToBottom" class="table-responsive" style="height: calc(100vh - 299px); min-height: 300px;">

                    <div class="modal-body @(voucherVM.IsTypeUpdate==3?"noClick":"")" style="background-color: #f4f6f9;">
                        @if (voucherVM.VTypeID == "FIN_Purchasing" || voucherVM.VTypeID == "FIN_Sale")
                        {
                            <div class="row" style="padding-bottom: 10px">
                                <div class="col-12 col-sm-2 @(voucherVM.IsTypeUpdate==6?"noClick":"")">

                                    <div class="form-group clearfix">
                                        <div class="icheck-success d-inline @(voucherVM.IsTypeUpdate==6?"noClick":"")">
                                            <input type="checkbox" id="IsPayment" @bind="voucherVM.IsPayment" />
                                            @if (voucherVM.VTypeID == "FIN_Purchasing")
                                            {
                                                <label for="IsPayment">
                                                    Thanh toán ngay
                                                </label>
                                            }
                                            @if (voucherVM.VTypeID == "FIN_Sale")
                                            {
                                                <label for="IsPayment">
                                                    Thu tiền ngay
                                                </label>
                                            }
                                        </div>
                                    </div>

                                </div>

                                @if (voucherVM.IsPayment)
                                {
                                    <div class="col-12 col-sm-2 @(voucherVM.IsTypeUpdate==6?"noClick":"")">
                                        <select class="selectpicker form-control" data-style="btn-selectpicker" data-container="body" @bind="voucherVM.PaymentTypeCode">
                                            <option value="CASH">Tiền mặt</option>
                                            <option value="BANK">Chuyển khoản</option>
                                        </select>
                                    </div>
                                }

                                <div class="col-12 col-sm-3">
                                    <div class="form-group clearfix">
                                        @if (voucherVM.ITypeCode == "HH")
                                        {
                                            <div class="icheck-success d-inline @(voucherVM.IsTypeUpdate==6?"noClick":"")">
                                                <input type="checkbox" id="IsInventory" @bind="voucherVM.IsInventory" />
                                                @if (voucherVM.VTypeID == "FIN_Purchasing")
                                                {
                                                    <label for="IsInventory">
                                                        Phiếu nhập kho
                                                    </label>
                                                }
                                                @if (voucherVM.VTypeID == "FIN_Sale")
                                                {
                                                    <label for="IsInventory">
                                                        Phiếu xuất kho
                                                    </label>
                                                }
                                            </div>
                                            <label>
                                                &nbsp;&nbsp;
                                            </label>
                                        }
                                        <div class="icheck-success d-inline">
                                            <input type="checkbox" id="IsInvoice" @bind="onchange_IsInvoice" />
                                            <label for="IsInvoice">
                                                Lập kèm hóa đơn
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }

                        <div class="row">
                            <div class="col-sm-7 @(voucherVM.IsTypeUpdate==6?"noClick":"")" style="padding-right: 10px; border-right: 1px solid #e9ecef;">

                                @if (voucherVM.VTypeID == "FIN_Purchasing")
                                {
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Nhà cung cấp</label>
                                            <select class="selectpicker form-control form-control-sm"
                                                    data-style="btn-selectpicker" data-container="body"
                                                    data-live-search="true" data-show-subtext="true"
                                            @bind="onchange_VendorCode">
                                                <option value=@String.Empty>-----Chọn-----</option>
                                                @if (vendorVMs != null)
                                                {
                                                    @foreach (var _vendorVM in vendorVMs)
                                                    {
                                                        <option data-subtext="@_vendorVM.VendorCode" value="@_vendorVM.VendorCode">@_vendorVM.VendorName</option>
                                                    }
                                                }
                                            </select>
                                            <ValidationMessage For="@(() => voucherVM.VendorCode)" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Người giao hàng</label>
                                            <div class="input-group">
                                                <InputText class="form-control form-control-sm" @bind-Value="voucherVM.VContact" />
                                            </div>
                                        </div>
                                    </div>
                                }

                                @if (voucherVM.VTypeID == "FIN_Sale")
                                {
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Khách hàng</label>
                                            <select class="selectpicker form-control form-control-sm"
                                                    data-style="btn-selectpicker" data-container="body"
                                                    data-live-search="true" data-show-subtext="true"
                                            @bind="onchange_CustomerCode">
                                                <option value=@String.Empty>-----Chọn-----</option>
                                                @if (customerVMs != null)
                                                {
                                                    @foreach (var _customerVM in customerVMs)
                                                    {
                                                        <option data-subtext="@_customerVM.CustomerCode" value="@_customerVM.CustomerCode">@_customerVM.CustomerName</option>
                                                    }
                                                }
                                            </select>
                                            <ValidationMessage For="@(() => voucherVM.CustomerCode)" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Người mua hàng</label>
                                            <div class="input-group">
                                                <InputText class="form-control form-control-sm" @bind-Value="voucherVM.VContact" />
                                            </div>
                                        </div>
                                    </div>
                                }

                                @if (voucherVM.PaymentTypeCode == "BANK" || voucherVM.VTypeID == "FIN_Deposit_Credit" || voucherVM.VTypeID == "FIN_Deposit_Debit" || voucherVM.VSubTypeID == "FIN_Cash_Receipt_Bank" || voucherVM.VSubTypeID == "FIN_Cash_Payment_Bank")
                                {
                                    <div class="form-group">
                                        @if (voucherVM.VSubTypeID == "FIN_Cash_Receipt_Bank")
                                        {
                                            <label>Từ tài khoản</label>
                                        }
                                        @if (voucherVM.VSubTypeID == "FIN_Cash_Payment_Bank")
                                        {
                                            <label>Nộp vào tài khoản</label>
                                        }
                                        @if (voucherVM.VTypeID == "FIN_Purchasing" || voucherVM.VTypeID == "FIN_Deposit_Debit")
                                        {
                                            <label>Tài khoản chi</label>
                                        }
                                        @if (voucherVM.VTypeID == "FIN_Sale" || voucherVM.VTypeID == "FIN_Deposit_Credit")
                                        {
                                            <label>Tài khoản nhận</label>
                                        }
                                        <select class="selectpicker form-control form-control-sm"
                                                data-style="btn-selectpicker" data-container="body"
                                                data-live-search="true" data-show-subtext="true"
                                        @bind="voucherVM.BankAccountID">
                                            <option value=0>-----Chọn-----</option>
                                            @if (bankAccountVMs != null)
                                            {
                                                @foreach (var _bankAccountVM in bankAccountVMs)
                                                {
                                                    <option data-subtext="@_bankAccountVM.BankShortName" value="@_bankAccountVM.BankAccountID">@_bankAccountVM.BankAccount</option>
                                                }
                                            }
                                        </select>
                                        <ValidationMessage For="@(() => voucherVM.BankAccountID)" />
                                    </div>
                                }

                                <div class="form-group">
                                    @if (filterVM.FuncID == "FIN_Cash" || filterVM.FuncID == "FIN_Deposit")
                                    {
                                        <label>Lý do</label>
                                    }
                                    else
                                    {
                                        <label>Diễn giải</label>
                                    }
                                    <InputText class="form-control form-control-sm" @bind-Value="voucherVM.VDesc" />
                                    <ValidationMessage For="@(() => voucherVM.VDesc)" />
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        @if (filter_vTypeVMs != null && !String.IsNullOrEmpty(voucherVM.VTypeID))
                                        {
                                            <label>Nhân viên @filter_vTypeVMs.Where(x => x.VTypeID == voucherVM.VTypeID).Select(x => x.VTypeDesc).First().ToLower() </label>
                                        }
                                        <select class="selectpicker form-control form-control-sm"
                                                data-style="btn-selectpicker" data-container="body"
                                                data-live-search="true" data-show-subtext="true"
                                        @bind="voucherVM.EserialPerform">
                                            <option value=@String.Empty>-----Chọn-----</option>
                                            @if (profileVMs != null)
                                            {
                                                @foreach (var _profileVM in profileVMs)
                                                {
                                                    <option data-subtext="@_profileVM.Eserial" value="@_profileVM.Eserial">@_profileVM.FullName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-3" style="padding-left: 10px;">

                                <div class="form-row @(voucherVM.IsTypeUpdate==6?"noClick":"")">
                                    <div class="form-group col-md-6">
                                        @if (voucherVM.VTypeID == "FIN_InventoryCheck")
                                        {
                                            <label>Ngày kiểm kê</label>
                                        }
                                        else
                                        {
                                            <label>Ngày chứng từ</label>
                                        }
                                        <div class="input-group">
                                            <DateRangePicker SingleDatePicker="true" class="form-control form-control-sm" name="date-mask"
                                            @bind-StartDate="voucherVM.VDate" OnRangeSelect="OnRangeSelect_VDate"
                                                             onClick="this.select();" />

                                            <div class="input-group-append">
                                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                            </div>
                                        </div>
                                        <ValidationMessage For="@(() => voucherVM.VDate)" />
                                    </div>
                                </div>

                                @if (voucherVM.IsInvoice)
                                {
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Số hóa đơn</label>
                                            <InputText class="form-control form-control-sm" @bind-Value="voucherVM.InvoiceNumber" />
                                            <ValidationMessage For="@(() => voucherVM.InvoiceNumber)" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Ngày hóa đơn</label>
                                            <div class="input-group">
                                                <DateRangePicker SingleDatePicker="true" class="form-control form-control-sm" name="date-mask"
                                                @bind-StartDate="voucherVM.InvoiceDate"
                                                                 onClick="this.select();" />

                                                <div class="input-group-append">
                                                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                                </div>
                                            </div>
                                            <ValidationMessage For="@(() => voucherVM.InvoiceDate)" />
                                        </div>
                                    </div>
                                }
                            </div>

                            @if (voucherVM.VTypeID == "FIN_Purchasing" || voucherVM.VTypeID == "FIN_Sale")
                            {
                                <div class="col-sm-2" style="padding-left: 10px;">

                                    <h5 class="text-right">Tổng tiền thanh toán</h5><br />
                                    <h2 class="text-bold text-right">
                                        @String.Format("{0:#,##0}",voucherVM.TotalAmount)
                                    </h2>

                                </div>
                            }

                            @if (voucherVM.VTypeID == "FIN_Deposit_Credit" || voucherVM.VTypeID == "FIN_Deposit_Debit" || voucherVM.VTypeID == "FIN_Cash_Payment" || voucherVM.VTypeID == "FIN_Cash_Receipt")
                            {
                                <div class="col-sm-2" style="padding-left: 10px;">

                                    <h5 class="text-right">Tổng tiền</h5><br />
                                    <h2 class="text-bold text-right">
                                        @if (voucherDetailVMs != null)
                                        {
                                            @String.Format("{0:#,##0}",voucherVM.TotalAmount)
                                        }
                                    </h2>

                                </div>
                            }

                        </div>

                    </div>

                    @if (voucherVM.VTypeID == "FIN_Deposit_Credit" || voucherVM.VTypeID == "FIN_Deposit_Debit" || voucherVM.VTypeID == "FIN_Cash_Payment" || voucherVM.VTypeID == "FIN_Cash_Receipt")
                    {
                        @if (String.IsNullOrEmpty(voucherVM.VReference))
                        {
                            <div class="modal-body @(voucherVM.IsTypeUpdate==3?"noClick":"")" style="background-color: #f4f6f9;">
                                <a class="btn btn-sm btn-success" @onclick=@(() => CreateVoucherDetail())><i class="fas fa-plus"></i> Thêm dòng chi tiết</a>
                            </div>
                        }
                    }

                    <div class="modal-body p-0 @(voucherVM.IsTypeUpdate==3?"noClick":"")">

                        <table class="table table-sm table-bordered table-head-fixed table-hover tblFontSizeMin" id="keyPressNextInput">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center" style="width: 50px;">STT</th>
                                    @if (filterVM.FuncID != "FIN_Cash" && filterVM.FuncID != "FIN_Deposit")
                                    {
                                        <th>Tên hàng</th>

                                        <th class="text-center">Đơn vị</th>

                                        @if (voucherVM.VTypeID == "FIN_InventoryCheck")
                                        {
                                            <th class="text-center" colspan=2>Kho</th>

                                            <th class="text-center">
                                                Tồn kho
                                                @if (voucherDetailVMs != null)
                                                {
                                                    <a data-toggle="tooltip" data-placement="top" title="Lấy lại tồn" @onclick=@(() => UpdateAllInventoryCheck_Qty())>
                                                        <span class="badge bg-success"><i class="fa-solid fa-arrows-rotate"></i></span>
                                                    </a>
                                                }
                                            </th>
                                            <th class="text-center" style="width: 80px;">Thực tế</th>
                                            <th class="text-center">Chênh lệch</th>
                                            <th class="text-center">Xử lý</th>
                                        }

                                        @if (voucherVM.VTypeID != "FIN_InventoryCheck")
                                        {
                                            <th class="text-center" style="width: 80px;">Số lượng</th>
                                        }

                                        @if (voucherVM.VTypeID == "FIN_Purchasing" || voucherVM.VTypeID == "FIN_Sale")
                                        {
                                            <th class="text-center" style="width: 110px;">
                                                Đơn giá
                                            </th>
                                            <th class="text-center" style="width: 110px;">Thành tiền</th>
                                            <th class="text-center" style="width: 110px;">% Chiết khấu</th>
                                            <th class="text-center" style="width: 110px;">Tiền chiết khấu</th>
                                            @if (voucherVM.IsInvoice)
                                            {
                                                <th class="text-center" style="width: 110px;">% Thuế GTGT</th>
                                                <th class="text-center" style="width: 110px;">Tiền thuế GTGT</th>
                                                <th class="text-center" style="width: 110px;">TK Thuế</th>
                                            }
                                        }

                                        @if (voucherVM.VTypeID == "FIN_Trf" || voucherVM.VTypeID == "FIN_Output" || (voucherVM.VTypeID == "FIN_Sale" && voucherVM.IsInventory))
                                        {
                                            <th class="text-center" colspan=3>
                                                Xuất tại kho
                                                @if (voucherDetailVMs != null)
                                                {
                                                    <a data-toggle="tooltip" data-placement="top" title="Lấy lại tồn" @onclick=@(() => UpdateAllInventoryCheck_Qty())>
                                                        <span class="badge bg-success"><i class="fa-solid fa-arrows-rotate"></i></span>
                                                    </a>
                                                }
                                            </th>
                                        }

                                        @if (voucherVM.VTypeID == "FIN_Trf" || voucherVM.VTypeID == "FIN_Input" || (voucherVM.VTypeID == "FIN_Purchasing" && voucherVM.IsInventory))
                                        {
                                            <th class="text-center" colspan=2>Nhập tại kho</th>
                                        }

                                        <th>Ghi chú</th>
                                    }
                                    else
                                    {
                                        <th>Diễn giải</th>
                                        <th class="text-center" style="width: 110px;">
                                            Số tiền
                                        </th>
                                    }
                                    <th class="text-center" style="width: 50px;"></th>
                                </tr>
                            </thead>
                            @if (voucherDetailVMs != null)
                            {
                                <tbody>
                                    @{
                                        int rowNum = 1;
                                        foreach (var _voucherDetailVM in voucherDetailVMs)
                                        {
                                            <tr>
                                                @if (filterVM.FuncID != "FIN_Cash" && filterVM.FuncID != "FIN_Deposit")
                                                {
                                                    <td class="text-center">@rowNum</td>

                                                    @if (_voucherDetailVM.IsUpdateItem == 0)
                                                    {
                                                        <td><a @onclick=@(() => _voucherDetailVM.IsUpdateItem = voucherVM.IsTypeUpdate==6?0:1)>@_voucherDetailVM.ICode - @_voucherDetailVM.IName</a></td>
                                                    }
                                                    else
                                                    {
                                                        voucherDetailVM = new();
                                                        <td>
                                                            <BlazoredTypeahead SearchMethod="SearchItems"
                                                                               Value="voucherDetailVM"
                                                                               ValueChanged="@( (VoucherDetailVM i) => UpdateItem(i, _voucherDetailVM) )"
                                                                               ValueExpression="@( () => voucherDetailVM)"
                                                                               Debounce="500"
                                                                               MinimumLength="2"
                                                                               MaximumSuggestions="6"
                                                                               placeholder="Tìm kiếm theo mã hàng hoặc tên hàng...">
                                                                <SelectedTemplate Context="_item">
                                                                    <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm theo mã hàng hoặc tên hàng...
                                                                </SelectedTemplate>
                                                                <ResultTemplate Context="_item">
                                                                    <i class="fa-solid fa-barcode"></i> @_item.ICode <i class="fa-solid fa-box"></i> @_item.IName
                                                                </ResultTemplate>
                                                                <NotFoundTemplate Context="_item">
                                                                    <i class="fa-solid fa-file-circle-xmark text-danger"></i> Không có dữ liệu
                                                                </NotFoundTemplate>
                                                            </BlazoredTypeahead>
                                                        </td>
                                                    }

                                                    <td class="text-center">@_voucherDetailVM.IUnitName</td>

                                                    @if (voucherVM.VTypeID == "FIN_InventoryCheck")
                                                    {
                                                        @if (_voucherDetailVM.IsUpdateInventoryCheck_Stock == 0)
                                                        {
                                                            <td>
                                                                @if (String.IsNullOrEmpty(_voucherDetailVM.InventoryCheck_StockCode))
                                                                {
                                                                    <a class="text-center" @onclick=@(() => _voucherDetailVM.IsUpdateInventoryCheck_Stock = 1)>-----Chọn kho-----</a>
                                                                }
                                                                else
                                                                {
                                                                    <a @onclick=@(() => _voucherDetailVM.IsUpdateInventoryCheck_Stock = 1)>@_voucherDetailVM.InventoryCheck_StockCode - @_voucherDetailVM.InventoryCheck_StockName</a>
                                                                }
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <InputSelect class="selectpicker form-control form-control-sm"
                                                                             data-style="btn-selectpicker" data-container="body"
                                                                             data-live-search="true" data-show-subtext="true"
                                                                             ValueExpression="@(()=>_voucherDetailVM.InventoryCheck_StockCode)"
                                                                             Value="@_voucherDetailVM.InventoryCheck_StockCode"
                                                                             ValueChanged="@((string value) =>onchange_InventoryCheck_StockCode(value, _voucherDetailVM))">
                                                                    <option value=@String.Empty>-----Chọn kho-----</option>
                                                                    @if (stockVMs != null)
                                                                    {
                                                                        @foreach (var _stockVM in stockVMs)
                                                                        {
                                                                            <option data-subtext="@_stockVM.StockCode" value="@_stockVM.StockCode">@_stockVM.StockName</option>
                                                                        }
                                                                    }
                                                                </InputSelect>
                                                            </td>
                                                        }

                                                        <td class="text-center">
                                                            <a data-toggle="tooltip" data-placement="top" title="Sao chép cho các dòng dưới" @onclick="(() => onclick_copyInventoryCheck_StockCode(_voucherDetailVM))">
                                                                <span class="badge bg-success"><i class="fa-solid fa-copy"></i></span>
                                                            </a>
                                                        </td>

                                                        <td class="text-center @(_voucherDetailVM.InventoryCheck_Qty<=0?"text-danger":"")">@_voucherDetailVM.InventoryCheck_Qty</td>
                                                        <td class="text-center">
                                                            <input class="form-control form-control-sm text-center @(_voucherDetailVM.InventoryCheck_ActualQty<0?"text-danger":"")" @bind="@_voucherDetailVM.InventoryCheck_ActualQty" onClick="this.select();" />
                                                        </td>
                                                        <td class="text-center @(_voucherDetailVM.InventoryCheck_ActualQty-_voucherDetailVM.InventoryCheck_Qty<0?"text-danger":"")">@(_voucherDetailVM.InventoryCheck_ActualQty - _voucherDetailVM.InventoryCheck_Qty)</td>
                                                        <td class="text-center">
                                                            @if (_voucherDetailVM.InventoryCheck_Qty < _voucherDetailVM.InventoryCheck_ActualQty)
                                                            {
                                                                <span>Nhập kho</span>
                                                            }
                                                            @if (_voucherDetailVM.InventoryCheck_Qty > _voucherDetailVM.InventoryCheck_ActualQty)
                                                            {
                                                                <span>Xuất kho</span>
                                                            }
                                                        </td>
                                                    }

                                                    @if (voucherVM.VTypeID != "FIN_InventoryCheck")
                                                    {
                                                        <td class="text-center">
                                                            <input class="form-control form-control-sm" name="currency-mask" @onchange="@((ChangeEventArgs e) => onchange_VDQty(e, _voucherDetailVM))" value="@_voucherDetailVM.VDQty" onClick="this.select();" readonly="@(voucherVM.IsTypeUpdate==6?true:false)" />
                                                        </td>
                                                    }

                                                    @if (voucherVM.VTypeID == "FIN_Purchasing" || voucherVM.VTypeID == "FIN_Sale")
                                                    {
                                                        <td class="text-center">
                                                            <input class="form-control form-control-sm" name="currency-mask" @onchange="@((ChangeEventArgs e) => onchange_VDPrice(e, _voucherDetailVM))" value="@_voucherDetailVM.VDPrice" onClick="this.select();" readonly="@(voucherVM.IsTypeUpdate==6?true:false)" />
                                                        </td>

                                                        <td class="text-right">@String.Format("{0:#,##0}", _voucherDetailVM.VDAmount)</td>

                                                        <td class="text-center">
                                                            <input class="form-control form-control-sm" name="currency-mask" @onchange="@((ChangeEventArgs e) => onchange_VDDiscountPercent(e, _voucherDetailVM))" value="@_voucherDetailVM.VDDiscountPercent" onClick="this.select();" readonly="@(voucherVM.IsTypeUpdate==6?true:false)" />
                                                        </td>

                                                        <td class="text-center">
                                                            <input class="form-control form-control-sm" name="currency-mask" @onchange="@((ChangeEventArgs e) => onchange_VDDiscountAmount(e, _voucherDetailVM))" value="@_voucherDetailVM.VDDiscountAmount" onClick="this.select();" readonly="@(voucherVM.IsTypeUpdate==6?true:false)" />
                                                        </td>

                                                        @if (voucherVM.IsInvoice)
                                                        {
                                                            @if (_voucherDetailVM.IsUpdateVAT == 0)
                                                            {
                                                                <td class="text-center">
                                                                    @if (String.IsNullOrEmpty(_voucherDetailVM.VATCode))
                                                                    {
                                                                        <a class="text-center" @onclick=@(() => _voucherDetailVM.IsUpdateVAT = 1)>-----Chọn-----</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a @onclick=@(() => _voucherDetailVM.IsUpdateVAT = 1)>@_voucherDetailVM.VATName</a>
                                                                    }
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <InputSelect class="selectpicker form-control form-control-sm"
                                                                                 data-style="btn-selectpicker"
                                                                                 data-container="body"
                                                                                 ValueExpression="@(()=>_voucherDetailVM.VATCode)"
                                                                                 Value="@_voucherDetailVM.VATCode"
                                                                                 ValueChanged="@((string value) =>onchange_VAT(value, _voucherDetailVM))">

                                                                        <option value=@String.Empty>-----Chọn-----</option>
                                                                        @if (vatDefVMs != null)
                                                                        {
                                                                            @foreach (var _vatDefVM in vatDefVMs)
                                                                            {
                                                                                <option value="@_vatDefVM.VATCode">@_vatDefVM.VATName</option>
                                                                            }
                                                                        }
                                                                    </InputSelect>
                                                                </td>
                                                            }

                                                            <td class="text-right">@String.Format("{0:#,##0}", _voucherDetailVM.VATAmount)</td>

                                                            @if (_voucherDetailVM.IsUpdateTaxAccount == 0)
                                                            {
                                                                <td class="text-center">
                                                                    @if (_voucherDetailVM.TaxAccount == 0)
                                                                    {
                                                                        <a class="text-center" @onclick=@(() => _voucherDetailVM.IsUpdateTaxAccount = 1)>-----Chọn-----</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a @onclick=@(() => _voucherDetailVM.IsUpdateTaxAccount = 1)>@_voucherDetailVM.TaxAccount</a>
                                                                    }
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <select class="selectpicker form-control form-control-sm"
                                                                                 data-style="btn-selectpicker"
                                                                                 data-container="body" data-live-search="true"
                                                                                 data-show-subtext="true"
                                                                                 @bind="_voucherDetailVM.TaxAccount">

                                                                        <option value=0>-----Chọn-----</option>
                                                                        @if (accountVMs != null)
                                                                        {
                                                                            @foreach (var _accountVM in accountVMs)
                                                                            {
                                                                                <option data-subtext="@_accountVM.AccountName" value="@_accountVM.AccountNo">@_accountVM.AccountNo</option>
                                                                            }
                                                                        }
                                                                    </select>
                                                                </td>
                                                            }
                                                        }
                                                    }

                                                    @if (voucherVM.VTypeID == "FIN_Trf" || voucherVM.VTypeID == "FIN_Output" || (voucherVM.VTypeID == "FIN_Sale" && voucherVM.IsInventory))
                                                    {
                                                        @if (_voucherDetailVM.IsUpdateFromStock == 0)
                                                        {
                                                            <td>
                                                                @if (String.IsNullOrEmpty(_voucherDetailVM.FromStockCode))
                                                                {
                                                                    <a class="text-center" @onclick=@(() => _voucherDetailVM.IsUpdateFromStock = voucherVM.IsTypeUpdate==6?0:1)>-----Chọn-----</a>
                                                                }
                                                                else
                                                                {
                                                                    <a @onclick=@(() => _voucherDetailVM.IsUpdateFromStock = voucherVM.IsTypeUpdate==6?0:1)>@_voucherDetailVM.FromStockCode - @_voucherDetailVM.FromStockName</a>
                                                                }
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <InputSelect class="selectpicker form-control form-control-sm"
                                                                             data-style="btn-selectpicker"
                                                                             data-container="body" data-live-search="true"
                                                                             data-show-subtext="true"
                                                                             ValueExpression="@(()=>_voucherDetailVM.FromStockCode)"
                                                                             Value="@_voucherDetailVM.FromStockCode"
                                                                             ValueChanged="@((string value) =>onchange_FromStockCode(value, _voucherDetailVM))">

                                                                    <option value=@String.Empty>-----Chọn-----</option>
                                                                    @if (stockVMs != null)
                                                                    {
                                                                        @foreach (var _stockVM in stockVMs)
                                                                        {
                                                                            <option data-subtext="@_stockVM.StockCode" value="@_stockVM.StockCode">@_stockVM.StockName</option>
                                                                        }
                                                                    }
                                                                </InputSelect>
                                                            </td>
                                                        }

                                                        <td class="@(_voucherDetailVM.InventoryCheck_Qty<=0?"text-danger":"")">Tồn: @_voucherDetailVM.InventoryCheck_Qty</td>

                                                        <td class="text-center">
                                                            <a data-toggle="tooltip" data-placement="top" title="Sao chép cho các dòng dưới" @onclick="(() => onclick_copyFromStockCode(_voucherDetailVM))">
                                                                <span class="badge bg-success"><i class="fa-solid fa-copy"></i></span>
                                                            </a>
                                                        </td>
                                                    }

                                                    @if (voucherVM.VTypeID == "FIN_Trf" || voucherVM.VTypeID == "FIN_Input" || (voucherVM.VTypeID == "FIN_Purchasing" && voucherVM.IsInventory))
                                                    {
                                                        @if (_voucherDetailVM.IsUpdateToStock == 0)
                                                        {
                                                            <td>
                                                                @if (String.IsNullOrEmpty(_voucherDetailVM.ToStockCode))
                                                                {
                                                                    <a class="text-center" @onclick=@(() => _voucherDetailVM.IsUpdateToStock = voucherVM.IsTypeUpdate==6?0:1)>-----Chọn-----</a>
                                                                }
                                                                else
                                                                {
                                                                    <a @onclick=@(() => _voucherDetailVM.IsUpdateToStock = voucherVM.IsTypeUpdate==6?0:1)>@_voucherDetailVM.ToStockCode - @_voucherDetailVM.ToStockName</a>
                                                                }
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <select class="selectpicker form-control form-control-sm"
                                                                        data-style="btn-selectpicker" data-container="body"
                                                                        data-live-search="true" data-show-subtext="true"
                                                                @bind="_voucherDetailVM.ToStockCode">
                                                                    <option value=@String.Empty>-----Chọn-----</option>
                                                                    @if (stockVMs != null)
                                                                    {
                                                                        @foreach (var _stockVM in stockVMs)
                                                                        {
                                                                            <option data-subtext="@_stockVM.StockCode" value="@_stockVM.StockCode">@_stockVM.StockName</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </td>
                                                        }

                                                        <td class="text-center">
                                                            <a data-toggle="tooltip" data-placement="top" title="Sao chép cho các dòng dưới" @onclick=@(() => voucherDetailVMs.Where(x=>x.SeqVD > _voucherDetailVM.SeqVD).ToList().ForEach(e => {e.ToStockCode = _voucherDetailVM.ToStockCode; e.ToStockName = stockVMs.Where(x=>x.StockCode==_voucherDetailVM.ToStockCode).Select(x=>x.StockName).FirstOrDefault();}))>
                                                                <span class="badge bg-success"><i class="fa-solid fa-copy"></i></span>
                                                            </a>
                                                        </td>
                                                    }

                                                    <td>
                                                        <input class="form-control form-control-sm" @bind="@_voucherDetailVM.VDNote" readonly="@(voucherVM.IsTypeUpdate==6?true:false)" />
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="text-center">@rowNum</td>
                                                    <td>
                                                        <input class="form-control form-control-sm" @bind="@_voucherDetailVM.VDDesc" />
                                                    </td>
                                                    <td class="text-center">
                                                        <input class="form-control form-control-sm" name="currency-mask" @onchange="@((ChangeEventArgs e) => onchange_VDPrice(e, _voucherDetailVM))" value="@_voucherDetailVM.VDPrice" onClick="this.select();" />
                                                    </td>
                                                }
                                                <td class="text-center">
                                                    <a @onclick=@(() => onclick_removeItems(_voucherDetailVM))>
                                                        <span class="badge bg-danger"><i class="fas fa-trash"></i></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            ++rowNum;
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        @if (filterVM.FuncID != "FIN_Cash" && filterVM.FuncID != "FIN_Deposit")
                                        {
                                            <th class="text-center">@voucherDetailVMs.Count()</th>
                                            <th></th>

                                            <th class="text-center"></th>

                                            @if (voucherVM.VTypeID == "FIN_InventoryCheck")
                                            {
                                                <th class="text-center" colspan=2></th>
                                                <th class="text-center">@voucherDetailVMs.Select(x=>x.InventoryCheck_Qty).Sum()</th>
                                                <th class="text-center">@voucherDetailVMs.Select(x=>x.InventoryCheck_ActualQty).Sum()</th>
                                                <th class="text-center">@voucherDetailVMs.Select(x=>x.InventoryCheck_ActualQty - x.InventoryCheck_Qty).Sum()</th>
                                                <th></th>
                                            }

                                            @if (voucherVM.VTypeID != "FIN_InventoryCheck")
                                            {
                                                <th class="text-right">@voucherDetailVMs.Select(x=>x.VDQty).Sum()</th>
                                            }
                                            @if (voucherVM.VTypeID == "FIN_Purchasing" || voucherVM.VTypeID == "FIN_Sale")
                                            {
                                                <th class="text-center"></th>

                                                <th class="text-right">@String.Format("{0:#,##0}",@voucherDetailVMs.Select(x=>x.VDAmount).Sum())</th>

                                                <th class="text-center"></th>

                                                <th class="text-right">@String.Format("{0:#,##0}",@voucherDetailVMs.Select(x=>x.VDDiscountAmount).Sum())</th>

                                                @if (voucherVM.IsInvoice)
                                                {
                                                    <th class="text-center"></th>

                                                    <th class="text-right">@String.Format("{0:#,##0}",@voucherDetailVMs.Select(x=>x.VATAmount).Sum())</th>

                                                    <th class="text-center"></th>
                                                }
                                            }
                                            @if (voucherVM.VTypeID == "FIN_Trf" || voucherVM.VTypeID == "FIN_Output" || (voucherVM.VTypeID == "FIN_Sale" && voucherVM.IsInventory))
                                            {
                                                <th class="text-center" colspan=3></th>
                                            }
                                            @if (voucherVM.VTypeID == "FIN_Trf" || voucherVM.VTypeID == "FIN_Input" || (voucherVM.VTypeID == "FIN_Purchasing" && voucherVM.IsInventory))
                                            {
                                                <th class="text-center" colspan=2></th>
                                            }
                                            <th></th>
                                        }
                                        else
                                        {
                                            <th class="text-center">@voucherDetailVMs.Count()</th>
                                            <th></th>
                                            <th class="text-right">@String.Format("{0:#,##0}",@voucherDetailVMs.Select(x=>x.VDPrice).Sum())</th>
                                        }
                                        <th class="text-center"></th>
                                    </tr>
                                </tfoot>
                            }
                        </table>

                    </div>

                </div>

                @if (filterVM.FuncID != "FIN_Cash" && filterVM.FuncID != "FIN_Deposit")
                {
                    @if (voucherVM.IsTypeUpdate == 0 || voucherVM.IsTypeUpdate == 1)
                    {
                        <div class="modal-footer justify-content-center @(voucherVM.IsTypeUpdate==3?"noClick":"")">

                            @{
                                voucherDetailVM = null;
                            }

                            <div class="col-sm-11">
                                <BlazoredTypeahead SearchMethod="SearchItems"
                                                   Value="voucherDetailVM"
                                                   ValueChanged="@( (VoucherDetailVM i) => SelectedItem(i) )"
                                                   ValueExpression="@( () => voucherDetailVM)"
                                                   Debounce="500"
                                                   MinimumLength="2"
                                                   MaximumSuggestions="6"
                                                   placeholder="Tìm kiếm theo mã hàng hoặc tên hàng..."
                                @ref="txtSearchItems">
                                    <SelectedTemplate Context="_item">
                                        <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm theo mã hàng hoặc tên hàng...
                                    </SelectedTemplate>
                                    <ResultTemplate Context="_item">
                                        <i class="fa-solid fa-barcode"></i> @_item.ICode <i class="fa-solid fa-box"></i> @_item.IName
                                    </ResultTemplate>
                                    <NotFoundTemplate Context="_item">
                                        <i class="fa-solid fa-file-circle-xmark text-danger"></i> Không có dữ liệu
                                    </NotFoundTemplate>
                                </BlazoredTypeahead>
                            </div>

                            <a class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Thêm dữ liệu từ Excel" @onclick="(() => InitializeModalUpdate_PostExcel())"><i class="fa-solid fa-file-excel"></i></a>

                        </div>
                    }
                }

                <div class="modal-footer justify-content-center">

                    @if (voucherVM.IsTypeUpdate == 3)
                    {
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-print"></i> In
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                @if (voucherVM.VTypeID == "FIN_Sale")
                                {
                                    @if (!voucherVM.IsInvoice)
                                    {
                                        <a class="dropdown-item" @onclick=@(() => PrintVoucher("FIN_Bao_gia"))>Báo giá</a>
                                    }
                                    <a class="dropdown-item" @onclick=@(() => PrintVoucher("FIN_Phieu_xuat_kho_ban_hang"))>Phiếu xuất kho bán hàng</a>
                                    <a class="dropdown-item" @onclick=@(() => PrintVoucher("FIN_Bien_ban_ban_giao_kiem_bao_hanh"))>Biên bản bàn giao kiêm bảo hành</a>
                                }
                            </div>
                        </div>
                    }

                    @if (voucherVM.IsTypeUpdate == 6)
                    {
                        <button type="submit" class="btn btn-sm btn-success" @onclick=@(() => UpdateVoucher(formVoucherVM, voucherVM.IsTypeUpdate))><i class="fas fa-check"></i> Cập nhật hóa đơn</button>
                    }
                    else
                    {
                        @if (voucherVM.VActive)
                        {
                            @if (FIN_Voucher_CancelActive)
                            {
                                @if (String.IsNullOrEmpty(voucherVM.VReference))
                                {
                                    <button type="button" class="btn btn-sm btn-danger" @onclick="(() => ActiveVoucher(4,false))"><i class="fa-solid fa-file-circle-xmark"></i> Bỏ ghi sổ</button>
                                }
                            }
                        }
                        else
                        {
                            @if (voucherVM.IsTypeUpdate == 3)
                            {
                                @if (FIN_Voucher_Update)
                                {
                                    <button type="button" class="btn btn-sm btn-secondary" @onclick="(() => voucherVM.IsTypeUpdate=1)"><i class="fa-solid fa-pencil"></i> Sửa</button>

                                    <button type="button" class="btn btn-sm btn-success" @onclick="(() => ActiveVoucher(4,true))"><i class="fa-solid fa-file-pen"></i> Ghi sổ</button>
                                }
                            }
                            else
                            {
                                <button type="submit" class="btn btn-sm btn-success" @onclick=@(() => UpdateVoucher(formVoucherVM, voucherVM.IsTypeUpdate))><i class="fas fa-check"></i> Lưu</button>

                                @if (voucherVM.IsTypeUpdate == 1)
                                {
                                    <button type="submit" class="btn btn-sm btn-danger" @onclick=@(() => UpdateVoucher(formVoucherVM, 2))><i class="fas fa-trash-alt"></i> Xóa</button>
                                }
                            }
                        }
                    }

                </div>

            </EditForm>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="InitializeModalUpdate_PostExcel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span>THÊM DỮ LIỆU TỪ EXCEL</span>
                </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <table class="table table-sm table-bordered table-head-fixed table-hover tblFontSizeMin">
                    <thead>
                        <tr>
                            <th class="text-center">Mã mặt hàng</th>
                            <th class="text-center">Số lượng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <input class="form-control form-control-sm" placeholder="Copy dữ liệu từ excel và dán vào đây..." @bind="voucherVM.DataFromExcel" />
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-sm btn-success" @onclick="(() => GetDataFromExcel())"><i class="fa-solid fa-floppy-disk"></i> Cập nhật</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<Modal_RptViewer ReportName=@ReportName></Modal_RptViewer>

<EditForm Model="@filterVM">
    <section class="content-header">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <InputSelect class="selectpicker form-control form-control-sm"
                                 data-style="btn-selectpicker"
                                 data-live-search="true"
                                 data-container="body"
                                 ValueExpression="@(()=>filterVM.DivisionID)"
                                 Value="@filterVM.DivisionID"
                                 ValueChanged="@((string value) =>onchange_DivisionID(value))">

                        @if (filter_divisionVMs != null)
                        {
                            @foreach (var _filter_divisionVM in filter_divisionVMs)
                            {
                                <option data-subtext="@_filter_divisionVM.DivisionID" value="@_filter_divisionVM.DivisionID">@_filter_divisionVM.DivisionName</option>
                            }
                        }
                    </InputSelect>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <InputSelect class="selectpicker form-control form-control-sm"
                                 data-style="btn-selectpicker"
                                 data-container="body"
                                 ValueExpression="@(()=>filterVM.VTypeID)"
                                 Value="@filterVM.VTypeID"
                                 ValueChanged="@((string value) =>onchange_VTypeID(value))">
                        <option value=@String.Empty>-----Loại chứng từ-----</option>
                        @if (filter_vTypeVMs != null)
                        {
                            @foreach (var _filter_vTypeVM in filter_vTypeVMs)
                            {
                                <option value="@_filter_vTypeVM.VTypeID">@_filter_vTypeVM.VTypeDesc</option>
                            }
                        }
                    </InputSelect>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <DateRangePicker Ranges="DateRanges" ApplyLabel="Thực hiện" CancelLabel="Hủy" CustomRangeLabel="Chọn ngày" OnRangeSelect="OnRangeSelect">
                        <PickerTemplate Context="c">
                            <div id="@c.Id" @onclick="c.Toggle" class="form-control form-control-sm" style="cursor: pointer;">
                                <i class="fa-solid fa-calendar-days"></i>&nbsp;
                                <span>
                                    @if (c.TStartDate == null && c.TEndDate == null)
                                    {
                                        <span>Tháng này</span>
                                    }
                                    else if (c.TStartDate != null && c.TEndDate == null)
                                    {
                                        if (c.HoverDate > c.TStartDate)
                                        {
                                            @($"{c.TStartDate.Value.ToString(c.DateFormat)} - {c.HoverDate.Value.ToString(c.DateFormat)}")
                                        }
                                        else
                                        {
                                            <span>@c.TStartDate.Value.ToString("dd/MM/yyyy")</span>
                                        }
                                    }
                                    else
                                    {
                                        <span>
                                            @c.FormattedRange
                                        </span>
                                    }
                                </span>

                                <span class="float-right">
                                    <i class="fa-solid fa-angle-down"></i>
                                </span>
                            </div>
                        </PickerTemplate>
                    </DateRangePicker>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <input type="search" class="form-control form-control-sm" placeholder="Số chứng từ" @bind="filterVM.VNumber" />
                </div>
            </div>

            <div class="col-md-1">
                <button type="button" class="btn btn-sm btn-block bg-warning" @onclick="(() => GetVouchers())">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </section>
</EditForm>

<section class="content">
    <div class="container-fluid">
        <div class="card card-warning card-outline">

            <div class="card-header text-right">

                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-chart-line"></i> Báo cáo
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">

                        @if (filterVM.FuncID == "FIN_Deposit")
                        {
                            <a class="dropdown-item" @onclick=@(() => ViewRPT("FIN_So_quy_tien"))>Sổ tiền gửi ngân hàng</a>
                        }

                        @if (filterVM.FuncID == "FIN_Cash")
                        {
                            <a class="dropdown-item" @onclick=@(() => ViewRPT("FIN_So_quy_tien"))>Sổ quỹ tiền mặt</a>
                        }

                        @if (filterVM.FuncID == "FIN_Purchasing" || filterVM.FuncID == "FIN_Sale" || filterVM.FuncID == "FIN_Inventory")
                        {
                            <a class="dropdown-item" @onclick=@(() => ViewRPT("FIN_Tong_hop_ton_kho"))>Tổng hợp tồn kho</a>
                        }

                    </div>
                </div>

                @if (!String.IsNullOrEmpty(voucherVM.VNumber))
                {
                    @if (filterVM.FuncID == "FIN_Purchasing" || filterVM.FuncID == "FIN_Sale")
                    {
                        @if (voucherVM.VActive)
                        {
                            @if (voucherVM.IsInvoice)
                            {
                                <button type="button" class="btn btn-sm btn-success" @onclick=@(() => InitializeModalUpdate_Voucher(voucherVM.VTypeID,6))><i class="fa-solid fa-file-invoice"></i> Cập nhật hóa đơn</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-sm btn-success" @onclick=@(() => InitializeModalUpdate_Voucher(voucherVM.VTypeID,6))><i class="fa-solid fa-file-invoice"></i> Lập hóa đơn</button>
                            }
                        }
                    }

                    @if (filterVM.FuncID == "FIN_Sale")
                    {
                        @if (voucherVM.VActive && voucherVM.PaymentAmount < voucherVM.TotalAmount)
                        {
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-file-invoice-dollar"></i> Lập phiếu thu
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" @onclick=@(() => InitializeModalUpdate_VoucherReference("FIN_Cash_Receipt","FIN_Cash_Receipt_Customer"))>Tiền mặt</a>
                                    <a class="dropdown-item" @onclick=@(() => InitializeModalUpdate_VoucherReference("FIN_Deposit_Credit","FIN_Deposit_Credit_Customer"))>Chuyển khoản</a>
                                </div>
                            </div>
                        }
                    }

                    @if (filterVM.FuncID == "FIN_Purchasing")
                    {
                        @if (voucherVM.VActive && voucherVM.PaymentAmount < voucherVM.TotalAmount)
                        {
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-file-invoice-dollar"></i> Lập phiếu chi
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" @onclick=@(() => InitializeModalUpdate_VoucherReference("FIN_Cash_Payment","FIN_Cash_Payment_Vendor"))>Tiền mặt</a>
                                    <a class="dropdown-item" @onclick=@(() => InitializeModalUpdate_VoucherReference("FIN_Deposit_Debit","FIN_Deposit_Debit_Vendor"))>Chuyển khoản</a>
                                </div>
                            </div>
                        }
                    }

                    <button type="button" class="btn btn-sm btn-secondary" @onclick="(() => InitializeModalUpdate_Voucher(voucherVM.VTypeID,5))"><i class="fa-solid fa-copy"></i> Sao chép</button>

                    <button type="button" class="btn btn-sm btn-info" @onclick=@(() => InitializeModalUpdate_Voucher(voucherVM.VTypeID,3))><i class="fa-solid fa-file-invoice"></i> Mở chứng từ</button>
                }
                @if (filter_vTypeVMs != null)
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-xl fa-plus"></i> Thêm
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            @foreach (var _filter_vTypeVM in filter_vTypeVMs)
                            {
                                <a class="dropdown-item" @onclick=@(() => InitializeModalUpdate_Voucher(_filter_vTypeVM.VTypeID,0))>@_filter_vTypeVM.VTypeDesc</a>
                            }
                        </div>
                    </div>
                }

            </div>
            @if (filterVM.TypeView == 1)
            {
                <div class="card-header text-center">
                    @if (ReportName == "FIN_So_quy_tien")
                    {
                        @if (filterVM.FuncID == "FIN_Cash")
                        {
                            <h5><b>SỔ QUỸ TIỀN MẶT</b></h5>
                        }

                        @if (filterVM.FuncID == "FIN_Deposit")
                        {
                            <h5><b>SỔ TIỀN GỬI NGÂN HÀNG</b></h5>
                        }
                    }
                    @if (ReportName == "FIN_Tong_hop_ton_kho")
                    {
                        <h5><b>TỔNG HỢP TỒN KHO</b></h5>
                    }
                    <i>
                        @if (filterVM.StartDate.ToString("dd/MM/yyyy") == filterVM.EndDate.ToString("dd/MM/yyyy"))
                        {
                            <b>Ngày @filterVM.StartDate.ToString("dd/MM/yyyy")</b>

                        }
                        else
                        {
                            <b>Từ ngày @filterVM.StartDate.ToString("dd/MM/yyyy") đến ngày @filterVM.EndDate.ToString("dd/MM/yyyy")</b>
                        }
                    </i>

                    @if (ReportName == "FIN_So_quy_tien")
                    {
                        @if (moneyBooks != null)
                        {
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Dư đầu kỳ</label>
                                        <h3>@String.Format("{0:#,##0}",@moneyBooks.Select(x => x.VDPriceOpen).FirstOrDefault())</h3>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Tổng thu</label>
                                        <h3 class="text-success">@String.Format("{0:#,##0}",@moneyBooks.Select(x => x.VDPriceInput).Sum())</h3>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Tổng chi</label>
                                        <h3 class="text-danger">@String.Format("{0:#,##0}",@moneyBooks.Select(x => x.VDPriceOutput).Sum())</h3>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Dư cuối kỳ</label>
                                        <h3>@String.Format("{0:#,##0}",@moneyBooks.Select(x => x.VDPriceEnd).FirstOrDefault())</h3>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            }

            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: calc(100vh - 233px);">
                @if (filterVM.TypeView == 0)
                {
                    @if (voucherVMs != null)
                    {
                        <table class="table table-sm table-bordered table-head-fixed table-hover table-hover-cursor tblFontSizeMin">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center">Ngày chứng từ</th>
                                    <th class="text-center">Số chứng từ</th>
                                    <th class="text-center">Chứng từ gốc</th>
                                    @if (filterVM.FuncID == "FIN_Purchasing" || filterVM.FuncID == "FIN_Sale")
                                    {
                                        <th class="text-center">Hóa đơn</th>
                                    }
                                    @if (filterVM.FuncID == "FIN_Cash" || filterVM.FuncID == "FIN_Deposit")
                                    {
                                        <th>Lý do</th>
                                    }
                                    else
                                    {
                                        <th>Diễn giải</th>
                                    }
                                    @if (filterVM.FuncID == "FIN_Cash" || filterVM.FuncID == "FIN_Deposit")
                                    {
                                        <th class="text-center">Số tiền</th>
                                    }
                                    @if (filterVM.FuncID == "FIN_Purchasing" || filterVM.FuncID == "FIN_Sale")
                                    {
                                        <th class="text-center">Tổng tiền thanh toán</th>
                                        <th class="text-center">Đã thanh toán</th>
                                        <th class="text-center">Tình trạng thanh toán</th>
                                    }
                                    <th>Loại chứng từ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <Virtualize Items="@voucherVMs" Context="voucherVM" OverscanCount="50">
                                    @{
                                        var colorVoucher = !voucherVM.VActive ? "text-danger" : "";
                                    }
                                    <tr class="@colorVoucher @(SetSelected(voucherVM))" @onclick="() => onclick_Selected(voucherVM)">
                                        <td class="text-center">
                                            @(voucherVM.VDate.HasValue ? voucherVM.VDate.Value.ToString("dd/MM/yyyy") : "")
                                        </td>
                                        <td class="text-center">@voucherVM.VNumber</td>
                                        <td class="text-center">@voucherVM.VReference</td>
                                        @if (filterVM.FuncID == "FIN_Purchasing" || filterVM.FuncID == "FIN_Sale")
                                        {
                                            @if (voucherVM.IsInvoice)
                                            {
                                                @if (!String.IsNullOrEmpty(voucherVM.InvoiceNumber))
                                                {
                                                    @if (filterVM.FuncID == "FIN_Purchasing")
                                                    {
                                                        <td class="text-center"><span class="badge badge-success">Đã nhận hóa đơn số @voucherVM.InvoiceNumber</span></td>
                                                    }
                                                    @if (filterVM.FuncID == "FIN_Sale")
                                                    {
                                                        <td class="text-center"><span class="badge badge-success">Đã xuất hóa đơn @voucherVM.InvoiceNumber</span></td>
                                                    }
                                                }
                                                else
                                                {
                                                    @if (filterVM.FuncID == "FIN_Purchasing")
                                                    {
                                                        <td class="text-center"><span class="badge badge-danger">Chưa nhận hóa đơn</span></td>
                                                    }
                                                    @if (filterVM.FuncID == "FIN_Sale")
                                                    {
                                                        <td class="text-center"><span class="badge badge-danger">Chưa xuất hóa đơn</span></td>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <td class="text-center"><span class="badge badge-warning">Không hóa đơn</span></td>
                                            }
                                        }
                                        <td>@voucherVM.VDesc</td>
                                        @if (filterVM.FuncID == "FIN_Cash" || filterVM.FuncID == "FIN_Deposit")
                                        {
                                            <td class="text-right">@String.Format("{0:#,##0}",@voucherVM.TotalAmount)</td>
                                        }
                                        @if (filterVM.FuncID == "FIN_Purchasing" || filterVM.FuncID == "FIN_Sale")
                                        {
                                            <td class="text-right">@String.Format("{0:#,##0}",@voucherVM.TotalAmount)</td>
                                            <td class="text-right">@String.Format("{0:#,##0}",@voucherVM.PaymentAmount)</td>

                                            @if (voucherVM.PaymentAmount == voucherVM.TotalAmount)
                                            {
                                                <td class="text-center"><span class="badge badge-success">Đã thanh toán</span></td>
                                            }
                                            @if (voucherVM.PaymentAmount != 0 && voucherVM.PaymentAmount < voucherVM.TotalAmount)
                                            {
                                                <td class="text-center"><span class="badge badge-warning">Thanh toán một phần</span></td>
                                            }
                                            @if (voucherVM.TotalAmount != 0 && voucherVM.PaymentAmount == 0)
                                            {
                                                <td class="text-center"><span class="badge badge-danger">Chưa thanh toán</span></td>
                                            }
                                        }
                                        <td>@voucherVM.VTypeDesc</td>
                                    </tr>
                                </Virtualize>
                            </tbody>
                        </table>
                        if (voucherVMs.Count() <= 0)
                        {
                            <img class="img-no-result" src="images/_default/no-results.png" />
                        }
                    }
                }
                else
                {
                    @if (ReportName == "FIN_Tong_hop_ton_kho")
                    {
                        @if (inventoryVMs != null)
                        {
                            <table class="table table-sm table-bordered table-head-fixed table-hove table-hover tblFontSizeMin">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="text-center">Hình ảnh</th>
                                        <th>Tên kho</th>
                                        <th class="text-center">Mã hàng</th>
                                        <th>Tên hàng</th>
                                        <th class="text-center">ĐVT</th>
                                        <th class="text-center">SL đầu kỳ</th>
                                        <th class="text-center">SL nhập</th>
                                        <th class="text-center">SL xuất</th>
                                        <th class="text-center">SL tồn</th>
                                        <th class="text-center">Giá trị tồn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <Virtualize Items="@inventoryVMs" Context="_inventoryVM" OverscanCount="50">
                                        <tr>
                                            <td class="text-center">
                                                <img alt="Ảnh" class="table-profile-avatar" src="@_inventoryVM.IURLPicture1">
                                            </td>
                                            <td>@_inventoryVM.StockCode - @_inventoryVM.StockName</td>
                                            <td class="text-center">@_inventoryVM.ICode</td>
                                            <td>@_inventoryVM.IName</td>
                                            <td class="text-center">@_inventoryVM.IUnitName</td>
                                            <td class="text-center">@_inventoryVM.QtyOpen</td>
                                            <td class="text-center">@_inventoryVM.QtyInput</td>
                                            <td class="text-center">@_inventoryVM.QtyOutput</td>
                                            <td class="text-center">@_inventoryVM.QtyEnd</td>
                                            <td class="text-right">@String.Format("{0:#,##}",_inventoryVM.PriceInventory_End)</td>
                                        </tr>
                                    </Virtualize>
                                </tbody>
                            </table>

                            if (inventoryVMs.Count() <= 0)
                            {
                                <img class="img-no-result" src="images/_default/no-results.png" />
                            }
                        }
                    }

                    @if (ReportName == "FIN_So_quy_tien")
                    {
                        @if (moneyBooks != null)
                        {
                            var VDPriceBalance = @moneyBooks.Select(x => x.VDPriceOpen).FirstOrDefault();

                            <table class="table table-sm table-bordered table-head-fixed table-hover table-hover-cursor tblFontSizeMin">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="text-center">Ngày chứng từ</th>
                                        <th class="text-center">Phiếu thu</th>
                                        <th class="text-center">Phiếu chi</th>
                                        <th>Diễn giải</th>
                                        <th class="text-right">Số thu</th>
                                        <th class="text-right">Số chi</th>
                                        <th class="text-right">Số tồn</th>
                                        <th>Đối tượng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <th>Số dư đầu kỳ</th>
                                        <td></td>
                                        <td></td>
                                        <th class="text-right">@String.Format("{0:#,##0}",@VDPriceBalance)</th>
                                        <td></td>
                                    </tr>
                                    <Virtualize Items="@moneyBooks" Context="cashBook" OverscanCount="50">
                                        @{
                                            VDPriceBalance = VDPriceBalance + cashBook.VDPriceInput - cashBook.VDPriceOutput;
                                        }
                                        <tr>
                                            <td class="text-center">@cashBook.VDate.ToString("dd/MM/yyyy")</td>
                                            <td class="text-center">@cashBook.VNumberInput</td>
                                            <td class="text-center">@cashBook.VNumberOutput</td>
                                            <td>@cashBook.VDDesc</td>
                                            <td class="text-right">@String.Format("{0:#,##}",@cashBook.VDPriceInput)</td>
                                            <td class="text-right">@String.Format("{0:#,##}",@cashBook.VDPriceOutput)</td>
                                            <td class="text-right">@String.Format("{0:#,##}",VDPriceBalance)</td>
                                            <td></td>
                                        </tr>
                                    </Virtualize>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <th>Số dư cuối kỳ</th>
                                        <td></td>
                                        <td></td>
                                        <th class="text-right">@String.Format("{0:#,##0}",@moneyBooks.Select(x => x.VDPriceEnd).FirstOrDefault())</th>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                            if (moneyBooks.Count() <= 0)
                            {
                                <img class="img-no-result" src="images/_default/no-results.png" />
                            }
                        }
                    }
                }
            </div>
            <!-- /.card-body -->
            @if (voucherVMs != null)
            {
                <div class="card-footer text-muted">
                    Tổng số: <b>@voucherVMs.Count()</b> bản ghi
                </div>
            }
            <!-- /.card-footer -->
        </div>
    </div><!-- /.container-fluid -->
</section>

@code {
    Dictionary<string, DateRange> DateRanges => new Dictionary<string, DateRange> {
            {"Ngày hôm nay", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day),
                        End = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day)
                    }
                },
            {"Ngày hôm qua", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day).AddDays(-1),
                        End = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day).AddDays(-1)
                    }
                },
            {"Tháng này", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1),
                        End = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddMonths(1).AddTicks(-1)
                    }
                },
            {"Tháng trước", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddMonths(-1),
                        End = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddTicks(-1)
                    }
                },
             {"Quý 1", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, 1, 1),
                        End = new DateTime(DateTime.Now.Year, 1, 1).AddMonths(3).AddTicks(-1)
                    }
                },
             {"Quý 2", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, 4, 1),
                        End = new DateTime(DateTime.Now.Year, 4, 1).AddMonths(3).AddTicks(-1)
                    }
                },
             {"Quý 3", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, 7, 1),
                        End = new DateTime(DateTime.Now.Year, 7, 1).AddMonths(3).AddTicks(-1)
                    }
                },
             {"Quý 4", new DateRange
                    {
                        Start = new DateTime(DateTime.Now.Year, 9, 1),
                        End = new DateTime(DateTime.Now.Year, 12, 31)
                    }
                },
            };
}

