@page "/"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!-- Begin Slider With Category Menu Area -->
<div class="slider-with-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Category Menu Area -->
            <div class="col-lg-3">
                <!--Category Menu Start-->
                <div class="category-menu category-menu-2">
                    <div class="category-heading">
                        <h2 class="categories-toggle"><span>DANH MỤC SẢN PHẨM</span></h2>
                    </div>
                    <div id="cate-toggle" class="category-menu-list">
                        <ul>
                            @if (itemsClassVMs != null)
                            {
                                int numShowICls = itemsClassVMs.Count() > 9 ? 8 : 9;

                                @foreach (var _itemsClassVM in itemsClassVMs.Where(x => x.IClsNo <= numShowICls))
                                {
                                    <li class="@(itemsGroupVMs.Where(x => x.IClsCode == _itemsClassVM.IClsCode).Count()>0?"right-menu":"")">
                                        <a href="/Items">@_itemsClassVM.IClsName</a>
                                        @if (itemsGroupVMs.Where(x => x.IClsCode == _itemsClassVM.IClsCode).Count() > 0)
                                        {
                                            <ul class="cat-mega-menu">
                                                @foreach (var _itemsGroupVM in itemsGroupVMs.Where(x => x.IClsCode == _itemsClassVM.IClsCode))
                                                {
                                                    <li class="right-menu cat-mega-title">
                                                        <a href="/Items">@_itemsGroupVM.IGrpName</a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                                @if (itemsClassVMs.Count() > 9)
                                {
                                    @foreach (var _itemsClassVM in itemsClassVMs.Where(x => x.IClsNo > 8))
                                    {
                                        <li class="rx-child"><a href="#">@_itemsClassVM.IClsName</a></li>
                                    }

                                    <li class="rx-parent">
                                        <a class="rx-default">Hiển thị thêm</a>
                                        <a class="rx-show">Thu gọn</a>
                                    </li>
                                }

                            }
                        </ul>
                    </div>
                </div>
                <!--Category Menu End-->
            </div>
            <!-- Category Menu Area End Here -->
            <!-- Begin Slider Area -->
            <div class="col-lg-6 col-md-8">
                <div class="slider-area slider-area-3 pt-sm-30 pt-xs-30 pb-xs-30">
                    <div class="slider-active owl-carousel">
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-01 bg-7">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5><span>Giải pháp công nghệ thông tin</span></h5>
                                <h2>Khảo sát, tư vấn, thiết kế hệ thống</h2>
                                <h3><span>Tư vấn miễn phí</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="https://zalo.me/0362428369" target="_blank"><i class="fa fa-phone" aria-hidden="true"></i> 036.242.8369</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-02 bg-8">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5><span>Giải pháp công nghệ thông tin</span></h5>
                                <h2>Đề xuất phương án thiết bị phù hợp với doanh nghiệp</h2>
                                <h3><span>Tư vấn miễn phí</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="https://zalo.me/0362428369" target="_blank"><i class="fa fa-phone" aria-hidden="true"></i> 036.242.8369</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-01 bg-9">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5><span>Giải pháp công nghệ thông tin</span></h5>
                                <h2>Phần mềm quản trị tối ưu theo đặc thù doanh nghiệp</h2>
                                <h3><span>Tư vấn miễn phí</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="https://zalo.me/0362428369" target="_blank"><i class="fa fa-phone" aria-hidden="true"></i> 036.242.8369</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Slider Area End Here -->
            <!-- Begin Li Banner Area -->
            <div class="col-lg-3 col-md-4 text-center pt-sm-30">
                <div class="li-banner">
                    <a href="#">
                        <img src="images/banner/banner_1.png" alt="">
                    </a>
                </div>
                <div class="li-banner mt-15 mt-sm-30 mt-xs-25 mb-xs-5">
                    <a href="#">
                        <img src="images/banner/banner_1.png" alt="">
                    </a>
                </div>
            </div>
            <!-- Li Banner Area End Here -->
        </div>
    </div>
</div>
<!-- Slider With Category Menu Area End Here -->
<!-- Begin Li's Static Banner Area -->
<div class="li-static-banner pt-20 pt-sm-30">
    <div class="container">
        <div class="row">
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4 text-center">
                <div class="single-banner pb-xs-30">
                    <a href="#">
                        <img src="images/banner/banner_3.png" alt="Li's Static Banner">
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4 text-center">
                <div class="single-banner pb-xs-30">
                    <a href="#">
                        <img src="images/banner/banner_3.png" alt="Li's Static Banner">
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4 text-center">
                <div class="single-banner">
                    <a href="#">
                        <img src="images/banner/banner_3.png" alt="Li's Static Banner">
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
        </div>
    </div>
</div>
<!-- Li's Static Banner Area End Here -->
<!-- Begin Li's Trending Product Area -->
@if (itemsVMs != null)
{
    @foreach (var _itemsClassVM in itemsVMs.Select(x => new { x.IClsCode, x.IClsName }).Distinct())
    {
        <section class="product-area pt-45">
            <div class="container">
                <div class="row">
                    <!-- Begin Li's Tab Menu Area -->
                    <div class="col-lg-12">
                        <div class="li-section-title">
                            <h2>
                                <span>@_itemsClassVM.IClsName</span>
                            </h2>
                            <ul class="li-sub-category-list">
                                <li><a class="active" data-toggle="tab" href="#home1"><span>Xem tất cả <i class="fa fa-arrow-right" aria-hidden="true"></i></span></a></li>
                            </ul>
                        </div>
                        <!-- Begin Li's Tab Menu Content Area -->
                        <div class="row">
                            <div class="product-active owl-carousel">
                                @foreach (var _itemsVM in itemsVMs.Where(x => x.IClsCode == _itemsClassVM.IClsCode))
                                {
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="#" data-toggle="modal" data-target="#modalQuickViewProduct" @onclick="() => itemsVM = _itemsVM">
                                                    <img src="@(Configuration["ApiUrl"]+_itemsVM.IURLPicture1)" alt="Li's Product Image">
                                                </a>
                                                <span class="sticker">Mới</span>
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="instock">
                                                            <i class="fa fa-check" aria-hidden="true"></i> Sẵn hàng
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="#" data-toggle="modal" data-target="#modalQuickViewProduct" @onclick="() => itemsVM = _itemsVM">@_itemsVM.IName</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price new-price-2">@String.Format("{0:#,##0}", _itemsVM.IPrice) đ</span>
                                                        <span class="old-price">@String.Format("{0:#,##0}", _itemsVM.IPrice) đ</span>
                                                        <span class="discount-percentage">-0%</span>
                                                    </div>
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active"><a href="#">Thêm vào giỏ</a></li>
                                                        <li><a class="links-details" href="single-product.html"><i class="fa fa-heart-o"></i></a></li>
                                                        <li><a class="quick-view" href="#" data-toggle="modal" data-target="#modalQuickViewProduct" @onclick="() => itemsVM = _itemsVM"><i class="fa fa-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- Tab Menu Content Area End Here -->
                    </div>
                    <!-- Tab Menu Area End Here -->
                </div>
            </div>
        </section>
    }
}
<!-- Li's Trending Product Area End Here -->

<ModalQuickViewProduct itemsVM=@itemsVM></ModalQuickViewProduct>
